.block-about-text {
  @media (min-width: $screen-lg-min) {
    padding-right: 100px;
  }
  @media (min-width: $screen-sm-min) {
    .title-wrap:first-child {
      margin-top: 30px;
    }
  }
}

.block-statistic {
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.block-statistic-item {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  transition: .2s;
  @media (max-width: $screen-lg-max) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (max-width: $screen-sm-max) {
    padding: 30px 10px;
  }
  &-icon {
    background-color: #2b2b2b;
    color: $theme_color;
    font-size: 50px;
    line-height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin-left: auto;
    margin-right: auto;
    &:not(:first-child) {
      margin-top: 10px;
    }
    @media (max-width: $screen-md-max) {
      font-size: 40px;
      width: 75px;
      height: 75px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 26px;
      width: 55px;
      height: 55px;
    }
  }
  &-number {
    color: #2b2b2b;
    font-size: 120px;
    line-height: 1em;
    font-weight: bold;
    &:not(:first-child) {
      margin-top: 10px;
    }
    @media (max-width: 1599px) {
      font-size: 100px;
    }
    @media (max-width: $screen-lg-max) {
      font-size: 80px;
    }
    @media (max-width: $screen-md-max) {
      font-size: 60px;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 50px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 40px;
    }
  }
  &-text {
    color: #2b2b2b;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1.5px;
    @media (max-width: $screen-xs-max) {
      font-size: 13px;
    }
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &:hover {
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    z-index: 1;
  }
}