.addresses-head {
  align-items: center;
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
    align-items: flex-start;
  }
  &:not(:first-child) {
    margin-top: 50px;
    @media (max-width: $screen-sm-max) {
      margin-top: 30px;
    }
  }
  & + * {
    margin-top: 30px;
  }
  & > * {
    display: flex;
    @media (max-width: $screen-xs-max) {
      flex-direction: column;
    }
  }
  .btn {
    @media (min-width: $screen-sm-min) {
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 10px;
    }
  }
}

.order-head {
  align-items: center;
  &:not(:first-child) {
    margin-top: 50px;
    @media (max-width: $screen-sm-max) {
      margin-top: 30px;
    }
  }
  & + * {
    margin-top: 30px;
  }
  & > * {
    display: flex;
    align-items: baseline;
    @media (max-width: $screen-sm-max) {
      flex-direction: column;
    }
  }
}

.order-head-title {
  margin-right: 15px;
}

.order-head-date {
  margin-top: 0;
  margin-right: 15px;
}

.table-order-history td:nth-child(1) {
  color: $theme_color;
}

.table-order-history td:nth-child(2) {
  color: $color_dark;
  white-space: nowrap;
}

.table-order-history td:last-child {
  color: $color_dark;
  font-weight: 700;
  text-align: right;
}

.table-order td:nth-child(1) {
  color: $color_dark;
  white-space: nowrap;
}

.table-order td:last-child {
  color: $color_dark;
  font-weight: 700;
  text-align: right;
}

.order-subtotal {
  font-size: 13px;
  font-weight: 700;
}

.order-total {
  font-size: 18px;
  font-weight: 700;
}