.form-toggle-link {
  color: #c7c7c7;
  &:hover {
    text-decoration: none;
    color: $color_dark;
  }
  &.active {
    color: $color_dark;
  }
}

.form-toggled:not(.active) {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s;
}

.form-box {
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width: $screen-md-max) {
    margin-bottom: 0;
  }
}