.blog-posts-grid.post-1 .blog-post:not(:first-child) {
  margin-top: 70px;
  @media (max-width: $screen-sm-max) {
    margin-top: 40px;
  }
}

.h1-title + .blog-posts-grid {
  margin-top: -10px;
}

.blog-post + * {
  margin-top: 45px;
}

.blog-post-meta {
  font-size: 13px;
  [class*='icn-'] {
    font-size: 14px;
    padding-right: 10px;
    position: relative;
    top: 1px;
  }
  display: flex;
  align-items: center;
  a:not(.btn) {
    color: inherit;
  }
  a:not(.btn):hover {
    color: $theme_color;
    text-decoration: none;
  }
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.blog-post-title {
  color: $from_blog_title_color;
  &:not(:first-child) {
    margin-top: 20px;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.blog-post-photo {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.blog-post-text {
  color: $from_blog_text_color;
  &:not(:first-child) {
    margin-top: 20px;
  }
  & > *:not(p):not(:last-child) {
    margin-bottom: 30px;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 15px;
    }
  }
}

.blog-posts-grid.post-3 .blog-post-more {
  @include flexWidth(100%);
  &:not(:first-child) {
    margin-top: 10px;
  }
}

@media (min-width: $screen-sm-min) {
  .blog-posts-grid.post-1 .blog-post-more,
  .blog-posts-grid.post-2 .blog-post-more {
    margin-left: auto;
  }
}

@media (max-width: $screen-md-max) {
  .blog-posts-grid.post-1 .blog-post-more,
  .blog-posts-grid.post-2 .blog-post-more {
    @include flexWidth(100%);
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .blog-posts-grid.post-1 {
    .blog-post--column {
      display: flex;
      align-items: center;
      margin-left: -15px;
      margin-right: -15px;
      .blog-post-text {
        margin-top: 0;
      }
    }
    .blog-post--column > * {
      @include flexWidth(50%);
      padding: 0 15px;
    }
    .blog-post--column .blog-post-meta > *:last-child {
      @include flexWidth(100%);
    }
    .blog-post--column .blog-post-meta > *:last-child:not(:only-child) {
      margin-top: 20px;
    }
  }
}

.blog-post-row {
  align-items: center;
  position: relative;
  padding: 25px 0;
}

.blog-post-row,
.blog-post-row [class*='col'] > a {
  color: #2b2b2b;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}

.blog-post-row [class*='col'] > a:hover {
  color: $theme_color;
  text-decoration: none;
}

.blog-post-row:not(:last-child):after {
  border-bottom: 1px solid #e9e9e9;
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 15px;
  right: 15px;
}

.blog-post-row:after {
  border-bottom: 1px solid #e9e9e9;
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 15px;
  right: 15px;
}

.blog-post-comments:not(:first-child) {
  margin-top: 30px;
}

.blog-post-comment {
  position: relative;
  padding: 0 0 30px;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  & + * {
    margin-top: 30px;
  }
}

.blog-post-comment-photo {
  img {
    border-radius: 50%;
    width: 70px;
  }
}

.blog-post-comment-name {
  color: #2b2b2b;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}

.blog-post-comment-date {
  color: $from_blog_date_color;
  font-size: 13px;
  line-height: 18px;
  @media (min-width: $screen-sm-min) {
    margin-left: auto;
  }
}

.blog-post-comment-content {
  & > * + * {
    margin-top: 10px;
  }
}

.blog-post-comment-text,
.blog-post-comment-text p {
  font-size: 15px;
  line-height: 22px;
}

.blog-post-comment:not(:last-child):after {
  border-bottom: 1px solid #e9e9e9;
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 15px;
  right: 15px;
}

.blog-posts-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-left: -15px;
  margin-right: -15px;
  & > * {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.blog-posts-grid.post-3 {
  & > * {
    @include flexWidth(33.333%);
    @media (max-width: $screen-md-max) {
      @include flexWidth(50%);
    }
    @media (max-width: $screen-xs-max) {
      @include flexWidth(100%);
    }
  }
}

.blog-posts-grid.post-2 {
  & > * {
    @include flexWidth(50%);
    @media (max-width: $screen-md-max) {
      @include flexWidth(50%);
    }
    @media (max-width: $screen-xs-max) {
      @include flexWidth(100%);
    }
  }
}

.blog-posts-grid:not(.post-1) .blog-post-title + .blog-post-text {
  border-top: 2px solid #2b2b2b;
  margin-top: 25px;
  padding-top: 25px;
}

.blog-posts-grid:not(.post-1) .blog-post-title + .blog-post-video {
  border-top: 2px solid $theme_color;
  margin-top: 25px;
  padding-top: 25px;
}

.blog-post img {
  max-width: 100%;
}