.bg-brands {
  background: $brands_carousel_bg;
}

.brands-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 100%;
    max-width: 180px;
  }
}

.brands-grid > * {
  margin: 10px 0;
  display: block;
  @include flexWidth(12.5%);
  min-width: 150px;
}

.brands-grid-style2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -30px -15px 0;
  @media (max-width: $screen-sm-max) {
    margin: -10px -5px 0;
  }
  img {
    max-width: 100%;
  }
}

.brands-grid-style2 > * {
  margin: 30px 15px 0;
  display: block;
  background-color: #f2f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  @media (max-width: $screen-sm-max) {
    margin: 10px 5px 0;
    @include flexWidth(calc(33.333% - 10px));
  }
  &:hover {
    background-color: #ffffff;
    box-shadow: 0 20px 27px rgba(0, 0, 0, .15)
  }
}

.brands-carousel.slick-slider {
  img {
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
}

.brands-carousel, .brands-grid {
  img {
    transition: .2s;
  }
  a:hover img {
    opacity: .5 !important
  }
}