.btn {
  cursor: pointer;
}

.mln-btn,
.mln-btn-invert,
.mln-btn-promo,
.mln-btn-white {
  height: 46px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  padding: 9px 50px;
  border-radius: 0;
  cursor: pointer;
  transition: .1s;
  @media (max-width: $screen-lg-max) {
    padding: 9px 45px;
  }
  @media (max-width: $screen-sm-max) {
    height: auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 9px 28px;
    //padding: 5px 28px;
  }
  [class*='icn-'] {
    position: relative;
    display: inline-block;
    top: 1px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

body.rounded-btns [class*='mln-btn'], .mln-btn--rounded {
  border-radius: 22px;
  @media (max-width: $screen-sm-max) {
    border-radius: 21px;
  }
}

.mln-btn-link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  padding: 9px 15px;
  border-radius: 0;
  transition: .1s;
  @media (max-width: $screen-sm-max) {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    padding: 8px 28px;
    height: auto;
  }
  [class*='icn-'] {
    position: relative;
    display: inline-block;
    top: 1px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  [class*='icn-close'] {
    font-size: 11px;
    top: -1px;
  }
}

.mln-btn {
  @if $btn_gradient {
    @include gradient($btn_bg, $btn_bg_end, horizontal);
    background-size: 200% auto;
  }
  @if $btn_simple {
    background: $btn_bg;
  }
  color: $btn_color;
  transition: .2s;
  border-color: $btn_border;
  border-style: solid;
  border-width: $btn_border_width;
}

.mln-btn:hover {
  @if $btn_gradient {
    @include gradient($btn_hover_bg_end, $btn_hover_bg, horizontal);
    background-position: right center;
    background-size: 200% auto;
  }
  @if $btn_simple {
    background: $btn_hover_bg;
  }
  color: $btn_hover_color;
  border-color: $btn_hover_border;
  border-style: solid;
}

.mln-btn--border {
  @if $btn-border_gradient {
    @include gradient($btn-border_bg, $btn-border_bg_end, horizontal);
    background-size: 200% auto;
  }
  @if $btn-border_simple {
    background: $btn-border_bg;
  }
  color: $btn-border_color;
  border-color: $btn-border_border;
  border-style: solid;
  border-width: $btn-border_border_width;
}

.mln-btn--border:hover {
  @if $btn-border_gradient {
    @include gradient($btn-border_hover_bg_end, $btn-border_hover_bg, horizontal);
    background-position: right center;
    background-size: 200% auto;
  }
  @if $btn-border_simple {
    background: $btn-border_hover_bg;
  }
  color: $btn-border_hover_color;
  border-color: $btn-border_hover_border;
  border-style: solid;
}

.mln-btn-invert {
  background: $btn_hover_bg;
  color: $btn_hover_color;
  border: 1px solid $btn_hover_bg;
}

.mln-btn-invert:hover {
  background: $btn_bg;
  border-color: $btn_bg;
  color: $btn_color;
}

.mln-btn-link {
  background: transparent;
  color: $btn_link_color;
  border: 0;
}

.mln-btn-link:hover {
  color: $btn_link_hover_color;
}

.mln-btn-promo {
  background: transparent;
  color: $btn_promo_color;
  border: 1px solid $btn_promo_color;
}

.mln-btn-promo:hover {
  background: $btn_promo_hover_bg;
  border-color: $btn_promo_hover_bg;
  color: $btn_promo_hover_color;
}

.mln-btn-white {
  background: #fff;
  color: #2d2d2d;
  border-color: #fff;
}

.mln-btn-white:hover {
  background: $btn_hover_bg;
  border-color: $btn_hover_bg;
  color: $btn_hover_color;
}

.btn-sm {
  height: auto;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 28px;
}

.btn-block + .btn-block {
  margin-top: 10px;
}

.btn-inline {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px 0;
  & > .btn {
    margin: 10px 10px 0;
  }
  & + * {
    margin-top: 30px;
  }
  &.text-center {
    justify-content: center;
  }
  &.text-right {
    justify-content: flex-end;
  }
}
