.cart-table-header,
.cart-table-row {
  > * {
    padding: 15px;
    transition: margin .2s ease, background .5s ease;
    flex: 1;
  }
  > *:nth-child(1) {
    @include flexWidth(160px);
    @media (max-width: $screen-md-max) {
      @include flexWidth(120px);
    }
  }
  > *:nth-child(2) {
    @include flexWidth(260px);
    @media (max-width: $screen-md-max) {
      @include flexWidth(200px);
    }
  }
  > *:nth-child(5) {
    text-align: center;
  }
  > *:nth-child(6) {
    @include flexWidth(60px);
    text-align: center;
  }
}

.cart-table-header {
  display: flex;
  border-bottom: 1px solid $color5;
  > * {
    font-weight: bold;
    font-size: 18px;
    color: $h_color;
  }
  > *:nth-child(1) {
    padding-left: 0;
  }
}

.cart-table-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color5;
  > * {
    padding: 25px 15px;
  }
  ul {
    margin-bottom: 0;
  }
}

.cart-product-title {
  margin: 0;
  font-size: 15px;
  line-height: 1em;
  font-weight: normal;
  color: $h_color;
  a {
    color: $h_color;
  }
}

.cart-product-total {
  font-size: 26px;
  line-height: 1em;
  font-weight: 600;
  white-space: nowrap;
  @media (max-width: $screen-md-max) {
    font-size: 22px;
  }
}

.cart-product-delete {
  font-size: 11px;
  text-decoration: none;
  span {
    font-size: 14px;
    font-weight: 600;
    padding: 0 7px;
  }
  &:hover {
    color: $color_dark;
    text-decoration: none;
  }
}

.cart-product-price {
  font-size: 18px;
  line-height: 1em;
  font-weight: 600;
  white-space: nowrap;
  .price-old {
    display: block;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
  }
  .price-new {
    display: block;
    color: $theme_color;
    white-space: nowrap;
  }
}

.cart-product-photo-wrap {
  position: relative;
}

.cart-product-photo {
  width: 130px;
  height: 0;
  padding-bottom: 130px;
  border-radius: 50%;
  overflow: hidden;
  @media (max-width: $screen-md-max) {
    width: 90px;
    padding-bottom: 90px;
  }
  img {
    width: 100%;
  }
}

.cart-product-title + * {
  margin-top: 15px;
}

.cart-product-labels {
  position: absolute;
  top: 0;
  width: 100%;
}

.cart-product-hover {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#2b2b2b, .8);
  transition: .2s;
}

.cart-product-hover:after {
  position: absolute;
  content: '\e901';
  font-family: 'icomoon';
  font-size: 30px;
  line-height: 1em;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-product-photo-wrap:hover {
  .cart-product-hover {
    opacity: 1;
  }
  .cart-product-labels {
    display: none;
  }
}

.cart-product-labels > * {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 12px;
  height: 24px;
  border-radius: 12px;
  background-color: $label_sale_bg;
  color: $label_sale_color;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

@media (max-width: $screen-sm-max) {
  .cart-table-header {
    display: none;
  }
  .cart-product-photo-wrap {
    width: 90px;
  }
  .cart-table-row {
    display: block;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid $color5;
    > * {
      position: relative;
      margin-left: 100px;
      text-align: left !important;
      padding: 10px 0;
      &:before {
        position: absolute;
        top: 5px;
        left: -100px;
        max-width: 100px;
        content: attr(data-head);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
        color: $color_dark;
      }
    }
    > *:nth-child(6) {
      @include flexWidth(100%);
    }
  }
}

.total-table-row {
  padding: 16px 0;
  border-bottom: 1px solid $color_dark;
  color: $color_dark;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
}

.total-table-sum {
  padding: 16px 0;
  color: $color_dark;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}