.category-banner-wrap {
  overflow: hidden;
  position: relative;
}

.category-banner-info {
  padding-top: 32px;
  @media (max-width: $screen-md-max) {
    padding-top: 0;
  }
}

.category-banner {
  display: block;
  position: relative;
  img {
    min-width: 100%;
  }
}

.category-banner--brd:after {
  content: '';
  @include fullAbsolute;
  border: 8px solid $color_dark;
  @media (max-width: $screen-sm-max) {
    border-width: 5px;
  }
}

.category-banner-txt {
  @include fullAbsolute;
  display: flex;
  z-index: 1;
  padding: 11% 11%;
}

.category-banner-txt > * + * {
  margin-top: 5px;
}

.category-banner-txt.txt-dark {
  color: $color_dark;
}

.category-banner-txt.txt-light {
  color: #fff
}

.category-banner-txt-1 {
  overflow: hidden;
  font-size: 30px;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: .8px;
  @media (max-width: $screen-sm-max) {
    font-size: 24px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 20px;
  }
  @media (max-width: $screen-xxs-max) {
    font-size: 17px;
  }
}

.category-banner-txt-2 {
  overflow: hidden;
  font-size: 15px;
  line-height: 1.4em;
  letter-spacing: .8px;
  @media (max-width: $screen-xs-max) {
    font-size: 14px;
  }
}

.category-banner-hover {
  @include fullAbsolute();
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  &:before {
    content: '';
    @include fullAbsolute;
    z-index: 0;
    background-color: #2b2b2b;
    opacity: .77;
  }
}

.category-banner-wrap:hover {
  .category-banner-hover {
    opacity: 1;
  }
}

.category-banner-hover-inside {
  position: relative;
  z-index: 1;
  pointer-events: all;
}

//category banner 2
.category-banner2 {
  display: block;
  position: relative;
  text-decoration: none;
  & > * {
    display: block;
    min-height: 160px;
    background-color: $category_banner2_bg;
    @media (max-width: $screen-xs-max) {
      min-height: 80px;
    }
  }
  img {
    width: 100%;
  }
  &:after {
    @include gradient($category_banner2_hover_bg_start, $category_banner2_hover_bg_end, horizontal);
    background-size: 200% auto;
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: .2s;
    @media (max-width: $screen-sm-max) {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
  }
  &:hover {
    .category-banner2-txt {
      opacity: 0;
      .category-banner2-txt-1 {
        transform: translateY(-20px);
      }
      .category-banner2-txt-2 {
        transform: translateY(20px);
      }
    }
    .category-banner2-hovertxt {
      opacity: 1;
    }
  }
  &:hover:after {
    opacity: 1;
  }
}

.category-banner2-txt,
.category-banner2-hovertxt {
  @include fullAbsolute;
  display: flex;
  z-index: 1;
  padding: 11% 11%;
  transition: .2s;
}

.category-banner2-hovertxt {
  opacity: 0;
}

.category-banner2-txt > * + *,
.category-banner2-hovertxt > * + * {
  margin-top: 5px;
}

.category-banner2-txt.txt-dark,
.category-banner2-hovertxt.txt-dark {
  color: $category_banner2_title_dark_color;
}

.category-banner2-txt.txt-light,
.category-banner2-hovertxt.txt-light {
  color: $category_banner2_title_light_color
}

.category-banner2-txt-1 {
  font-size: 30px;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: .8px;
  transition: .2s;
  @media (max-width: $screen-sm-max) {
    font-size: 22px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 18px;
  }
  @media (max-width: $screen-xxs-max) {
    font-size: 15px;
  }
}

.category-banner2-txt-2 {
  font-size: 15px;
  line-height: 1.4em;
  letter-spacing: .8px;
  transition: .2s;
  @media (max-width: $screen-xs-max) {
    font-size: 13px;
  }
}

.category-banner2-txt-3 {
  font-size: 18px;
  line-height: 1.222em;
  font-weight: 500;
  @media (max-width: $screen-xs-max) {
    font-size: 14px;
  }
}

.category-banner-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  transform: translateY(-20px);
  @media (max-width: $screen-sm-max) {
    margin-left: -5px;
    margin-right: -5px;
  }
  &:not(:first-child) {
    margin-top: 50px;
    @media (max-width: $screen-sm-max) {
      margin-top: 30px;
    }
  }
  .category-banner2 {
    @include flexWidth(calc(20% - 20px));
    margin: 20px 10px 0;
    @media (max-width: $screen-md-max) {
      @include flexWidth(calc(33.333% - 20px));
      margin: 10px 5px 0;
    }
    @media (max-width: $screen-xs-max) {
      @include flexWidth(calc(50% - 20px));
    }
  }
}

//category banner 3
.category-banner3 {
  display: block;
  position: relative;
  img {
    width: 100%;
  }
  .btn {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.category-banner3-txt {
  @include fullAbsolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 11% 11%;
}

.category-banner3-txt > * + * {
  margin-top: 5px;
}

.category-banner3-txt.txt-dark {
  color: $color_dark;
}

.category-banner3-txt.txt-light {
  color: #fff
}

.category-banner3-txt-1 {
  font-size: 60px;
  line-height: .8em;
  font-weight: bold;
  @media (max-width: $screen-lg-max) {
    font-size: 40px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 35px;
  }
  @media (max-width: $screen-xxs-max) {
    font-size: 30px;
  }
}

.category-banner3-txt-2 {
  font-size: 15px;
  line-height: 1.4em;
  letter-spacing: .8px;
  @media (max-width: $screen-xs-max) {
    font-size: 14px;
  }
}

//subcategory block
.subcategory-block {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  &-txt {
    color: #fff;
    padding: 50px 60px 80px;
    @media (max-width: $screen-sm-max) {
      padding: 30px;
    }
  }
  &-title {
    color: #fff;
    font-size: 60px;
    line-height: 1em;
    font-weight: bold;
    &:not(:first-child) {
      margin-top: 20px;
    }
    @media (max-width: $screen-lg-max) {
      font-size: 50px;
    }
    @media (max-width: $screen-md-max) {
      font-size: 45px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 40px;
    }
    @media (max-width: $screen-xxs-max) {
      font-size: 36px;
    }
  }
  &-subtitle {
    color: #fff;
    font-size: 15px;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: 1.5px;
    &:not(:first-child) {
      margin-top: 6px;
    }
  }
  &-list {
    font-size: 13px;
    line-height: 18px;
    padding: 0;
    margin: 0 0 -10px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    max-width: 365px;
    list-style: none;
    &:not(:first-child) {
      margin-top: 45px;
    }
    li {
      margin-bottom: 10px;
    }
    li,
    li a {
      color: #9d9da5;
    }
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  &-btns {
    &:not(:first-child) {
      margin-top: 50px;
    }
  }
}
