.collection-slider {
  .product-grid {
    flex-wrap: nowrap;
    .product-item {
      .product-label-gallery {
        display: none;
      }
      .product-item-meta {
        display: none;
      }
      .options-list.options--gallery {
        display: none;
      }
    }
  }
}

.collection-slider-row {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1540px;
  padding: 0 60px;
  @media (max-width: $screen-md-max) {
    padding: 0;
  }
  &:not(:first-child) {
    margin-top: 40px;
  }
  & > * {
    margin: 0 15px;
  }
  .collection-slider-prev-wrap,
  .collection-slider-next-wrap {
    @include flexWidth(20%);
    height: 100%;
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }
  .collection-slider-products {
    @include flexWidth(60%);
    overflow: hidden;
    @media (max-width: $screen-md-max) {
      @include flexWidth(100%);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.collection-slider-item {
  visibility: visible !important;
  opacity: 1 !important;
}

@media (max-width: $screen-sm-max) {
  .collection-slider-item .product-item:nth-child(2) ~ .product-item {
    display: none;
  }
}

.collection-slider {
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
}

.collection-slider-title {
  .slick-next {
    right: 0 !important;
    @media (max-width: $screen-md-max) {
      right: 15px !important;
    }
  }
  .slick-prev {
    left: 0 !important;
    @media (max-width: $screen-md-max) {
      left: 15px !important;
    }
  }
}

.collection-slider-prev,
.collection-slider-next {
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
  }
}

.slider-nav-txt {
  @include fullAbsolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 38px 30px 30px;
  transition: .2s;
  &:before {
    background-color: $slider_nav_color;
    position: absolute;
    content: '';
    width: calc(50% - 30px);
    height: 1px;
    top: 50%;
    margin-top: -28px;
    transition: .2s;
  }
  &:after {
    color: $slider_nav_color;
    font-size: 8px;
    position: absolute;
    content: '\e906';
    font-family: 'icomoon';
    top: 50%;
    margin-top: -41px;
    transition: .2s;
  }
}

.collection-slider-prev .slider-nav-txt {
  &:before {
    right: 30px;
  }
  &:after {
    right: 50%;
    content: '\e906';
  }
}

.collection-slider-next .slider-nav-txt {
  &:before {
    left: 30px;
  }
  &:after {
    left: 50%;
    content: '\e909';
  }
}

.collection-slider-prev .slider-nav-txt:hover {
  &:before {
    width: calc(100% - 60px);
  }
  &:after {
    right: calc(100% - 30px);
  }
}

.collection-slider-next .slider-nav-txt:hover {
  &:before {
    width: calc(100% - 60px);
  }
  &:after {
    left: calc(100% - 30px);
  }
}

.collection-slider-prev .slider-nav-txt {
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

.slider-nav-txt:hover {
  &:before {
    background-color: $slider_nav_hover_color;
  }
  &:after {
    color: $slider_nav_hover_color;
  }
  .slider-nav-txt1,
  .slider-nav-txt2 {
    color: $slider_nav_hover_color;
  }
}

.collection-slider-next .slider-nav-txt {
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.slider-nav-txt1 {
  color: $slider_nav_color;
  font-size: 30px;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: 1.4px;
  transition: .2s;
  @media (max-width: $screen-lg-max) {
    font-size: 23px;
  }
  @media (max-width: $screen-sm-max) {
    font-size: 22px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 18px;
  }
  @media (max-width: $screen-xxs-max) {
    font-size: 15px;
  }
}

.slider-nav-txt2 {
  color: $slider_nav_color;
  font-size: 15px;
  line-height: 1.4em;
  letter-spacing: .8px;
  transition: .2s;
  @media (max-width: $screen-lg-max) {
    font-size: 13px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 13px;
  }
}
