.block-coming {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & > .container {
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.block-coming-text {
  color: #999a9b;
  font-size: 15px;
  line-height: 28px;
}

.block-coming-text + * {
  margin-top: 50px;
  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }
}

.block-coming-counter-wrap + * {
  margin-top: 35px;
  @media (max-width: $screen-xs-max) {
    margin-top: 20px;
  }
}

.block-coming-counter-wrap .counter-tags {
  color: #2b2b2b;
  font-size: 12px;
  font-weight: 500;
  span {
    display: block;
    float: left;
    width: 81px;
    text-align: center;
    @media (max-width: $screen-xs-max) {
      width: 60px;
    }
  }
}

.block-coming-counter-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  & > * + * {
    margin-top: 7px;
  }
  .counter {
    color: #2b2b2b;
    font-size: 23px;
    line-height: 30px;
    font-weight: bold;
    border: 2px solid $color_dark;
    border-radius: 5px;
    width: 328px;
    max-width: 100%;
    overflow: hidden;
    padding: 6px 0;
    @media (max-width: $screen-xs-max) {
      width: auto;
    }
    span {
      position: relative;
      display: block;
      float: left;
      width: 81px;
      text-align: center;
      @media (max-width: $screen-xs-max) {
        width: 60px;
      }
    }
    span + span:before {
      position: absolute;
      left: -3px;
      top: -1px;
      content: ':';
    }
  }
}

.block-coming-form-inline {
  display: flex;
  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    & > *:not(:first-child) {
      margin-top: 10px;
    }
  }
  @media (min-width: $screen-sm-min) {
    & > *:not(:first-child) {
      margin-left: 20px;
    }
  }
  .form-control {
    background-color: transparent;
  }
}

#toggleLoginForm + label {
  padding: 0;
  margin: 0;
  &:before,
  &:after {
    display: none;
  }
}

.block-coming-login-form {
  margin-top: 50px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }
}

.block-coming-login-form form {
  display: none;
}

#toggleLoginForm:checked + label {
  display: none;
}

#toggleLoginForm:checked ~ form {
  display: block;
}

.block-coming-soon-footer {
  color: #999a9b;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px 15px;
  margin-top: auto;
}
