.banner-counter-1 {
  position: relative;
  .banner-counter-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 1;
    @media (max-width: $screen-md-max) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (max-width: $screen-sm-max) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  @media (min-width: $screen-md-min) {
    .banner-counter-img {
      display: flex;
      position: relative;
      img {
        position: absolute;
        right: 0;
        max-width: 100%;
      }
    }
    .banner-counter-img + * {
      margin-left: auto;
    }
  }
  .title-sub {
    color: $banner_counter1_title_sub_color;
  }
  h1, .h1-style {
    color: $banner_counter1_title_color;
  }
  .title-decor {
    background-color: $banner_counter1_decor_color;
  }
  .counter-wrap {
    color: $banner_counter1_counter_color;
  }
  .counter-wrap .counter {
    border-color: $banner_counter1_counter_border;
  }
}

.banner-counter-1 .counter-wrap.counter--white {
  color: #fff;
  .counter {
    border-color: #fff;
  }
}

.banner-counter-2 {
  position: relative;
  background-position: center center;
  background-size: cover;
  & > .row {
    position: relative;
  }
  .banner-counter-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 45px;
    @media (max-width: $screen-md-max) {
      padding-top: 45px;
      padding-bottom: 35px;
    }
    @media (max-width: $screen-sm-max) {
      padding-top: 45px;
      padding-bottom: 35px;
    }
  }
  .title-sub {
    color: $color_dark;
  }
  .title-wrap + * {
    margin-top: 43px;
  }
  .title-wrap * + * {
    margin-top: 16px;
    margin-bottom: 0;
  }
  .title-wrap .banner-counter-title + .title-decor {
    margin-top: 23px;
  }
  .banner-counter-title {
    font-size: 28px;
  }
  @media (min-width: $screen-md-min) {
    .banner-counter-img {
      img {
        position: absolute;
        left: 15%;
        bottom: 0;
        max-width: 100%;
      }
    }
  }
}

.counter-wrap {
  display: inline-block;
  vertical-align: top;
  color: $counter_color;
  @media (max-width: $screen-md-max) {
    max-width: 250px;
    display: block;
    display: flex;
    flex-direction: column;
    position: relative;
    & > * {
      position: relative;
      z-index: 1;
    }
  }
  @media (max-width: $screen-sm-max) {
    margin-left: auto;
    margin-right: auto
    &:after {
      position: absolute;
      z-index: 0;
      content: '';
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      opacity: .45;
      border-radius: 6px;
    }
  }
  & > * + * {
    margin-top: 7px;
  }
}

.counter-wrap:not(.counter--white) {
  @media (max-width: $screen-sm-max) {
    &:after {
      background-color: #fff;
    }
  }
}
.counter-wrap.counter--white {
  @media (max-width: $screen-sm-max) {
    &:after {
      background-color: #292929;
    }
  }
}

.counter-wrap + * {
  margin-left: 20px;
  @media (max-width: $screen-md-max) {
    margin: 20px 0 0 0;
  }
}

.counter-tags {
  font-size: 12px;
  span {
    display: block;
    float: left;
    width: 60px;
    text-align: center;
  }
}

.counter-wrap .counter {
  padding: 6px 0;
  border: 2px solid $counter_border;
  border-radius: 5px;
  font-size: 23px;
  line-height: 30px;
  font-weight: bold;
  overflow: hidden;
  span {
    position: relative;
    display: block;
    float: left;
    width: 60px;
    text-align: center;
  }
  span + span:before {
    position: absolute;
    left: -3px;
    top: -1px;
    content: ':';
  }
}

.banner-counter-img img {
  max-width: 100%;
}

@media (max-width: $screen-sm-max) {
  .counter-wrap .counter {
    display: inline-block;
  }
  .banner-counter {
    position: relative;
  }
  .banner-counter-text,
  .banner-counter-img {
    position: static;
    text-align: center;
  }
  .banner-counter-img {
    order: 2;
  }
  .banner-counter-bot {
    position: absolute;
    bottom: 60px;
    width: calc(100% - 30px);
  }
}
