.panel-group--style1 {
  .panel {
    transition: .1s;
    & + .panel {
      margin-top: 11px;
    }
  }

  .panel.active {
    background: #fff;
    border-bottom: 1px solid #292929;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    .panel-toggle span {
      color: #2b2b2b;
      transform: rotate(45deg);
    }
  }

  .panel-heading {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    transition: .2s;
  }

  .panel-title {
    font-size: 14px;
  }

  .panel-title > a {
    color: #2b2b2b;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    display: block;
    padding: 15px 15px 15px 50px;
    text-decoration: none;
  }

  .panel-toggle {
    color: #999a9a;
    font-size: 20px;
    margin: 0 20px 0 0;
    position: absolute;
    left: 15px;
    top: 15px;
    span {
      display: block;
      transition: .1s;
    }

  }

  .panel-body {
    padding: 15px 15px 35px 50px;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.panel-group--style2 {
  .panel {
    transition: .1s;
  }

  .panel.active {
    .panel-toggle span {
      color: #2b2b2b;
      transform: rotate(45deg);
    }
    .panel-heading {
      border-color: #292929;
    }
  }

  .panel-heading {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    transition: .2s;
    &:hover {
      border-color: #292929;
    }
  }

  .panel-title {
    font-size: 14px;
  }

  .panel-title > a {
    color: #2b2b2b;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    display: block;
    text-decoration: none;
  }
  .panel:first-child {
    .panel-title > a {
      padding: 10px 30px 5px 0;
    }
    .panel-toggle {
      top: 8px;
    }
  }
  .panel:not(:first-child) {
    .panel-title > a {
      padding: 35px 30px 5px 0;
    }
    .panel-toggle {
      top: 33px;
    }
  }
  .panel-toggle {
    color: #999a9a;
    font-size: 20px;
    margin: 0 0 0 20px;
    position: absolute;
    right: 0;
    span {
      display: block;
      transition: .1s;
    }

  }

  .panel-body {
    padding: 15px 0 25px;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
