.side-block + *, .side-block-detach + * {
  margin-top: 37px;
}

.side-block-title {
  display: flex;
  align-items: center;
  h3 {
    font-size: 22px;
    line-height: 1.545em;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.side-block-text {
  &,
  p {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: .05em;
  }
}

.filter-reset {
  font-size: 14px;
  line-height: 22px;
  margin-left: auto;
  margin-top: 0 !important;
  &:hover {
    color: $theme_color;
    text-decoration: none;
  }
}

.side-block .txt-list {
  @include listreset;
  li {
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
    margin-bottom: 1px;
  }
  li a {
    color: $color_dark;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    padding: 5px 0;
  }
  li a:hover {
    color: $theme_color;
    text-decoration: underline;
  }
  li.active a {
    color: $theme_color;
    &:before {
      font-size: 7px;
      font-family: icomoon;
      content: "\e913";
      position: relative;
      width: 18px;
    }
  }
  li.active a:hover {
    color: $theme_color;
  }
}

.selected-filters-list {
  @include listreset;
  margin-bottom: -5px;
  li {
    margin-bottom: 5px;
    display: inline-block;
  }
  li a {
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: $color_dark;
    background-color: #fff;
    border: 1px solid $color_dark;
    position: relative;
    display: inline-block;
    padding: 7px 10px 4px;
    &:after {
      font-size: 8px;
      font-family: icomoon;
      content: "\e913";
      padding: 0 0 0 9px;
      position: relative;
      top: -1px;
    }
  }
  li a:hover {
    color: #fff;
    background-color: $color_dark;
    text-decoration: none;
  }
  & + * {
    margin-top: 20px;
  }
}

.filters-reset {
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
  color: $color_dark;
  display: inline-block;
  [class*='icn'] {
    font-size: 10px;
    line-height: 17px;
    color: $color_dark;
    background-color: #fff;
    border: 1px solid $color_dark;
    position: relative;
    display: inline-block;
    padding: 7px 9px 4px;
    margin-right: 10px;
  }
  &:hover {
    text-decoration: none;
    color: $theme_color;
  }
  &:hover [class*='icn'] {
    color: #fff;
    background-color: $color_dark;
    text-decoration: none;
  }
  & + * {
    margin-top: 20px;
  }
}

.side-block {
  .opts-list {
    @include listreset;
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    width: calc(100% + 10px);
    li {
      margin: 4px 5px;
    }
  }
  .opts--color {
    text-align: left;
    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0s;
      width: 30px;
      height: 30px;
      background-color: $options-color_bg;
      &:before {
        content: '';
        @include fullAbsolute();
        z-index: 1;
        border: 1px solid $options-color_border;
        opacity: .3;
      }
    }
    img {
      width: 100%;
    }
    li:hover a {
      text-decoration: none;
      background-color: $options-color-hover_bg;
      &:before {
        border: 1px solid $options-color-hover_border;
        opacity: 1;
      }
    }
    li.active a {
      background-color: $options-color-active_bg;
      &:before {
        border: 1px solid $options-color-active_border;
        opacity: 1;
      }
      img {
        width: 24px;
      }
    }
    li.active:hover a {
      background-color: $options-color-active-hover_bg;
      img {
        opacity: 0;
      }
      &:after {
        @include fullAbsolute;
        z-index: 1;
        font-size: 7px;
        line-height: 29px;
        font-family: icomoon;
        content: '\e913';
        color: $theme_color;
        text-align: center;
      }
    }
  }
  .opts--size a {
    color: $options_color;
    border: 1px solid $options_border;
    background-color: $options_bg;
    padding: 6px 5px 5px;
    min-width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    overflow: hidden;
  }
  .opts--size li.active a {
    color: $options-active_color;
    background-color: $options-active_bg;
    border-color: $options-active_border;
  }
  .opts--size li.active a:hover {
    background-color: $options-active_bg;
    border-color: $options-active_border;
    span {
      opacity: 0;
    }
    &:after {
      @include fullAbsolute;
      z-index: 1;
      font-size: 7px;
      line-height: 29px;
      font-family: icomoon;
      content: '\e913';
      color: $theme_color;
      text-align: center;
    }
  }
  .opts--size li a:hover {
    text-decoration: none;
    color: $options-hover_color;
    background-color: $options-hover_bg;
    border-color: $options-hover_border;
  }
}

.side-block-title + *, .side-block-title + ul.txt-list, .side-block-title + ul.opts-list {
  margin-top: 20px;
}

.side-block-title + ul.tags-list {
  margin-top: 15px;
}

.side-block-title + .product-item-scroll {
  margin-top: 15px;
}

.category-block + * {
  margin-top: 37px;
}

.filter-view-switcher {
  display: flex;
  align-items: center;
  margin: 1px -7px 0;
}

.filter-view-switcher a {
  color: $color4;
  font-size: 18px;
  line-height: 1em;
  font-weight: 600;
  padding: 0 7px;
}

.filter-view-switcher a:hover {
  text-decoration: none;
  color: $theme_color;
}

.filter-view-switcher a.active {
  color: $color_dark;
}

.filter-view-label {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  color: $color1;
}

.filter-view-select {
  display: inline-block;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 0;
    width: 25px;
    background: #fff;
    pointer-events: none;
  }
  &:before {
    font-family: 'icomoon';
    content: '\e927';
    position: absolute;
    font-size: 8px;
    line-height: 1em;
    z-index: 2;
    right: 10px;
    top: 50%;
    margin-top: -2px;
    pointer-events: none;
  }
  select {
    -webkit-appearance: none;
    border: 0;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    color: $color1;
    padding: 0 30px 0 5px;
  }
}

.filter-view-select-wrap + .filter-view-select-wrap {
  margin-left: 30px;
}

.filter-view-select-wrap {
  display: inline-block;
}

.filter-view-select-wrap:last-child {
  margin-right: -5px;
}

@media (max-width: $screen-md-max) {
  .sidefilter {
    height: 100%;
    width: 387px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 75px 50px 50px;
    list-style: none;
    background-color: #fff;
    overflow-y: auto;
    z-index: 1061;
    transform: translateX(-100%);
    transition: .4s ease;
  }
  .sidefilter .select-wrap + * {
    margin-top: 25px;
  }
  .sidefilter.is-open {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
  }
  .sidefilter.is-open + .dark-overlay {
    display: block;
    opacity: 0.4;
    z-index: 1060;
  }
  .sidefilter-close {
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 14px;
    font-weight: bold;
    color: $color1;
    cursor: pointer;
    [class*='icn-'] {
      position: relative;
      top: 2px;
      font-size: 16px;
      margin-left: 5px;
    }
  }
  .sidefilter-close:hover {
    color: $theme_color;
    text-decoration: none;
  }
  .sidefilter-open {
    font-size: 14px;
    font-weight: bold;
    color: $color1;
    cursor: pointer;
    [class*='icn-'] {
      position: relative;
      top: 2px;
      font-size: 16px;
      margin-right: 5px;
    }
  }
  .sidefilter-open:hover {
    color: $theme_color;
    text-decoration: none;
  }
}

.filter-row > .container {
  position: relative;
  padding: 0;
}

.filter-row [class*='col-'] {
  position: static;
}

.drop-filter {
  background-color: #fff;
  border-top: 2px solid #2b2b2b;
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 35px 0 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  &.opened {
    display: block;
  }
  .side-block .txt-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
    width: calc(100% + 14px);
    li {
      margin: 4px 7px;
    }
  }
  .side-block-title {
    border-bottom: 0;
  }
  .side-block-title + *, .side-block-title + ul.txt-list, .side-block-title + ul.opts-list {
    margin-top: 5px;
  }
  .side-block + * {
    margin-top: 15px;
  }
  & > .row > [class*='col'] {
    padding: 0 50px;
  }
  & > .row > [class*='col']:not(:first-child) {
    border-left: 1px solid #e9e9e9;
  }
}

.drop-filter-actions {
  color: #fff;
  background-color: #2b2b2b;
  font-size: 14px;
  padding: 15px;
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .btn {
    min-width: 120px;
    margin-left: 15px;
  }
}

.drop-filter-actions-btn1 {
  background-color: #999a9b;
  color: #2b2b2b;
  border: 0;
  &:hover {
    background-color: $theme_color;
    color: #fff;
  }
}

.drop-filter-actions-btn2 {
  background-color: #fff;
  color: #2b2b2b;
  border: 0;
  &:hover {
    background-color: $theme_color;
    color: #fff;
  }
}

.drop-filter-actions-status {
  display: none;
  .mln-loader > * {
    background-color: #fff;
  }
}

.drop-filter-actions-status.status-loading {
  display: inline-block;
  span {
    display: none;
  }
}

.drop-filter-actions-status.status-loaded {
  display: inline-block;
  .mln-loader {
    display: none;
  }
}

@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  .filter-row-wrap.sticky {
    position: sticky;
    z-index: 1039;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;

    & > .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .has-sticky .filter-row-wrap.sticky {
    top: 67px;
  }
}