footer {
  background-color: $footer_bg;
  margin-top: $section-v-space;
  @media (max-width: $screen-md-max) {
    margin-top: $section-v-space-md;
  }
  @media (max-width: $screen-sm-max) {
    margin-top: $section-v-space-sm;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: $section-v-space-xs;
  }
}

@media (min-width: 1281px) {
  footer .container-fluid {
    padding-left: $container_full_pad;
    padding-right: $container_full_pad;
  }
}

footer.mt-0 > .footer-topline {
  border: 0;
}

.footer-topline {
  position: relative;
  height: 50px;
  @media (max-width: $screen-sm-max) {
    height: 30px;
  }
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $footer_topline_border;
  @media (min-width: 1281px) {
    &.container-fluid {
      padding-left: 0;
      padding-right: 0;
      width: auto;
      margin-left: $container_full_pad;
      margin-right: $container_full_pad;
    }
  }
}

.footer-center-row1 {
  padding-bottom: 48px;
  @media (max-width: $screen-md-max) {
    padding-bottom: 30px;
  }
  @media (max-width: $screen-sm-max) {
    padding-bottom: 20px;
    text-align: center;
    .footer-socials {
      justify-content: center;
    }
  }
}

.subscribe-wrap + .footer-center .footer-center-row1, .subscribe-wrap + .footer-center .footer-center-row2 {
  padding-top: 50px;
  @media (max-width: $screen-md-max) {
    padding-top: 30px;
  }
  @media (max-width: $screen-sm-max) {
    padding-top: 20px;
  }
}

.footer-bot {
  background: $footer_bot_bg;
  color: $footer_bot_color;
  font-size: 13px;
  line-height: 1.692em;
  padding: 12px 0;
  overflow: hidden;
  a {
    color: $footer_bot_link_color;
  }
  a:hover {
    color: $footer_bot_link_hover_color;
  }
  @media (max-width: $screen-sm-max) {
    margin-top: 10px;
  }
}

.footer-center {
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-center-row2 {
  color: $footer_center_row2_color;
  font-size: 13px;
  line-height: 1.692em;
  .row {
    justify-content: center;
    & > [class*='col'] {
      text-align: center;
      @media (max-width: $screen-sm-max) {
        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }
    .col {
      flex: 2
    }
    .col-auto {
      flex: 1;
    }
    @media (min-width: $screen-md-min) {
      [class*='col'] {
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
  .container,
  .container-fluid {
    position: relative;
    padding-bottom: 57px;
    @media (max-width: $screen-sm-max) {
      padding-bottom: 30px;
    }
  }
  a {
    color: $footer_center_row2_link_color;
  }
  a:hover {
    color: $footer_center_row2_link_hover_color;
  }
  [class*='icn-'] {
    padding-right: 10px;
    font-size: 20px;
    position: relative;
    top: 4px;
  }
  @media (max-width: $screen-sm-max) {
    margin-top: 10px;
  }
}

.footer-subscribe-block:not(:first-child) {
  margin-top: 35px;
}

.footer-subscribe-block {
  max-width: 259px;
  @media (max-width: $screen-sm-max) {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $screen-sm-max) {
  .text-center > .footer-subscribe-block {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-subscribe-block {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-subscribe-block form > * + * {
  margin-top: 10px;
}

.footer-socials:not(:first-child) {
  margin-top: 28px;
}

.footer-socials {
  @include listreset;
  display: inline-flex;
  flex-wrap: wrap;
  li {
    margin: 0 5px;
    a {
      color: $footer_socials_color;
      font-size: 20px;
      display: block;
      padding: 4px;
      text-decoration: none;
      transition: .2s;
    }
    a:hover {
      color: $footer_socials_hover_color;
      text-decoration: none;
    }
  }
  li:first-child {
    padding-left: 0;
  }
  li:last-child {
    padding-right: 0;
  }
}

.text-center > .footer-socials {
  justify-content: center
}

@media (max-width: $screen-sm-max) {
  .footer-center-row1.text-center .footer-socials {
    justify-content: center;
  }
}

.footer-copyright {
  letter-spacing: .5px;
}

.list-footer {
  @include listreset;
  font-size: 13px;
  line-height: 15px;
  li a {
    color: $footer_list_link_color;
    &:hover {
      color: $footer_list_link_hover_color;
    }
  }
  li a,
  li > span {
    display: inline-block;
    padding: 10px 0;
    letter-spacing: .5px;
  }
  li:first-child a,
  li:first-child > span {
    padding: 0 0 10px;
  }
  li:last-child a,
  li:last-child > span {
    padding: 10px 0 0;
  }
}

.list-payment {
  @include listreset;
  li {
    display: inline-block;
    font-size: 20px;
    line-height: 1em;
    margin: 3px 14px 0;
  }
  li:first-child {
    margin-left: 0;
  }
  li:last-child {
    margin-right: 0;
  }
  a,
  a:hover {
    text-decoration: none;
  }
}

.list-icons {
  @include listreset;
  font-size: 13px;
  line-height: 20px;
  color: $footer_list_icons_color;
  a {
    color: $footer_list_icons_link_color;
    &:hover {
      color: $footer_list_icons_link_hover_color;
    }
  }
  li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 20px;
    [class*='icn-'] {
      position: absolute;
      left: 0;
      top: -1px;
      font-size: 20px;
      color: $footer_list_icons_icon_color;
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
  &:not(:first-child) {
    margin-top: 35px;
  }
}

@media (max-width: $screen-sm-max) {
  .footer-center [class*="col"]:not(:last-child) .list-icons:last-child,
  .footer-center [class*="col"]:not(:last-child) .footer-socials:last-child {
    margin-bottom: 30px;
  }
}

@media (max-width: $screen-sm-max) {
  .list-icons li {
    padding-left: 0;
    [class*='icn-'] {
      display: none;
    }
  }
}

//footer collapse
.collapsed-title {
  font-size: 13px;
  line-height: 18px;
  margin-top: 12px !important;
  margin-bottom: 33px;
  color: $footer_list_title_color;
}

input[type=checkbox].collapsed-checkbox,
.collapsed-caret {
  display: none;
}

@media (max-width: $screen-sm-max) {
  .collapsed-sm {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    &:last-child {
      margin-bottom: 0 !important;
    }
    &,
    .collapsed-title {
      animation: flipdown 1s ease both;
      transition: all 0.5s ease-in-out;
    }
    input[type=checkbox].collapsed-checkbox,
    .collapsed-caret {
      display: block;
    }
    .collapsed-content,
    .collapsed-caret:before,
    .collapsed-caret:after {
      transition: all 0.5s ease-in-out;
    }
    .collapsed-content {
      position: relative;
      overflow: hidden;
      max-height: 800px;
      opacity: 1;
      transform: translate(0, 0);
      margin: 0 !important;
      z-index: 2;
      & > * {
        padding: 0 0 20px;
      }
    }
    .collapsed-title {
      margin-top: 0 !important;
      margin-bottom: 0;
      padding: 0 0 20px;
      display: inline-block;
    }
    .collapsed-caret {
      display: inline-block;
    }
    .collapsed-caret:before {
      content: '\e927';
      font-family: 'icomoon';
      font-size: 9px;
      font-style: normal;
      color: $color_light;
    }
    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: calc(100% - 30px);
      top: 0;
      height: 100%;
      z-index: 1;
      opacity: 0;
      margin: 0;
    }
    input[type=checkbox]:checked ~ .collapsed-content {
      margin-top: 0;
      max-height: 0;
      opacity: 0;
      transform: translate(0, 50%);
    }
    input[type=checkbox] ~ i {
      transform: rotate(180deg);
      padding: 0 5px;
      position: relative;
      margin-right: -20px;
    }
    input[type=checkbox]:checked ~ i {
      transform: rotate(0deg);
    }
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.footer-inline-menu {
  &:not(:first-child) {
    margin-top: 40px;
    @media (max-width: $screen-sm-max) {
      margin-top: 20px;
    }
  }
  @media (max-width: $screen-sm-max) {
    text-align: center;
  }
}

.footer-inline-menu ul {
  @include listreset();
  display: flex;
  justify-content: center;
  margin: -5px -15px;
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
  }
  li {
    margin: 5px 15px;
  }
  a {
    color: $footer_menu_link_color;
    font-size: 13px;
    line-height: 1em;
    font-weight: bold;
    transition: .2s;
    &:hover {
      color: $footer_menu_link_hover_color;
      text-decoration: none;
    }
  }
}

.fromblog-footer.slick-slider {
  max-width: 270px;
  @media (max-width: $screen-sm-max) {
    margin-left: auto;
    margin-right: auto;
  }
  .slick-dots {
    text-align: left;
    margin: 12px 0 0 -10px;
    @media (max-width: $screen-sm-max) {
      text-align: center;
      margin: 12px 0 0;
    }
  }
}

.fromblog-footer-item {
  color: $footer_blog_color;
  &-title {
    &,
    a {
      color: $footer_blog_title_color;
    }
    font-size: 18px;
    line-height: 1em;
    font-weight: bold;
    a:hover {
      color: $footer_blog_title_hover_color;
    }
  }
  &-teaser {
    font-size: 14px;
    line-height: 18px;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  &-date {
    font-size: 13px;
    line-height: 18px;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}

.footer-subscribe-block .form-control {
  color: $footer_subscribe_input_color;
  background-color: $footer_subscribe_input_bg;
  border-color: $footer_subscribe_input_border;
  @include placeholder {
    color: $footer_subscribe_input_color;
  }
}

.footer-subscribe-block .mln-btn {
  @if $footer_subscribe_btn_gradient {
    @include gradient($footer_subscribe_btn_bg, $footer_subscribe_btn_bg_end, horizontal);
    background-size: 200% auto;
  }
  @if $footer_subscribe_btn_simple {
    background: $footer_subscribe_btn_bg;
  }
  color: $footer_subscribe_btn_color;
  border-color: $footer_subscribe_btn_border;
  &:hover {
    @if $footer_subscribe_btn_gradient {
      @include gradient($footer_subscribe_btn_hover_bg_end, $footer_subscribe_btn_hover_bg, horizontal);
      background-position: right center;
    }
    @if $footer_subscribe_btn_simple {
      background: $footer_subscribe_btn_hover_bg;
    }
    background-size: 200% auto;
    color: $footer_subscribe_btn_hover_color;
    border-color: $footer_subscribe_btn_hover_border;
  }
}

// Footer Colors
.footer-color-2 {
  background-color: #29292b;

  .footer-topline:after {
    background: #29292b;
  }

  .list-footer li a {
    color: #999a9b;
  }

  .list-footer li a:hover {
    color: #999a9b;
  }

  .footer-socials li a {
    color: #999a9b;
  }

  .footer-socials li a:hover {
    color: #f2475f;
  }

  .list-icons {
    color: #999a9b;
  }

  .list-icons [class*='icn-'] {
    color: #fff;
  }

  .list-icons a {
    color: #f2475f;
  }

  .list-icons a:hover {
    color: #f2475f;
  }

  .collapsed-title {
    color: #fff;
  }
  .collapsed-title.collapsed-title-fromblog {
    color: #999a9b;
  }
  .footer-subscribe-block .form-control {
    color: #fff;
    background-color: transparent;
    border-color: #636368;
    @include placeholder {
      color: #fff;
    }
  }

  .footer-subscribe-block .mln-btn:not(:hover) {
    background: #fff;
    color: #29292b;
    border-color: #fff;
  }

  .footer-bot {
    background: #2b2b2b;
    color: #999a9b;
  }

  .footer-bot a {
    color: #999a9b;
  }

  .footer-bot a:hover {
    color: #fff;
  }

  .fromblog-footer-item-title,
  .fromblog-footer-item-title a {
    color: #fff;
  }

  .fromblog-footer-item-title a:hover {
    color: $theme_color;
  }
}

.footer-color-3 {
  .footer-bot {
    background: #f2f2f5;
    color: #9d9da5;
  }

  .footer-bot a {
    color: #9d9da5;
  }

  .footer-bot a:hover {
    color: $theme_color;
  }
}

.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  top: auto !important;
  bottom: 0;
  right: 20px;
  width: 52px;
  height: 52px;
  background: $back-to-top_bg;
  text-align: center;
  pointer-events: none;
  border-radius: 50%;
  transition: .5s;
  @media screen and (max-width: $screen-lg-max) {
    width: 42px;
    height: 42px;
    right: 10px;
  }
  &, &:hover, &:focus {
    color: inherit !important;
    text-decoration: none;
  }
  &:hover {
    background: $back-to-top-hover_bg;
    .icon {
      -webkit-animation-duration: arrowUp 1s linear infinite;
      animation: arrowUp 1s linear infinite;
    }
  }
  .icon {
    font-size: 15px;
    line-height: 1em;
    position: relative;
    color: $back-to-top_color;
  }
}

@keyframes arrowUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
    opacity: 0;
  }
  51% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes arrowUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
    opacity: 0;
  }
  51% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes arrowUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
    opacity: 0;
  }
  51% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.back-to-top.is-visible {
  opacity: 1;
  bottom: 70px;
  pointer-events: all;
  @media screen and (max-width: $screen-md-max) {
    bottom: 60px;
  }
}