.form-control {
  color: #2b2b2b;
  font-size: 14px;
  line-height: 24px;
  border-radius: 0;
  @include placeholder {
    color: #2b2b2b;
  }
}

.form-control:not(.form-control--sm) {
  padding: 10px 15px;
}

.form-control--sm {
  padding: 5px 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.form-control:not([size]):not([multiple]) {
  height: 46px;
}

select.form-control--sm:not([size]):not([multiple]) {
  height: 36px;
}

.form-control:focus,
.btn:focus {
  box-shadow: none;
}

.form-control:focus {
  border-color: #2b2b2b;
}

.form-error,
.form-error:focus {
  border-color: #f2475f;
}

.textarea-h-1 {
  height: 100px;
}

.textarea-h-150 {
  height: 150px;
}

.textarea-h-2 {
  height: 200px;
}

.select-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  &:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    width: 35px;
    background: #fff;
    pointer-events: none;
  }
  &:before {
    font-family: 'icomoon';
    content: '\e927';
    position: absolute;
    font-size: 8px;
    line-height: 1em;
    z-index: 2;
    right: 15px;
    top: 50%;
    margin-top: -2px;
    pointer-events: none;
    color: $color_dark;
  }
}

.row.form-flex {
  margin-left: -5px;
  margin-right: -5px;
  [class*='col'] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.form-list {
  @include listreset;
}

.form-list--inline {
  display: flex;
  flex-wrap: wrap;
  @include listreset;
  margin-left: -5px;
  margin-right: -5px;
  li {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.label {
  font-size: 15px;
  line-height: 1em;
  color: #2b2b2b;
  margin-bottom: 5px;
}

.label-error {
  font-size: 13px;
  line-height: 20px;
  color: #f2475f;
  letter-spacing: .5px;
}

.form-group,
.form-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form-row {
  position: relative;
  margin-top: -20px;
}

.form-row > [class*="col"] {
  margin-top: 20px;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"]:active + label:before,
input[type="radio"]:active + label:before {
  transition-duration: 0s;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #2b2b2b;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  position: relative;
  padding-left: 30px;
  min-width: 80px;
  margin: 0 10px 12px 0;
}

li:last-child {
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    margin-bottom: 0;
  }
}

input[type="checkbox"] + label:before,
input[type="checkbox"] + label:after,
input[type="radio"] + label:before,
input[type="radio"] + label:after {
  box-sizing: content-box;
  position: absolute;
  content: '';
  display: block;
  left: 0;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  top: 3px;
  width: 14px;
  height: 14px;
  border: 2px solid #ababab;
  text-align: center;
  background-color: #ffffff;
  transition: background-color 0.2s;
}

input[type="checkbox"] + label:hover:before,
input[type="radio"] + label:hover:before {
  background-color: #fff;
}

input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
  background-color: #2b2b2b;
  transform: scale(0);
  transform-origin: 50%;
}

input[type="checkbox"] + label:after {
  top: 8px;
  left: 6px;
  width: 10px;
  height: 10px;
}

input[type="radio"] + label:after {
  top: 10px;
  left: 7px;
  width: 4px;
  height: 4px;
  transform: scale(3);
  opacity: 0;
}

input[type="radio"]:checked + label:after {
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s ease-out;
}

input[type="radio"] + label:before,
input[type="radio"] + label:after {
  border-radius: 50%;
}

input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 8px;
  left: 5px;
  width: 7px;
  height: 3px;
  border-style: solid;
  border-color: #2b2b2b;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg) scale(0);
}

input[type="checkbox"]:checked + label:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform .2s ease-out;
}

.success-confirm,
.error-confirm {
  display: none;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.form-confirm + .form-group {
  margin-top: 0;
}

.success-confirm {
  color: #2e9a07;
}

.error-confirm {
  color: #e63f3f;
}

.has-error .form-control {
  border-color: #e63f3f;
}

.has-error .form-control, .has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-error .help-block,
.has-error .form-control-feedback {
  color: #e63f3f;
  font-size: 12px;
}