.blog-previews-style-1 {
  .blog-item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
  }

  .blog-item-photo {
    width: 100%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    img {
      width: 100%;
      max-width: none;
    }
  }

  .blog-item > * + * {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .blog-item > * + .blog-item-teaser {
    margin-top: 10px;
  }

  .blog-item-title,
  .blog-item-title a {
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  .blog-item-date:not(:first-child) {
    margin-top: 5px;
    letter-spacing: 1px;
  }
}

.blog-previews-style-2 {
  .blog-item {
    font-size: 15px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
  }
  .blog-item-title,
  .blog-item-teaser,
  .blog-item-date {
    padding-left: 50px;
    padding-right: 50px;
    @media (max-width: $screen-md-max) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (max-width: $screen-sm-max) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .blog-item-photo {
    width: 100%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    img {
      width: 100%;
      max-width: 0;
    }
  }

  .blog-item-teaser {
    &:not(:first-child) {
      margin-top: 20px;
      @media (max-width: $screen-md-max) {
        margin-top: 10px;
      }
    }
  }

  .blog-item-title,
  .blog-item-title a {
    color: #2b2b2b;
    font-size: 28px;
    line-height: 36px;
    text-decoration: none;
    @media (max-width: $screen-md-max) {
      font-size: 24px;
      line-height: 30px;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 20px;
      line-height: 26px;
    }
  }
  .blog-item-title {
    margin-bottom: 0;
    &:not(:first-child) {
      margin-top: 30px;
      @media (max-width: $screen-md-max) {
        margin-top: 20px;
      }
    }
  }
  .blog-item-title a:hover {
    color: $theme_color;
  }
  .blog-item-date:not(:first-child) {
    margin-top: 5px;
    letter-spacing: 1px;
  }
}

.blog-previews-style-3 {
  .blog-item {
    display: flex;
    flex-direction: column;
    p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .blog-item-inside {
    display: inline-flex;
    position: relative;
    &:after {
      content: '';
      @include fullAbsolute();
      transition: .2s;;
      z-index: 0;
      background-color: $from_blog3_hover_text_bg;
      opacity: 0;
    }
  }

  .blog-item-photo {
    width: 100%;
    display: inline-block;
    text-align: center;
    img {
      width: 100%;
      max-width: none;
    }
  }

  .blog-item-bottom {
    display: flex;
    align-items: center;
  }

  .blog-item-teaser-full {
    display: none;
  }

  .blog-item-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    transition: 0s;
    color: $from_blog3_text_color;
    @media (max-width: $screen-md-max) {
      left: 10px;
      right: 10px;
      bottom: 10px;
      padding: 15px;
    }
    &:after {
      content: '';
      @include fullAbsolute();
      transition: 0s;
      z-index: 0;
      background-color: $from_blog3_text_bg;
    }
  }
  .blog-item-text > * {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
  }
  .blog-item-text > * + * {
    padding-top: 12px;
    margin-top: 0;
  }
  .blog-item-more {
    display: none;
    font-size: 13px;
    font-weight: 600;
    margin-left: auto;
  }
  .blog-item-title,
  .blog-item-title a,
  .blog-item-more {
    text-decoration: none;
    color: $from_blog3_title_color;
  }
  .blog-item-title,
  .blog-item-title a {
    font-size: 18px;
    line-height: 20px;
  }
  .blog-item-date:not(:first-child) {
    letter-spacing: 1px;
  }
  .blog-item-date {
    color: $from_blog3_date_color;
  }
  .blog-item:hover {
    color: $from_blog3_hover_text_color;
    .blog-item-title,
    .blog-item-title a,
    .blog-item-more {
      color: $from_blog3_hover_title_color;
      transition: all .2s;
    }
    .blog-item-title a:hover, .blog-item-more:hover {
      color: $from_blog3_hover_title_hover_color;
    }
    .blog-item-inside:after {
      transition: .2s;
      opacity: .9;
    }
    .blog-item-bottom {
      padding-top: 10px;
      margin-top: auto;
    }
    .blog-item-date {
      color: $from_blog3_hover_date_color;
    }
    .blog-item-teaser-full {
      display: block;
    }
    .blog-item-teaser:not(.blog-item-teaser-full) {
      display: none;
    }
    .blog-item-more {
      display: block;
    }
    .blog-item-text {
      padding: 40px;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all .2s;
      &:after {
        background-color: transparent;;
      }
      @media (max-width: $screen-md-max) {
        padding: 25px;
      }
    }
  }
}