.filtr-container {
  height: 100vh;
  opacity: 0;
  transition: .3s;
  overflow: hidden;
}

.filtr-container.is-loaded {
  height: auto;
  opacity: 1;
}

.gallery-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  & > * {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.gallery-col-5 {
  & > * {
    @include flexWidth(20%);
    @media (max-width: $screen-md-max) {
      @include flexWidth(50%);
    }
    @media (max-width: $screen-xs-max) {
      @include flexWidth(100%);
    }
  }
}

.gallery-col-4 {
  & > * {
    @include flexWidth(25%);
    @media (max-width: $screen-md-max) {
      @include flexWidth(50%);
    }
    @media (max-width: $screen-xs-max) {
      @include flexWidth(100%);
    }
  }
}

.gallery-col-3 {
  & > * {
    @include flexWidth(33.333%);
    @media (max-width: $screen-md-max) {
      @include flexWidth(50%);
    }
    @media (max-width: $screen-xs-max) {
      @include flexWidth(100%);
    }
  }
}

.gallery-col-2 {
  & > * {
    @include flexWidth(50%);
    @media (max-width: $screen-md-max) {
      @include flexWidth(50%);
    }
    @media (max-width: $screen-xs-max) {
      @include flexWidth(100%);
    }
  }
}

.gallery-item {
  position: relative;
  overflow: hidden;
  &-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
    &:after {
      content: '';
      @include fullAbsolute;
      z-index: 1;
      background: #2b2b2b;
      opacity: 0;
      transition: .2s;
    }
    &:before {
      position: absolute;
      z-index: 2;
      content: '\e91e';
      font-family: 'icomoon';
      text-decoration: none;
      font-size: 22px;
      color: #fff;
      opacity: 0;
      transition: .2s;
    }
  }
  &-text {
    color: $gallery_caption_text_color;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    position: absolute;
    z-index: 3;
    left: 33px;
    right: 33px;
    bottom: 33px;
    bottom: 0;
    opacity: 0;
    transition: .2s;
  }
}

.gallery-item:hover {
  .gallery-item-image:after {
    opacity: .77;
  }
  .gallery-item-image:before,
  .gallery-item-text {
    opacity: 1;
  }
  .gallery-item-text {
    bottom: 18px;
  }
}

.gallery-wrap {
  position: relative;
  transform: translateY(-30px);
  @media (max-width: $screen-sm-max) {
    transform: translateY(-15px);
  }
}

.gallery-item-image {
  margin-top: 30px;
  @media (max-width: $screen-sm-max) {
    margin-top: 15px;
  }
}

// tabs
$nav_tab_color: $color_dark;
$nav_tab_bg: transparent;
$nav_tab_hover_color: $color_dark;
$nav_tab_hover_bg: $color5;
$nav_tab_active_color: #fff;
$nav_tab_active_bg: #cacaca;
.filtr-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  & + * {
    margin-top: 50px;
  }
  li {
    display: block;
    color: $nav_tab_color;
    background: $nav_tab_bg;
    font-size: 13px;
    line-height: 23px;
    font-weight: 600;
    padding: 2px 15px;
    cursor: pointer;
    @media (max-width: $screen-sm-max) {
      padding: 2px 10px;
    }
  }
  li:hover {
    color: $nav_tab_hover_color;
    background: $nav_tab_hover_bg;
    text-decoration: none;
  }
  li.active {
    color: $nav_tab_active_color;
    background: $nav_tab_active_bg;
  }
}

.filtr-list.justify-content-center li {
  margin: 2px 10px;
  @media (max-width: $screen-sm-max) {
    margin: 2px 6px;
  }
}

.filtr-list.justify-content-start li {
  margin-right: 20px;
}

.filtr-list.justify-content-end li {
  margin-left: 20px;
}