.block-gift {
  text-align: center;
  &:not(:first-child) {
    margin-top: 40px;
  }
  &-image {
    position: relative;
    display: inline-block;
  }
  &-image-text {
    @include fullAbsolute();
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
  }
  &-summa {
    color: #fff;
    font-size: 60px;
    line-height: 1em;
    font-weight: 700;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    @media (max-width: $screen-xs-max) {
      font-size: 50px;
    }
  }
  &-code {
    background-color: #fff;
    color: #2b2b2b;
    font-size: 22px;
    line-height: 46px;
    font-weight: 500;
    padding: 0 15px;
    width: 460px;
    margin: 53px auto 0;
    @media (max-width: $screen-sm-max) {
      font-size: 20px;
      line-height: 40px;
      max-width: 80%;
      margin-top: 40px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 17px;
      line-height: 30px;
      max-width: 80%;
      margin-top: 10px;
    }
  }
  &-comment {
    font-size: 15px;
    line-height: 28px;
  }
  &-qrcode {
    &:not(:first-child) {
      margin-top: 30px;
      @media (max-width: $screen-sm-max) {
        margin-top: 20px;
      }
    }
  }
  &-actions {
    &:not(:first-child) {
      margin-top: 60px;
      @media (max-width: $screen-sm-max) {
        margin-top: 30px;
      }
    }
  }
}
