.google-map {
  position: relative;
}

.google-map-container {
  min-height: 435px;
  width: 100%;
  height: 100%;
}

.google-map-over {
  @include fullAbsolute();
}

.google-map-text {
  color: #999a9b;
  background-color: #2b2b2b;
  font-size: 15px;
  line-height: 28px;
  padding: 50px 40px 60px;
  width: 370px;
  margin-top: 60px;
  box-shadow: 0 20px 27px rgba(0, 0, 0, .15);
  .btn {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  @media (max-width: $screen-sm-max) {
    padding: 30px 30px 40px;
    max-width: 100%;
  }
}

.google-map-text-title {
  font-size: 28px;
  color: #fff;
  & + * {
    margin-top: 18px;
  }
}