@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  .header-color-1 {
    .header-nav-bg {
      background: #29292b;
    }
    .header-nav-bg [class*='container']:after {
      border-color: #29292b;
    }
    .desktop-megamenu > li > a {
      background: none;
      color: #fff;
    }
    .desktop-megamenu > li:hover > a {
      background: #fff;
      color: #29292b;
    }
    .desktop-megamenu > li > a:not(:only-child):after {
      color: #fff;
    }
    .desktop-megamenu > li:hover > a:not(:only-child):after {
      color: #29292b;
    }
    .header-nav-bg {
      .searchbox-icon,
      .searchbox-submit {
        color: #fff;
      }
      .searchbox-icon:hover,
      .searchbox-submit:hover {
        color: $theme_color;
      }
      .is-open .searchbox-icon,
      .is-open .searchbox-submit {
        color: #29292b;
      }
      .is-open .searchbox-icon:hover,
      .is-open .searchbox-submit:hover {
        color: $theme_color;
      }
      .header-drop .drop-toggle {
        color: #fff;
      }
      .header-drop .dropdown.show .drop-toggle {
        color: #29292b;
      }
      .header-drop .drop-toggle:hover {
        color: $theme_color;
      }
      .header-drop .dropdown.show:before {
        background-color: $theme_color;
      }
      .header-v-divider {
        background: #3e3e41;
      }
    }
    .header-socials a {
      color: #9d9da5;
    }
    .header-socials a:hover {
      color: $theme_color;
    }
    .searchbox-icon,
    .searchbox-submit {
      color: #29292b;
    }
    .searchbox-icon:hover,
    .searchbox-submit:hover {
      color: $theme_color;
    }
    .is-open .searchbox-submit {
      color: #29292b;
    }
    .is-open .searchbox-submit:hover {
      color: $theme_color;
    }
  }
}

@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  .header-color-2 {
    .header-nav-bg {
      background: #29292b;
    }
    .header-nav-bg [class*='container']:after {
      border-color: #29292b;
    }
    .desktop-megamenu > li > a {
      background: none;
      color: #fff;
    }
    .desktop-megamenu > li:hover > a {
      background: #fff;
      color: #29292b;
    }
    .desktop-megamenu > li > a:not(:only-child):after {
      color: #fff;
    }
    .desktop-megamenu > li:hover > a:not(:only-child):after {
      color: #29292b;
    }
    .header-nav-bg {
      .searchbox-icon,
      .searchbox-submit {
        color: #fff;
      }
      .searchbox-icon:hover,
      .searchbox-submit:hover {
        color: $theme_color;
      }
      .is-open .searchbox-icon,
      .is-open .searchbox-submit {
        color: #29292b;
      }
      .is-open .searchbox-icon:hover,
      .is-open .searchbox-submit:hover {
        color: $theme_color;
      }
      .header-drop .drop-toggle {
        color: #fff;
      }
      .header-drop .dropdown.show .drop-toggle {
        color: #29292b;
      }
      .header-drop .drop-toggle:hover {
        color: $theme_color;
      }
      .header-drop .dropdown.show:before {
        background-color: $theme_color;
      }
      .header-v-divider {
        background: #3e3e41;
      }
    }
    .header-socials a {
      color: #9d9da5;
    }
    .header-socials a:hover {
      color: $theme_color;
    }
    .searchbox-icon,
    .searchbox-submit {
      color: #fff;
    }
    .searchbox-icon:hover,
    .searchbox-submit:hover {
      color: $theme_color;
    }
    .is-open .searchbox-submit {
      color: #29292b;
    }
    .is-open .searchbox-submit:hover {
      color: $theme_color;
    }
  }
}

@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  .header-color-3 {
    &:not(.transparent) {
      background-color: #29292b;
    }
    body.has-sticky &.header-sticky {
      background-color: #29292b;
    }
    .header-drop .drop-toggle {
      color: #fff;
    }
    .header-drop .dropdown.show .drop-toggle {
      color: #29292b;
    }
    .header-drop .drop-toggle:hover {
      color: $theme_color;
    }
    .header-drop .dropdown.show:before {
      background-color: $theme_color;
    }
    .header-v-divider {
      background: #3e3e41;
    }
    .searchbox-icon,
    .searchbox-submit,
    .searchbox-collapsed .searchbox-icon,
    .searchbox-collapsed .searchbox-submit {
      color: #fff;
    }
    .searchbox-icon:hover,
    .searchbox-submit:hover,
    .searchbox-collapsed .searchbox-icon:hover,
    .searchbox-collapsed .searchbox-submit:hover {
      color: $theme_color;
    }
    .is-open .searchbox-submit {
      color: #29292b;
    }
    .is-open .searchbox-submit:hover {
      color: $theme_color;
    }
    .desktop-megamenu > li > a {
      background: transparent;
      color: #fff;
    }
    .desktop-megamenu > li:hover > a {
      background: #fff;
      color: #29292b;
    }
    .desktop-megamenu > li > a:not(:only-child):after {
      color: #9d9da5;
    }
    .desktop-megamenu > li:hover > a:not(:only-child):after {
      color: #29292b;
    }
    .is-open .searchbox-icon,
    .is-open .searchbox-submit {
      color: #29292b;
    }
    .is-open .searchbox-icon:hover,
    .is-open .searchbox-submit:hover {
      color: $theme_color;
    }
  }
}

// Topline Colors

.header-topline-color-1 {
  background: #ffffff;
  color: #9d9da5;
  a,
  .dropdown:not(.show) .drop-toggle {
    color: #9d9da5;
    &:hover {
      color: $theme_color;
      text-decoration: none;
    }
    transition: .2s;
  }
  b {
    color: #9d9da5;
  }
  .header-text [class*='icn-'] {
    color: #9d9da5;
  }
  .header-custom-links span {
    color: #29292b;
  }
  .header-socials {
    li {
      a {
        color: #9d9da5;
      }
      a:hover {
        color: $theme_color;
      }
    }
  }
}