header {
  background-color: $header_bg;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  .dropdown,
  .header-drop {
    pointer-events: none;
    & > * {
      pointer-events: auto;
    }
  }
}

.header-logo {
  min-width: 141px;
}

.header-transparent {
  background-color: transparent;
}

@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  .header-mobile {
    display: none;
  }
}

body:not(.has-sticky) header.off-shadow {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
}

.header-sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1040;
  width: 100%;
  top: 0;
}

.has-sticky .header-sticky {
  background-color: $header-sticky_bg;
}

body:not(.has-sticky) .visible-sticky {
  display: none;
}

.has-sticky .hidden-sticky {
  display: none;
}

.header-desktop > [class*='container'] {
  position: relative;
  z-index: 1;
  padding: 9px 15px 10px;
  transition: .1s;
  @media (max-width: $screen-lg-max) {
    padding: 5px 15px;
  }
}

@media (min-width: 1281px) {
  header:not(.header-boxed) {
    .header-desktop > .container-fluid,
    .header-desktop .header-nav-bg > .container-fluid,
    .header-desktop .header-topline > .container-fluid {
      padding-left: $container_full_pad;
      padding-right: $container_full_pad;
    }
  }
  header.header-boxed {
    .header-desktop > .container-fluid,
    .header-desktop .header-nav-bg > .container-fluid,
    .header-desktop .header-topline > .container-fluid {
      padding-left: $container_full_pad/2;
      padding-right: $container_full_pad/2;
    }
  }
}

@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  .header-boxed.header-absolute {
    left: $container_full_pad/2 !important;
    width: calc(100% - 60px) !important;
  }
  .has-sticky .header-absolute {
    animation-name: fadeInDown;
    animation-duration: .5s;
    animation-fill-mode: both;
  }
  body:not(.has-sticky) {
    .main-content {
      margin-top: 0 !important;
    }
    .header-absolute {
      position: absolute;
      z-index: 1040;
      width: 100%;
      top: 0 !important;
    }
    .header-boxed.header-absolute {
      top: $container_full_pad/2 !important;
    }
  }
  .has-sticky .header-sticky:not(.header-boxed) {
    .header-sticky-content [class*='container-fluid'] {
      padding: 3px $container_full_pad;
      @media (max-width: 1280px) {
        padding: 0 15px;
      }
    }
  }
  .header-row {
    align-items: center;
  }
  .header-row .header-custom-links {
    color: $header_row_custom_link_color;
    a:not([class]) {
      color: $header_row_custom_link_color;
      &:hover {
        color: $header_row_custom_link_hover_color;
      }
    }
    span {
      color: $header_row_custom_link_bold_color;
    }
  }
  .header-custom-links {
    padding: 0;
    margin: 4px -10px;
    font-size: 13px;
    line-height: 20px;
    li {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      margin: 2px 10px 2px;
      [class*='icn-'] {
        position: absolute;
        left: 0;
        top: -1px;
        font-size: 20px;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
  .header-col-logo {
    margin-right: auto;
    padding-right: 40px;
  }
  .header-nav-bg > [class*='container'] > .row {
    align-items: center;
  }
  .header-nav-bg .header-custom-links {
    color: $header_nav_custom_link_color;
    a:not([class]) {
      color: $header_nav_custom_link_color;
      &:hover {
        color: $header_nav_custom_link_hover_color;
      }
    }
    span {
      color: $header_nav_custom_link_bold_color;
    }
  }
  .header-col-c {
    position: static;
    display: flex;
  }

  .header-col-r {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .header-logo-center {
    .header-col-l {
      order: 2;
      padding: 0 30px;
    }
    .header-col-c {
      order: 1;
      flex: 1;
    }
    .header-col-r {
      order: 3;
      flex: 1;
      justify-content: flex-end
    }
  }
  .header-menu-bottom {
    .header-nav-bg {
      position: relative;
      background: none;
      & > [class*='container'] {
        padding-top: 6px;
        padding-bottom: 5px;
        &:after {
          content: '';
          border-top: 1px solid #e3e3e4;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
        }
      }
      @media (min-width: 1281px) {
        & > [class*='container'] {
          &:after {
            left: $container_full_pad;
            right: $container_full_pad;
          }
        }
      }
    }
    .header-col-r {
      order: 2;
    }
    .col:not(.justify-content-end):not(.justify-content-center) .desktop-megamenu > li:first-child > a,
    .col:not(.justify-content-end):not(.justify-content-center) .desktop-megamenu > li:first-child > .dropdown-megamenu {
      margin-left: -13px;
    }
    .col.justify-content-end .desktop-megamenu > li:last-child > a,
    .col.justify-content-end .desktop-megamenu > li:last-child > .dropdown-megamenu {
      margin-right: -13px;
    }
  }
  .header-logo.visible-sticky > * {
    display: block;
    transition: .5s ease .2s;
    transform: translateY(-100%);
    overflow: hidden;
  }
  .has-sticky {
    .header-nav-bg > [class*='container']:after {
      display: none;
    }
    .header-logo.visible-sticky > * {
      transform: translateY(0);
    }
  }
}

.header-drop,
.header-v-divider,
.header-search {
  display: inline-block;
  vertical-align: middle;
}

.header-search {
  margin: 0 5px;
  position: relative;
  z-index: 1;
}

// header dropdowns

.header-drop {
  margin: 0 -14px;
}

.header-drop .drop-toggle > [class*='icn-'] {
  font-size: 20px;
}

.header-drop {
  .drop-toggle {
    display: block;
    height: 45px;
    position: relative;
    font-size: 14px;
    line-height: 1.5em;
    color: $header_link_color;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
  }
  .dropdown.show {
    margin: 0;
    .drop-toggle {
      pointer-events: none;
    }
    .drop-toggle:before {
      content: '';
      position: absolute;
      z-index: -1;
      @include fullAbsolute();
      background: #fff;
    }
  }
}

@media (hover: hover) {
  .header-drop .drop-toggle:hover {
    text-decoration: none;
    color: $header_link_hover_color;
  }
}

.header-drop--caret .drop-toggle:after {
  position: relative;
  top: -2px;
  right: -4px;
  padding-left: 4px;
  border: 0;
  color: $header_link_arrow_color;
  content: '\e927';
  font-size: 7px;
  font-family: 'icomoon';
  transition: .2s;
}

.header-drop--caret .drop-toggle:hover:after {
  color: $header_link_hover_color;
}

.header-drop .dropdown.show {
  position: relative;
  z-index: 2;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  background-color: $dropdown_bg;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $color_dark;
  }
}

.header-drop .dropdown-menu {
  min-width: 100%;
  border: 0;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  background-color: $dropdown_bg;
  font-size: 14px;
  line-height: 1.5em;
  ul {
    @include listreset;
  }
  li > a {
    display: block;
    padding: 3px 30px;
    color: $dropdown_link_color;
    span {
      display: none;
    }
  }
  li.active > a {
    background: $dropdown_link_active_bg;
    color: $dropdown_link_active_color;
  }
  li > a:hover {
    text-decoration: none;
    background: $dropdown_link_hover_bg;
    color: $dropdown_link_hover_color;
  }
}

.header-drop.header-acount .dropdown-menu {
  min-width: 160px;
}

.header-currency, .header-language {
  .dropdown-menu {
    transform: translate3d(0, 42px, 0) !important;
    top: 30px;
  }
}

.header-v-divider {
  position: relative;
  top: 0;
  width: 1px;
  height: 46px;
  margin: 0 7px;
  background: $header_vertical_divider_bg;
  &:last-child,
  &:first-child {
    display: none;
  }
}

.header-cart.header-drop {
  svg {
    width: 30px;
    fill: $header_cart_icon_color;
    transition: .2s;
  }
  & > a {
    display: flex;
    align-items: center;
    margin-top: -7px;
  }
  & > a:hover svg {
    fill: $header_link_hover_color;
  }
  .drop-toggle > [class*='icn-'] {
    font-size: 22px;
  }
  .badge {
    position: relative;
    left: 10px;
    padding: 0;
    min-width: 25px;
    border-radius: 8.5px;
    background-color: $header_cart_badge_bg;
    color: $header_cart_badge_color;
    font-size: 12px;
    line-height: 17px;
  }
}

@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  .header-cart--bg {
    position: relative;
    margin-left: 20px;
    .drop-toggle {
      padding-left: 55px;
    }
  }
}

.header-cart-bg {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $header_cart_bg;
}

// header topline
.header-topline {
  background: $header_topline_bg;
  color: $header_topline_color;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  z-index: 1;
  .row {
    align-items: center;
  }
  a,
  .dropdown:not(.show) .drop-toggle {
    color: $header_topline_link_color;
    &:hover {
      color: $header_topline_link_hover_color;
      text-decoration: none;
      [class*='icn-'] {
        color: $header_topline_icon_hover_color;
      }
    }
    transition: .2s;
  }
  b {
    color: $header_topline_bold_color;
    font-weight: 500;
  }
  [class*='icn-'] {
    transition: .2s;
    color: $header_topline_icon_color;
  }
  .header-text [class*='icn-'] {
    margin-right: 5px;
  }
  .header-drop {
    margin: 0 -14px;
  }
  .header-drop .drop-toggle {
    padding: 5px 28px;
    margin: -5px 0;
  }
  .dropdown-menu.show {
    margin-top: -7px;
  }
}

.header-topline > .container {
  padding: 4px 15px;
}

.header-topline-l,
.header-topline-r {
  flex: 1;
}

.header-topline-l,
.header-topline-c,
.header-topline-r {
  & > * {
    display: inline-block;
    text-align: left;
  }
  & > *:not(:last-child) {
    margin-right: 15px;
  }
}

.header-socials {
  margin: 0 -7px;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  li {
    margin: 0 5px;
    a {
      color: #9d9da5;
      display: block;
      padding: 4px;
      font-size: 16px;
      text-decoration: none;
      [class*='icn-'] {
        position: relative;
        top: 1px;
      }
      transition: .2s;
    }
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

// megamenu
.desktop-megamenu {
  @include listreset;
  display: flex;
  flex-wrap: wrap;
  & > li > a {
    display: block;
    position: relative;
    padding: 10px 13px;
    color: $menu_link_color;
    font-size: 14px;
    line-height: 1.5em;
  }
  & > li:hover > a {
    text-decoration: none;
    background: $menu_link_hover_bg;
    color: $menu_link_hover_color;
    &:not(:only-child):after {
      color: $menu_link_hover_color;
    }
  }
  & > li > a:not(:only-child):after {
    position: relative;
    top: -2px;
    font-family: 'icomoon';
    content: '\e927';
    color: $menu_link_arrow_color;
    font-size: 7px;
    padding-left: 10px;
  }
}

.nav-wrap--divided .desktop-megamenu > li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  .dropdown-megamenu {
    top: 54px;
  }
  & > a {
    padding-left: 26px;
    padding-right: 26px;
  }
  &:after {
    content: '';
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 1px;
    height: 46px;
    background: $header_vertical_divider_bg;
  }
  &:last-child:after {
    display: none;
  }
}

.dropdown-megamenu {
  display: table;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  max-width: 100vw;
  z-index: 2;
  background: $submenu_bg;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: $submenu_border_top_color;
  transition: 0s ease-in 0s;
  h3 {
    font-size: 15px;
    font-weight: 600;
    color: $submenu_title_color;
    & + ul {
      margin-top: 15px;
    }
  }
  ul {
    @include listreset;
    li:not(:last-child) {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: $submenu_link_brd_color;
    }
    li > a {
      position: relative;
      color: $submenu_link_color;
      display: block;
      font-size: 14px;
      line-height: 19px;
      padding: 10px 0;
    }
    li > a:hover {
      color: $submenu_link_hover_color;
      text-decoration: none;
    }
    li > a:not(:only-child):after {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -5px;
      content: '\e908';
      font-size: 7px;
      line-height: 1em;
      font-family: 'icomoon';
    }
    li.link-reverse > a:not(:only-child):after {
      content: '\e907';
    }
    ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: -15px;
      left: 100%;
      padding: 15px;
      margin: -15px 0 0 -30px;
      background-color: $submenu_bg;
      min-width: 235px;
      z-index: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    ul ul {
      left: calc(100% - 15px);
      margin: 0;
      top: 0;
    }
    ul.submenu-reverse {
      left: auto;
      right: calc(100% - 15px);
    }
    li:hover > ul {
      visibility: visible;
      opacity: 1;
    }
  }
}

.dropdown-megamenu-scroll {
  padding: 40px;
  overflow-y: auto;
}

.dropdown-megamenu > .row {
  flex-wrap: nowrap;
}

.dropdown-megamenu [class*='col-width'] {
  position: static;
}

.dropdown-megamenu .col-width-3 {
  @include flexWidth(340px);
  min-width: 340px;
}

.dropdown-megamenu .col-width-2 {
  @include flexWidth(235px);
  min-width: 235px;
}

.dropdown-megamenu .col-width-1 {
  @include flexWidth(180px);
  min-width: 180px;
}

.dropdown-megamenu .img-left,
.dropdown-megamenu .img-right {
  position: static;
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    max-height: 100%;
  }
}

.dropdown-megamenu .img-right {
  margin-right: auto;
  position: static;
  img {
    right: 0;
  }
}

.dropdown-megamenu .col.img-left {
  margin-left: auto;
  order: -1;
  img {
    left: 0;
  }
}

.desktop-megamenu li:hover .dropdown-megamenu {
  transition: .2s ease-in .2s;
  visibility: visible;
  opacity: 1;
}

// Menu Badges
.menu-badge {
  font-size: 11px;
  line-height: 13px;
  padding: 1px 3px 0;
  display: inline-block;
}

.desktop-megamenu .menu-badge {
  position: absolute;
  left: 13px;
  transform: translateY(-12px);
}

.mobile-menu .menu-badge {
  position: relative;
  left: 6px;
  transform: translateY(-6px);
}

.menu-badge--color1 {
  background-color: #f2475f;
  color: #fff;
}

.menu-badge--color2 {
  background-color: #79ca19;
  color: #fff;
}

.menu-badge--color3 {
  background-color: #19cabb;
  color: #fff;
}

.menu-badge--color4 {
  background-color: #fbaf0b;
  color: #fff;
}

// Header mobile
@media (max-width: $mobile-menu-breikpoint-max) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    background: $header_mobile_bg;
    .header-row {
      align-items: center;
    }
    .header-col-r {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
    .header-desktop > [class*='container'] {
      position: relative;
      z-index: 97;
      padding: 0 15px;
    }
    .header-col-logo {
      @include flexWidth(100%);
      justify-content: center;
      border-bottom: 1px;
      border-bottom-style: solid;
      border-bottom-color: $header_mobile_divider_color;
      padding: 10px 0;
    }
    .header-drop .drop-toggle {
      padding-left: 24px;
      padding-right: 24px;
      color: $header_mobile_link_color;
    }
    .header-drop--caret .drop-toggle:after {
      color: $header_mobile_link_arrow_color;
    }
    .header-cart.header-drop .badge {
      background-color: $header_mobile_cart_badge_bg;
      color: $header_mobile_cart_badge_color;
      span {
        display: none;
      }
    }
  }
  .header-mobile.header-mobile--compact {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: $header_mobile_divider_color;
    .header-col-logo {
      @include flexWidth(auto);
      border-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
    .header-row {
      flex-wrap: nowrap;
    }
  }
  .header-currency.header-drop {
    margin: 0;
  }
  body.has-slider .header-mobile.header-mobile--compact,
  body.has-sticky .header-mobile.header-mobile--compact {
    border-bottom: 0;
  }
}

// Header style 2
@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  .header-style-2 {
    .header-row .header-col-r {
      justify-content: flex-end;
    }
    .header-nav-bg .header-col-r {
      justify-content: flex-end;
    }
    .header-desktop > [class*='container'] {
      padding-top: 22px;
      padding-bottom: 22px;
    }
  }
  .has-sticky .header-style-2.header-absolute {
    animation-name: fadeIn;
    animation-duration: .5s;
  }
}

// Header style 3
@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  .header-style-3 {
    .header-search {
      margin: 0;
    }
    .header-row .header-col-r {
      justify-content: flex-end;
    }
    .header-desktop > [class*='container'] {
      padding-top: 22px;
      padding-bottom: 22px;
    }
    .header-search-mob {
      display: none;
    }
  }
}