.count-input {
  position: relative;
  width: 100%;
  max-width: 125px;
  @media (max-width: $screen-lg-max) {
    max-width: 115px;
  }
  input {
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    height: 36px;
    border: 1px solid $color3;
    background: none;
    text-align: center;
  }
  input:focus {
    outline: none;
  }
  .incr-btn {
    display: block;
    position: absolute;
    width: 40px;
    height: 34px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 34px;
    top: 50%;
    right: 0;
    margin-top: -17px;
    text-decoration: none;
  }
  .incr-btn:hover {
    color: $color_dark;
  }
  .incr-btn:first-child {
    right: auto;
    left: 0;
    top: 46%;
  }
}