.instagram-feed-style1 {
  .title-wrap + & {
    margin-top: 35px;
    @media (max-width: $screen-sm-max) {
      margin-top: 25px;
    }
  }
  .instagram_gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -5px;
    width: 100%;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: calc(12.5% - 10px);
      margin: 5px;
      overflow: hidden;
      text-decoration: none;
      text-decoration: none;
      @media (max-width: 991px) {
        width: calc(25% - 10px);
      }
    }

    a:after {
      background: $instagram-hover_bg;
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .2s;
    }

    a:before {
      position: absolute;
      font-family: 'icomoon';
      content: "\e929";
      font-size: 26px;
      color: $instagram-icon_color;
      opacity: 0;
      transition: .2s;
    }

    a:hover:after {
      opacity: .3;
    }

    a:hover:before {
      opacity: 1;
    }

    img {
      display: block;
      width: 100% !important;
      margin: 0 !important;
    }
  }
}

.instagram-feed-style2 {
  .title-wrap + & {
    margin-top: 10px;
    @media (max-width: $screen-sm-max) {
      margin-top: 25px;
    }
  }
  .instagram_gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    @media (max-width: $screen-sm-max) {
      margin-left: -5px;
      margin-right: -5px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: calc(25% - 30px);
      margin: 30px 15px 0;
      overflow: hidden;
      text-decoration: none;
      @media (max-width: $screen-sm-max) {
        margin: 10px 5px 0;
        width: calc(33.333% - 10px);
      }
    }
    a:after {
      background: $instagram-hover_bg;
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .2s;
    }

    a:before {
      position: absolute;
      font-family: 'icomoon';
      content: "\e929";
      font-size: 26px;
      color: $instagram-icon_color;
      opacity: 0;
      transition: .2s;
    }

    a:hover:after {
      opacity: .3;
    }

    a:hover:before {
      opacity: 1;
    }

    img {
      display: block;
      width: 100% !important;
      margin: 0 !important;
    }
  }
}
