img.lazyload, [data-bgset].lazyload {
  opacity: 0;
  width: 100%;
}

img[data-src], [data-bgset] {
  transition: opacity .5s;
}

img.lazyloading, [data-bgset].lazyloading {
  opacity: .5;
  transition: opacity .5s;
}

.lazyloaded, img.lazyloaded {
  opacity: 1;
}