.mln-loader > * {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #2b2b2b;
  margin: 0 5px;
  opacity: 0;
}

.product-item .mln-loader {
  font-size: 10px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
}

.mln-loader > *:nth-child(1) {
  animation: loading1 1s 0s ease-in infinite;
}

.mln-loader > *:nth-child(2) {
  animation: loading1 1s 0.23s ease-in infinite;
}

.mln-loader > *:nth-child(3) {
  animation: loading1 1s 0.46s ease-in infinite;
}

@keyframes loading1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  90% {
    opacity: 0;
  }
}

@keyframes loading2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.1;
  }
}

@keyframes loading3 {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

// circle loader
.mln-loader-circle,
.mln-loader-circle:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.mln-loader-wrap {
  opacity: 0;
  visibility: hidden;
  @include fullAbsolute;
  z-index: 1;
  content: '';
  background: rgba(255, 255, 255, .75);
  transition: .2s;
}

.mln-loader-wrap.visible {
  visibility: visible;
  opacity: 1;
}

.mln-loader-circle {
  font-size: 10px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  text-indent: -9999em;
  border-top: 5px solid rgba(255, 255, 255, 0.6);
  border-right: 5px solid rgba(255, 255, 255, 0.6);
  border-bottom: 5px solid rgba(255, 255, 255, 0.6);
  border-left: 5px solid $theme_color;
  -webkit-animation: mlnLoad .5s infinite linear;
  animation: mlnLoad .5s infinite linear;
}

@-webkit-keyframes mlnLoad {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes mlnLoad {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}