.lookbook-page .main-content {
  position: relative;
  z-index: 1;
}

.lookbox-item {
  position: relative;
  .bs-popover-right, .bs-popover-auto[x-placement^="right"] {
    margin-left: 10px;
  }
}

.lookbox-popover-content {
  display: none;
}

.lookbox-item-image img {
  max-width: 100%;
}

.lookbox-item .popover {
  z-index: 1060;
  padding: 5px;
  width: 283px;
  max-width: 50%;
  font-family: $custom-font;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  z-index: 1030;
  .popover-body {
    padding: 0;
    color: inherit;
  }
}

.lookbox-popover-btn {
  background-color: #fff;
  width: 15px;
  height: 15px;
  display: block;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 0 7px rgba(0, 0, 0, .3);
  transition: .2s;
  cursor: pointer;
  &:after {
    content: '';
    @include fullAbsolute();
    border-radius: 50%;
    opacity: 0;
    transition: .2s;
  }
  &:hover:after {
    background-color: $theme_color;
    opacity: 1;
    margin: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
  }
  [class*='icn'] {
    color: #fff;
    font-size: 7px;
    line-height: 10px;
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 4px;
    opacity: 0;
  }
  &.active {
    box-shadow: 0 0 0 7px rgba(255, 255, 255, .3);
  }
  &.active [class*='icn'] {
    opacity: 1;
  }
  &.active:after {
    background-color: #2b2b2b;
    opacity: 1;
    margin: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
  }
}

.lookbox-item-point {
  position: absolute;
}

.product-popover-info {
  padding: 12px 5px 0;
}

.product-popover-action {
  border-top: 1px solid #e9e9e9;
  clear: both;
  overflow: hidden;
  padding: 5px 0;
  margin: 10px -5px 0;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $screen-md-min) {
    .col-right {
      margin-left: auto;
    }
  }
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
    align-items: center;
  }
}

.product-popover-btn {
  font-size: 13px;
  line-height: 28px;
  font-weight: 600;
  color: #2b2b2b;
  display: inline-block;
  background: none;
  padding: 0;
  border: 0;
  margin: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    color: $theme_color;
    text-decoration: none;
  }
}

.product-popover {
  img {
    max-width: 100%;
  }
}

.product-popover {
  font-family: $custom-font;
  color: $body_color;
  background-color: #fff;
  overflow-x: hidden;
  .popover-product-title {
    font-size: 15px;
    line-height: 28px;
  }
}

.product-popover-title {
  margin: 0 5px;
  font-size: 15px;
  line-height: 22px;
  font-weight: normal;
  & + * {
    margin-top: 5px;
  }
  @media (max-width: $screen-sm-max) {
    font-size: 14px;
    line-height: 18px;
  }
}

.product-popover-title.hover,
.product-popover-title.hover a {
  color: $theme_color
}

.product-popover-price {
  font-size: 15px;
  letter-spacing: -.5px;
  margin-left: 5px;
  margin-right: 5px;
  .price-old {
    font-size: 12px;
    font-weight: bold;
    text-decoration: line-through;
  }
  .price-new {
    padding: 0 5px;
    color: $theme_color;
  }
}