@mixin xlg-only {
  @media (min-width: $screen-xlg-min) {
    @content;
  }
}

@mixin lg-only {
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    @content;
  }
}

@mixin md-only {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin sm-only {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin xs-only {
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin xxs-only {
  @media (max-width: $screen-xxs-max) {
    @content;
  }
}

@mixin listreset {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

@mixin fullAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin flexWidth($values) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 $values;
  -ms-flex: 0 0 $values;
  flex: 0 0 $values;
  max-width: $values;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color, $start-color);
    background: linear-gradient(to right, $start-color, $end-color, $start-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}