.pushmenu,
.pushmenu-toggle {
  display: none;
}

@media (min-width: $mobile-menu-breikpoint-min) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: $mobile-menu-breikpoint-max) {
  .desktop-megamenu {
    display: none;
  }
  .mobile-menu {
    padding: 30px;
    display: block;
    height: 100vh;
    width: 100%;
    max-width: $pushmenu-max-width;
    position: fixed;
    top: 0;
    z-index: 101;
    overflow: hidden;
    transition: .4s ease;
    background-color: $pushmenu_bg_color;
  }
  .mobile-menu {
    display: block;
  }
  .pushmenu-toggle {
    min-width: 22px;
    display: inline-block;
    color: $header_mobile_link_color;
    text-decoration: none;
  }
  @media (hover: hover) {
    .pushmenu-toggle:hover {
      text-decoration: none;
      color: $header_mobile_link_color;
    }
  }
  .pushmenu {
    display: block;
    width: 100%;
    max-width: $pushmenu-max-width;
    position: fixed;
    top: 50px;
    z-index: 101;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .4s ease;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0 50px 0;
    li > a,
    li > span {
      position: relative;
      display: block;
      padding: 10px 15px 9px 0;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s ease-in-out, transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }
    li:not(:last-child) {
      border-bottom: 1px solid $pushmenu_brd_color;
    }
    li > a,
    li > span,
    li:focus > a,
    li:focus > span {
      color: $pushmenu_nav_color;
    }
    li.is-hover > a {
      color: $pushmenu_nav_hover_color;
      background-color: $pushmenu_nav_hover_bg;
    }
    li.active > a {
      color: $pushmenu_nav_active_color;
      background-color: $pushmenu_nav_active_bg;
    }
    .pushmenu-sub-label {
      color: $pushmenu_label_color;
      background: $pushmenu_label_bg;
    }
    .pushmenu-sub-label > a {
      color: $pushmenu_label_color;
    }
    .js-pushmenu-toggle {
      i {
        position: absolute;
        left: 16px;
        top: 11px;
        font-size: 18px;
      }
    }
  }
  .menu--left,
  .menu--left .pushmenu {
    left: -$pushmenu-max-width;
  }
  .menu--right,
  .menu--right .pushmenu {
    right: -$pushmenu-max-width;
  }
  .pushmenu-sub {
    background-color: $pushmenu_sub_bg_color;
    li > a,
    li > span {
      color: $pushmenu_sub_nav_color;
    }
    li:not(:last-child) {
      border-color: $pushmenu_sub_brd_color;
    }
    li.active > a {
      color: $pushmenu_sub_nav_active_color;
      background-color: $pushmenu_sub_nav_active_bg;
    }
  }
  body.no-touch .pushmenu-sub li:hover > a {
    color: $pushmenu_sub_nav_hover_color;
    background-color: $pushmenu_sub_nav_hover_bg;
  }
  .menu--left.is-open,
  .menu--left .is-open {
    left: 0;
  }
  .menu--right.is-open,
  .menu--right .is-open {
    right: 0;
  }
  .pushmenu.pushmenu--left.is-hide {
    & > li > a {
      opacity: 0;
      transform: translateX(40%);
    }
  }
  .pushmenu.pushmenu--right.is-hide {
    & > li > a {
      opacity: 0;
      transform: translateX(-40%);
    }
  }
  .pushmenu-sub-label > a:not(:last-child) {
    display: none;
  }
  .close-sub,
  .open-sub {
    cursor: pointer;
  }
  .open-sub {
    position: relative;
    &:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'icomoon';
      content: '\e908';
      font-size: 7px;
      color: $color2;
      pointer-events: none;
    }
  }
  .close-sub,
  .pushmenu-sub-label {
    padding: 0;
    display: block;
  }
  li.close-sub:not(:last-child) {
    color: $pushclose_color;
    background: $pushclose_bg;
    position: relative;
    border-color: $color_dark;
    span {
      font-size: 13px;
      font-weight: bold;
    }
  }
  .close-sub:after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-family: 'icomoon';
    content: '\e907';
    color: $color_dark;
    font-size: 7px;
  }
  .pushmenu-toggle {
  }
  .pushmenu-toggle:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .mobile-menu.is-open + .dark-overlay {
    display: block;
    opacity: 0.4;
    z-index: 99;
  }
  .pushmenu-close {
    position: absolute;
    right: 33px;
    top: 18px;
    z-index: 101;
    color: $color_dark;
    font-size: 13px;
    line-height: 1em;
    font-weight: bold;
    text-decoration: none;
    [class*='icn-'] {
      font-size: 18px;
      padding: 0 12px;
      position: relative;
      top: 3px;
    }
  }
  .pushmenu-close:hover {
    text-decoration: none;
    color: $theme_color;
  }
}

@keyframes dropmenuFirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dropmenuFirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropmenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dropmenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.is-current {
  //background-color: red !important;
  pointer-events: all;
}

.is-open.is-hide {
  pointer-events: none;
}

.pushmenu-wrapper {
  margin-top: 20px;
}

.mobile-menu-bottom {
  position: absolute;
}

.mobile-menu-bottom {
  width: calc(100% - 100px);
  margin: 0 20px;
  padding: 25px 0 20px;
  border-top: 1px solid $pushmenu_brd_color;
  .dropdown {
    width: 100%;
  }
  .drop-toggle {
    display: none;
  }
  .dropdown-menu {
    position: relative;
    display: block;
    box-shadow: none;
    width: 100%;
    transform: none !important;
    top: auto;
  }
  .header-drop {
    margin: 0;
  }
  .header-drop-title {
    font-size: 16px;
    line-height: 20px;
    font-family: $custom-font;
    font-weight: 600;
    color: $pushmenu_link-title_color;
    text-transform: uppercase;
  }
  .header-drop .dropdown-menu li > a {
    padding: 6px 0;
    color: $pushmenu_link_color;
    text-transform: uppercase;
    &:hover {
      color: $pushmenu_link_hover_color;
      background-color: transparent;
    }
  }
  .header-drop .dropdown-menu li.active > a {
    color: $pushmenu_link_active_color;
  }
  .header-drop .dropdown-menu li > a span {
    display: inline-block;
  }
}