// modal options
.modal > .modal-dialog-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  pointer-events: none;
  .modal-content {
    pointer-events: all;
    max-height: calc(100vh - 60px);
  }
  @media (max-width: $screen-sm-max) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  transform: translate(0);
}

.modal .close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 15px;
  font-size: 15px;
  color: $color_dark;
  opacity: 1;
  cursor: pointer;
}

.modal .close:hover {
  color: $theme_color;
}

.modal-dialog {
  max-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  overflow-x: hidden;
  margin: 0 auto;
  background: $modal_bg;
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.modal.opt-modal .modal-dialog {
  max-width: 310px;
}

.modal .modal-content {
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

.modal-backdrop {
  background: $modal_backdrop_bg;
}

.modal-backdrop.show {
  opacity: 0.45;
}

// quick view modal
.qw-modal {
  .modal-content {
    height: 557px;
  }
  .modal-content > .row {
    flex-wrap: nowrap;
  }
  .modal-dialog {
    //overflow: visible;
    width: 925px;
    max-width: calc(100vw - 60px);
    @media (max-width: $screen-sm-max) {
      justify-content: flex-start;
      overflow: visible;
      min-height: calc(100vh - 20px);
    }
  }
  .col-gallery {
    @include flexWidth(59%);
  }
  .product-infobox {
    padding: 25px 30px 15px 10px;
    background-color: #fff;
  }
  .product-infobox-scroll {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 225px;
    padding: 0 20px 20px 0;
    @media (max-width: $screen-sm-max) {
      overflow: visible;
      height: auto !important;
    }
  }
  .product-infobox-scroll::-webkit-scrollbar {
    width: 8px
  }
  .product-infobox-scroll::-webkit-scrollbar-thumb,
  .product-info-block::-webkit-scrollbar-thumb:window-inactive {
    background: $color3;
  }
  .product-infobox-top,
  .product-infobox-scroll {
    & > * + * {
      margin-top: 28px;
    }
  }
  .product-infobox-bot {
    position: relative;
    margin-top: 0;
    padding-top: 20px;
    border-top: 1px solid $color3;
    background-color: #fff;
    & > * + * {
      padding-top: 10px;
    }
    .btn {
      width: 100%;
    }
    &:after {
      content: '';
      height: 30px;
      width: calc(100% - 17px);
      top: -31px;
      z-index: 1;
      position: absolute;
      pointer-events: none;
      background: rgba(255, 255, 255, 0);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
  }
  .product-gallery-thumbs {
    padding: 10px 15px !important;
  }
  .product-gallery .slick-slider.slick-vertical.slick-squared-arrow .slick-next {
    left: auto;
    right: auto;
  }
}

@media (max-width: $screen-md-max) {
  .qw-modal {
    .modal-content {
      height: 570px;
    }
    .col-gallery {
      @include flexWidth(50%);
    }
    .product-infobox {
      padding: 25px 30px 15px 10px;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .qw-modal {
    .modal-content {
      height: auto;
    }
    .modal-content > .row {
      flex-wrap: wrap;
    }
    .product-gallery-single {
      width: 100%;
    }
    .col-gallery {
      @include flexWidth(100%);
    }
    .product-infobox-scroll {
      height: auto;
      padding: 0 0 20px;
    }
    .product-infobox {
      padding: 15px;
    }
    .product-infobox-bot:after {
      display: none;
    }
  }
}

.modal-newsletter {
  .modal-dialog {
    width: 785px;
    max-width: calc(100vw - 60px);
  }
  .modal-content {
    min-height: 300px;
    & > .row {
      height: 100%;
    }
  }
  .col-image {
    background-size: cover;
    background-position: center center;
  }
  .col-form {
    display: flex;
    flex-direction: column;
    padding: 30px 45px;
  }
  @media (max-width: $screen-sm-max) {
    .modal-content {
      min-height: 0;
    }
    .col-image {
      display: none;
    }
    .col-form {
      padding: 20px 30px;
    }
  }
}

.modal-newsletter-form {
  flex: 1;
  margin-top: 40px;
  @media (max-width: $screen-md-max) {
    margin-top: 20px;
  }
  & > * {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .btn {
    margin: 15px 0 0;
  }
  .form-checkbox-wrap {
    margin-top: auto;
    padding-top: 50px;
    @media (max-width: $screen-md-max) {
      padding-top: 0;
      margin-top: 20px;
    }
  }
}