.page-empty {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 0;
  @media (max-width: $screen-lg-max) {
    padding: 70px 0;
  }
  @media (max-width: $screen-md-max) {
    padding: 50px 0;
  }
  @media (max-width: $screen-sm-max) {
    padding: 30px 0;
  }
  &-text {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    & > * {
      margin-bottom: 0;
    }
  }
  &-title {
    font-size: 144px;
    line-height: 1em;
    &:not(:first-child) {
      margin-top: 45px;
    }
    @media (max-width: $screen-lg-max) {
      font-size: 120px;
      line-height: 1.1em;
    }
    @media (max-width: $screen-md-max) {
      font-size: 95px
    }
    @media (max-width: $screen-sm-max) {
      font-size: 65px;
      line-height: 1.2em;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 50px;
      line-height: 1.4em;
    }
  }
  &-subtitle {
    font-size: 28px;
    line-height: 1em;
    &:not(:first-child) {
      margin-top: 0;
    }
    @media (max-width: $screen-lg-max) {
      font-size: 24px
    }
    @media (max-width: $screen-md-max) {
      font-size: 20px
    }
    @media (max-width: $screen-sm-max) {
      font-size: 18px
    }
    @media (max-width: $screen-sm-max) {
      font-size: 16px
    }
  }
  .btn {
    &:not(:first-child) {
      margin-top: 45px;
    }
    @media (max-width: $screen-sm-max) {
      &:not(:first-child) {
        margin-top: 25px;
      }
    }
    @media (max-width: $screen-sm-max) {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
}

.block-404 {
  padding: 85px 0 150px;
  text-align: center;
  @media (max-width: $screen-sm-max) {
    padding: 65px 0 110px;
  }
  @media (max-width: $screen-xs-max) {
    padding: 35px 0 60px;
  }
  &:not(:first-child) {
    margin-top: 40px;
  }
  &-image {
    position: relative;
    display: inline-block;
  }
  &-title {
    margin-bottom: 0;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  &-text {
    font-size: 15px;
    line-height: 28px;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  &-actions {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}