// product gallery
.product-gallery {
  display: flex;
  overflow: hidden;
  ul {
    @include listreset;
  }
  .product-gallery-single img {
    max-width: 100%;
  }
}

.product-gallery.thumbs-left, .product-gallery.thumbs-right {
  .product-gallery-single {
    @include flexWidth(calc(100% - 100px));
  }
  .product-gallery-thumbs {
    @include flexWidth(100px);
    padding-bottom: 80px;
  }
  .slick-slider.slick-vertical.slick-squared-arrow .slick-next {
    bottom: 0;
    top: auto;
  }
}

.product-gallery.thumbs-left {
  .product-gallery-single {
    order: 2;
  }
  .product-gallery-thumbs {
    order: 1;
    padding: 0 30px 0 0;
  }
}

.product-gallery.thumbs-right {
  .product-gallery-single {
    order: 1;
  }
  .product-gallery-thumbs {
    order: 2;
    padding: 0 0 0 30px;
    .slick-slider.slick-vertical.slick-squared-arrow .slick-next {
      left: auto;
      right: 0;
    }
  }
}

.product-gallery.thumbs-bottom, .product-gallery.thumbs-top {
  flex-direction: column;
  .product-gallery-thumbs {
    padding: 0 80px;
    ul li {
      margin: 0 5px;
    }
  }
}

.product-gallery.thumbs-bottom {
  .product-gallery-thumbs {
    margin: 10px 0 0 0;
  }
}

.product-gallery.thumbs-top {
  .product-gallery-thumbs {
    order: -1;
    margin: 0 0 10px;
  }
}

.product-gallery-thumbs-grid {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -5px 0;
    padding: 0;
  }
  li {
    height: 0;
    @include flexWidth(14.2857%);
    padding: 0;
    margin-bottom: 10px;
    padding-top: calc(14.2857% - 10px);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    @media (max-width: $screen-md-max) {
      @include flexWidth(20%);
      padding-top: 20%;
    }
    @media (max-width: $screen-sm-max) {
      @include flexWidth(14.2857%);
      padding-top: 14.2857%;
    }
    @media (max-width: $screen-xs-max) {
      @include flexWidth(20%);
      padding-top: 20%;
    }
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      border: 5px solid transparent;
      transform: translate(-50%, -50%);
    }
  }
}

.product-gallery-grid {
  ul {
    margin: -30px -15px 0 -15px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    padding: 30px 15px 0;
    @include flexWidth(50%);
    img {
      width: 100%;
    }
  }
}

.product-gallery-single {
  a > img {
    width: 100%;
  }
  .slick-slider .slick-slide {
    padding: 0;
  }
  .slick-slider .slick-prev {
    left: 5px;
  }
  .slick-slider .slick-next {
    right: 5px;
  }
}

.product-gallery .product-gallery-thumbs {
  position: relative;
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: auto;
  }
  ul {
    position: static;
  }
  ul li {
    cursor: pointer;
    margin-bottom: 10px;
  }
  .slick-slider .slick-slide {
    padding: 0;
  }
}

.product-gallery .product-gallery-single:only-child {
  width: 100%;
}

@media (max-width: $screen-sm-max) {
  .product-gallery.thumbs-left .product-gallery-thumbs,
  .product-gallery.thumbs-right .product-gallery-thumbs {
    display: none;
  }
  .product-gallery-single,
  .product-gallery.thumbs-left .product-gallery-single,
  .product-gallery.thumbs-right .product-gallery-single {
    @include flexWidth(100%);
  }
}

.product-infobox > * + * {
  margin-top: 28px;
  margin-bottom: 0;
}

.product-infobox .mt-lg {
  margin-top: 50px;
}

.product-infobox .mt-sm {
  margin-top: 14px;
}

.product-infobox .brd-top {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -14px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $color3;
  }
}

.product-infobox .brd-top.mt-lg {
  &:before {
    top: -14px;
  }
}

.product-infobox .brd-top.mt-sm {
  &:before {
    top: -7px;
  }
}

.product-infobox .brd-top.mt-0 {
  &:before {
    top: -1px;
  }
}

.product-infobox {
  .product-title {
    margin-bottom: 0;
    font-size: 29px;
    line-height: 1em;
    font-weight: bold;
  }
  .product-title:first-child {
    margin-top: 10px;
  }
  .product-rating {
    font-size: 15px;
    line-height: 18px;
    [class*='icn-'] {
      color: $rating_color;
      font-size: 13px;
    }
    .tab-link {
      padding-left: 15px;
    }
  }
  .product-title + .product-rating {
    margin-top: 10px;
  }
  .product-price {
    font-size: 26px;
    line-height: 1em;
    font-weight: 600;
    .price-old {
      text-decoration: line-through;
      font-weight: bold;
      font-size: 18px;
      line-height: 1em;
    }
    .price-new {
      color: $theme_color;
    }
  }
  .product-price > * {
    vertical-align: bottom;
  }
  .product-price > * + * {
    padding-left: 15px;
  }
  .product-opts {
    width: 100%;
  }
  .product-opt,
  .product-count-wrap {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .product-opt > *,
  .product-count-wrap > * {
    position: relative;
  }
  .product-opt + * > * {
    padding-top: 13px;
  }
  * + .product-count-wrap {
    margin-top: 13px;
  }
  .product-opt-title,
  .product-count-title {
    padding-right: 15px;
    color: $color_dark;
    vertical-align: middle;
    font-weight: 600;
    font-size: 13px;
    line-height: 37px;
    min-width: 82px;
  }
  .product-opt [data-toggle="dropdown"],
  .product-opt .dropdown-menu a {
    span {
      display: block;
      float: left;
      width: 24px;
      height: 24px;
      margin-right: 6px;
      overflow: hidden;
      position: relative;
      top: 1px;
      left: -3px;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .product-meta {
    display: flex;
    min-height: 46px;
  }
  .product-meta > * + * {
    padding-left: 36px;
    position: relative;
  }
  .product-meta-item {
    display: flex;
    align-items: center;
  }
  .product-meta-item b {
    color: $color_dark;
    font-weight: 600;
    padding-right: 7px;
  }
  .product-meta-item b + .inline-socials {
    margin-left: 15px;
  }
  .product-meta-item + *:before {
    content: '';
    position: absolute;
    left: 18px;
    top: 0;
    height: 46px;
    width: 1px;
    background: $color3;
  }
  .product-meta + .product-meta {
    margin-top: 0;
  }
  .product-meta + .product-meta.brd-top {
    margin-top: 14px;
    padding-top: 14px;
  }
  .product-meta + .product-meta.brd-top:before {
    top: 0;
  }
  .product-meta-item [class*='icn-'] {
    font-size: 18px;
  }
}

.product-infobox {
  .opts-list {
    @include listreset;
    margin-left: -2px;
    margin-right: -2px;
    width: calc(100% + 4px);
    li {
      display: inline-block;
      margin: 4px 2px;
    }
  }
  .opts--color {
    text-align: left;
    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .2s;
      overflow: hidden;
      width: 30px;
      height: 30px;
      border: 1px solid #d5d5d5;
      background-color: #fff;
    }
    img {
      width: 20px;
      border-radius: 50%;
    }
    li:hover a {
      text-decoration: none;
      border-color: #2b2b2b;
    }
    li.active a {
      color: #fff;
      background-color: #2b2b2b;
      border-color: #2b2b2b;
    }
    li.active:hover a:after {
      position: absolute;
      z-index: 1;
      font-size: 5px;
      line-height: 12px;
      font-family: icomoon;
      content: '\e913';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      color: #fff;
      background-color: #2b2b2b;
      text-align: center;
    }
  }
  .opts--size a {
    color: #2b2b2b;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    padding: 6px 5px 5px;
    min-width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    overflow: hidden;
  }
  .opts--size li.active a {
    color: #fff;
    background-color: #2b2b2b;
    border-color: #2b2b2b;
  }
  .opts--size li.active a:hover {
    span {
      opacity: 0;
    }
    &:after {
      @include fullAbsolute;
      z-index: 1;
      font-size: 7px;
      line-height: 29px;
      font-family: icomoon;
      content: '\e913';
      color: $theme_color;
      text-align: center;
    }
  }
  .opts--size li a:hover {
    text-decoration: none;
    border-color: #2b2b2b;
  }
}

.product-gallery .slick-slide {
  video {
    width: 100%;
  }
  iframe {
    height: 100% !important;
  }
}

body.is-touch .product-gallery-single .easyzoom {
  pointer-events: none;
}

.product-infobox, .product-tabs {
  img {
    max-width: 100%;
  }
}