.product-grid,
.product-carousel {
  margin-top: -30px;
  &.slick-slider .slick-dots {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.product-grid.product-6 .product-item {
  @include flexWidth(16.666%);
}

.product-grid.product-5 .product-item {
  @include flexWidth(20%);
}

.product-grid.product-4 .product-item {
  @include flexWidth(25%);
}

.product-grid.product-3 .product-item {
  @include flexWidth(33.333%);
}

.product-grid.product-2 .product-item {
  @include flexWidth(50%);
}

.product-grid.product-1 .product-item {
  @include flexWidth(100%);
}

@media (min-width: $screen-xs-min) {
  .product-grid.product-xs-6 .product-item {
    @include flexWidth(16.666%);
  }
  .product-grid.product-xs-5 .product-item {
    @include flexWidth(20%);
  }
  .product-grid.product-xs-4 .product-item {
    @include flexWidth(25%);
  }
  .product-grid.product-xs-3 .product-item {
    @include flexWidth(33.333%);
  }
  .product-grid.product-xs-2 .product-item {
    @include flexWidth(50%);
  }
  .product-grid.product-xs-1 .product-item {
    @include flexWidth(100%);
  }
}

@media (min-width: $screen-sm-min) {
  .product-grid.product-sm-6 .product-item {
    @include flexWidth(16.666%);
  }
  .product-grid.product-sm-5 .product-item {
    @include flexWidth(20%);
  }
  .product-grid.product-sm-4 .product-item {
    @include flexWidth(25%);
  }
  .product-grid.product-sm-3 .product-item {
    @include flexWidth(33.333%);
  }
  .product-grid.product-sm-2 .product-item {
    @include flexWidth(50%);
  }
  .product-grid.product-sm-1 .product-item {
    @include flexWidth(100%);
  }
}

@media (min-width: $screen-md-min) {
  .product-grid.product-md-6 .product-item {
    @include flexWidth(16.666%);
  }
  .product-grid.product-md-5 .product-item {
    @include flexWidth(20%);
  }
  .product-grid.product-md-4 .product-item {
    @include flexWidth(25%);
  }
  .product-grid.product-md-3 .product-item {
    @include flexWidth(33.333%);
  }
  .product-grid.product-md-2 .product-item {
    @include flexWidth(50%);
  }
  .product-grid.product-md-1 .product-item {
    @include flexWidth(100%);
  }
}

@media (min-width: $screen-lg-min) {
  .product-grid.product-lg-6 .product-item {
    @include flexWidth(16.666%);
  }
  .product-grid.product-lg-5 .product-item {
    @include flexWidth(20%);
  }
  .product-grid.product-lg-4 .product-item {
    @include flexWidth(25%);
  }
  .product-grid.product-lg-3 .product-item {
    @include flexWidth(33.333%);
  }
  .product-grid.product-lg-2 .product-item {
    @include flexWidth(50%);
  }
  .product-grid.product-lg-1 .product-item {
    @include flexWidth(100%);
  }
}

@media (min-width: $screen-xlg-min) {
  .product-grid.product-xl-6 .product-item {
    @include flexWidth(16.666%);
  }
  .product-grid.product-xl-5 .product-item {
    @include flexWidth(20%);
  }
  .product-grid.product-xl-4 .product-item {
    @include flexWidth(25%);
  }
  .product-grid.product-xl-3 .product-item {
    @include flexWidth(33.333%);
  }
  .product-grid.product-xl-2 .product-item {
    @include flexWidth(50%);
  }
  .product-grid.product-xl-1 .product-item {
    @include flexWidth(100%);
  }
}

.product-item {
  margin-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  @media (max-width: $screen-sm-max) {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

.product-item .mln-loader {
  display: flex;
  @include fullAbsolute;
  justify-content: center;
  align-items: center;
  padding-bottom: 50%;
  padding-top: 50%;
  transition: .2s;
  pointer-events: none;
}

.product-item .mln-loader:not(.visible) {
  visibility: hidden;
}

.product-item-info {
  -webkit-backface-visibility: hidden;
}

.product-item-info > * + *,
.product-item-info-box > * + * {
  margin-top: 2px;
}

.product-item-photo-wrap {
  position: relative;
  z-index: 0;
  min-height: 100px;
}

.product-item > * + * {
  margin-top: 17px;
}

.product-item-photo {
  display: block;
  position: relative;
  z-index: 2;
}

.product-item-photo img {
  width: 100%;
  max-width: 100%;
  transition: opacity .5s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.product-item-title {
  margin-bottom: 0;
}

.product-item-title,
.product-item-title a {
  color: $product_card_title_color;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: normal;
}

.product-item-title:hover,
.product-item-title:hover a,
.product-item-title.hover,
.product-item-title.hover a {
  color: $product_card_title_hover_color;
}

.modal .product-item-title {
  margin-top: 18px;
  padding: 5px 25px 0;
  font-size: 13px;
}

.modal .product-item-title,
.modal .product-item-title a {
  color: $color4;
  letter-spacing: .5px;
}

.modal .product-item-title a:hover {
  color: $color_dark;
  text-decoration: none;
}

.product-item-meta {
  &,
  a {
    color: $product_card_options_color;
  }
  font-size: 13px;
  line-height: 20px;
  @include listreset;
  b {
    font-weight: 600;
    color: $product_card_options_name_color;
  }
}

.product-item-meta:not(:first-child) {
  margin-top: 5px;
}

.product-item-meta + * {
  margin-top: 5px;
}

.product-item-rating {
  font-size: 12px;
  color: $product_card_rating_color;
}

.product-item-price {
  color: $product_card_price_color;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -.5px;
  .price-old {
    font-size: 12px;
    font-weight: bold;
    text-decoration: line-through;
  }
  .price-new {
    padding: 0 5px;
    color: $product_card_price_new_color;
  }
}

.product-item-rating > * {
  margin-right: 2px;
}

.product-item-action {
  color: $product_card_cart_color;
  font-size: 17px;
}

.product-item-action:hover {
  color: $product_card_cart_hover_color;
  text-decoration: none;
}

.product-item-labels {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); //transition: .2s;
  pointer-events: none;
}

.product-item-labels > * {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 12px;
  height: 24px;
  border-radius: 12px;
  background-color: $label_sale_bg;
  color: $label_sale_color;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

.product-label-new {
  background-color: $label_new_bg;
  color: $label_new_color;
}

.product-label-hot {
  background-color: $label_hot_bg;
  color: $label_hot_color;
}

.product-item-labels > *.float-left {
  margin-right: 5px;
}

.product-item-labels > *.float-right {
  margin-left: 5px;
}

.product-item-oneclk {
  position: absolute;
  z-index: 5;
  right: 10px;
  bottom: 10px;
  left: 10px;
  display: block;
  background: $product_link_oneclick_bg;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  padding: 10px;
  color: $product_link_oneclick_color;
  &:hover {
    color: $product_link_oneclick_hover_color;
    text-decoration: none;
    background: $product_link_oneclick_hover_bg;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  }
}

@media (min-width: $screen-lg-min) {
  .product-item-qw {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    display: block;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 54px;
    color: $color_dark;
    &:hover {
      background: rgba(255, 255, 255, 1);
      text-decoration: none;
      color: $color_dark;
      box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    }
  }
}

.product-label-gallery {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .8);
  border-radius: 0;
  padding: 6px;
  font-size: 11px;
  color: $color_dark;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  pointer-events: all;
  [class*='icn-'] {
    font-size: 14px;
    &.icn--gradient {
      background: -webkit-linear-gradient(45deg, #000, $theme_color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &:hover {
    opacity: .75;
  }
}

.product-label-colors {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, .8);
  border-radius: 0;
  padding: 6px;
  font-size: 11px;
  color: $color_dark;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  pointer-events: all;
  &:hover {
    .product-label-colors--drop {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.product-label-colors--link {
  display: flex;
  align-items: center;
  span {
    display: block;
    position: relative;
    margin-left: 6px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    box-shadow: inset 5px -5px 5px rgba(0, 0, 0, .5);
  }
}

.product-label-colors--drop {
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 6px 16px;
  opacity: 0;
  list-style: none;
  transition: .2s;
  li {
    display: block;
    margin-top: 10px;
    text-align: right;
    span, a {
      display: inline-block;
      position: relative;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #fff;
      &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border-radius: 50%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
      }
    }
  }
}

.opt-scroll-up,
.opt-scroll-down {
  display: none;
}

@media (min-width: $screen-lg-min) {
  .product-item:not(.is-options-open) .product-item-gallery {
    position: absolute;
    display: flex;
    align-items: center;
    top: -5px;
    bottom: -5px;
    left: 0;
    width: 53px;
    background-color: #fff;
    opacity: 1;
    padding: 5px;
    z-index: 1;
    overflow: hidden;
    box-shadow: -5px 0 10px rgba(0, 0, 0, .1);
    img {
      width: 43px;
    }
    a {
      display: block;
      position: relative;
      margin-bottom: 5px;
    }
    a:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    }
    a:after {
      @include fullAbsolute;
      content: '';
      border: 2px solid #fff;
      opacity: 0;
    }
    a:hover:after {
      opacity: 1;
    }
  }
  .product-item-gallery .product-item-option {
    height: calc(100% - 48px);
    margin: auto !important;
    overflow: hidden;
  }
  .product-item-gallery.arrows-off {
    .opt-scroll-up,
    .opt-scroll-down {
      display: none;
    }
  }
  .product-item-gallery.arrows-off .product-item-option {
    height: 100%;
  }
  .opt-scroll-up,
  .opt-scroll-down {
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
  }
  .opt-scroll-up {
    top: 5px;
  }
  .opt-scroll-down {
    bottom: 5px;
  }
  .options-list {
    height: 100%;
    overflow: hidden;
  }
}

.product-item-oneclk,
.product-item-qw {
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.product-item:hover {
  z-index: 10;
}

.product-item.is-options-open {
  z-index: 11;
}

@media (min-width: $screen-lg-min) {
  .product-item:not(.is-options-open) .product-item-photo-wrap {
    .product-item-gallery:not(.arrows-off):hover .opt-scroll-up,
    .product-item-gallery:not(.arrows-off):hover .opt-scroll-down {
      display: block;
    }
  }
  .product-item:not(.is-options-open) .product-item-photo-wrap:hover {
    position: relative;
    .product-item-oneclk,
    .product-item-qw {
      opacity: 1;
      visibility: visible;
    }
    .product-item-oneclk {
      bottom: 30px;
    }
  }
  .product-item:not(.is-options-open) .product-item-photo-wrap.expand {
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    bottom: -10px;
    border: 5px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    .product-item-qw {
      transform: translate(5px, 5px);
      transition: 0s;
    }
    .product-label-gallery {
      display: none;
    }
    .product-item-options .options-list li {
      margin: 0 2px 5px;
    }
    .product-item-options .options-list li a {
      margin-bottom: 0;
    }
    .product-item-options {
      opacity: 1;
      z-index: 0;
      visibility: visible;
      & > * {
        visibility: hidden;
      }
      .product-item-gallery {
        visibility: visible;
        left: -53px;
      }
      .options-title {
        display: none;
      }
    }
  }
  .product-item:not(.is-options-open) .product-item-photo-wrap.expand + * {
    margin-top: 7px;
  }
  .product-item.shift-right:not(.is-options-open) .product-item-photo-wrap.expand {
    .product-item-options {
      z-index: 5;
      .product-item-gallery {
        visibility: visible;
        left: -5px;
      }
    }
  }
}

.product-item .product-item-options {
  padding: 25px;
  opacity: 0;
  visibility: hidden;
  @include fullAbsolute;
}

.product-item.is-options-open .product-item-options {
  opacity: 1;
  z-index: 4;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  text-align: center;
  top: -15px;
  left: -5px;
  min-height: calc(100% + 30px);
  min-width: calc(100% + 10px);
  height: auto;
  background: rgba(255, 255, 255, .9);
}

.modal {
  .product-item-options {
    padding: 12px 25px 25px;
    text-align: left;
  }
  .btn {
    margin-right: auto;
    margin-left: auto;
    max-width: 370px;
  }
  .product-added-label {
    background-color: #79ca19;
    color: #fff;
    margin-top: 17px;
    padding: 3px 25px 3px;
    font-size: 13px;
    line-height: 1.5em;
  }
}

.modal-content:not(.added) {
  .product-item-checkout,
  .product-added-label {
    display: none;
  }
}

.modal-content.added {
  .product-item-actions,
  .product-item-title {
    display: none;
  }
  .product-item-options-close {
    color: #fff;
  }
  .product-item-options-close:hover {
    color: #fff;
  }
}

.product-item-options-close {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  top: 14px;
  right: 13px;
  font-size: 11px;
  line-height: 1em;
  color: $color_dark;
  z-index: 1;
}

.product-item-options-close:hover {
  color: $theme_color;
}

.product-item-options .product-item-actions,
.product-item-options .product-item-checkout {
  position: relative;
  left: 1px;
  margin-top: auto;
  width: calc(100% - 2px);
  padding-top: 12px;
}

.product-item-options .product-item-option-price {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.product-item-options .count-input {
  margin-left: auto;
  max-width: 98px;
  input {
    height: 26px;
    font-size: 14px;
    font-weight: 600;
  }
  .incr-btn {
    width: 34px;
    height: 26px;
    font-size: 21px;
    line-height: 26px;
    margin-top: -13px;
  }
}

.product-item-option {
  position: relative;
  width: 100%;
}

.product-item-option:not(:first-child) {
  margin-top: 10px;
}

.product-item-option .options-title {
  margin-bottom: 15px;
  color: $color_dark;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}

.product-item.is-options-open .product-item-photo-wrap {
  position: static;
  .product-item-labels {
    display: none;
  }
}

.product-item-action:hover {
  color: $color_dark;
}

.product-item-actions-mbl {
  display: none;
}

.hide-label .product-item-labels,
.hide-label .product-item-qw {
  visibility: hidden !important;
  opacity: 0 !important;
}

.hide-label-exept-colors .product-item-labels > *:not(.product-label-colors ),
.hide-label-exept-colors .product-item-qw {
  //visibility: hidden !important;
  opacity: 0 !important;
  transition: opacity 0.3s;
}

@media (max-width: $screen-md-max) {
  .product-item-qw {
    display: block;
    opacity: 1;
    visibility: visible;
    position: relative;
    top: -39px;
    left: 10px;
    margin-bottom: -33px;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: $color_dark;
    font-size: 12px;
    line-height: 33px;
  }
  .product-item-actions-mbl + * {
    margin-top: 10px;
  }
  .product-item-qw:hover {
    text-decoration: none;
    color: $color_dark;
  }
  .product-item-actions-mbl {
    display: block;
  }
  .product-item .btn {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    max-width: 300px;
    width: 100%;
    height: auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
  }
  .product-item-actions-mbl .btn + .btn {
    margin-top: 5px;
  }
  .product-label-gallery {
    display: none;
  }
  .product-item-labels {
    bottom: auto;
  }
  .product-label-colors {
    display: none;
  }
  .product-item:not(.is-options-open) .product-item-options {
    padding: 0;
    margin: 15px 0 -15px 0;
    position: relative;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    & > * {
      display: none;
    }
    .product-item-gallery {
      display: block;
      position: relative;
    }
    .product-item-gallery li {
      display: inline-block;
      width: 24px;
      height: 24px;
      overflow: hidden;
      margin: 0 3px 2px;
    }
    .options-title {
      display: none;
    }
    .options--gallery {
      margin-left: -3px;
      margin-right: -3px;
      width: calc(100% + 6px);
    }
    .options--gallery a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .product-item-action {
    display: none;
  }
}

@media (max-width: $screen-sm-max) {
  .product-sm-2 .product-item.is-options-open .product-item-options {
    width: calc(200% - 10px);
    left: 5px;
  }
}

// options
.mln-dropdown[data-toggle="dropdown"],
.mln-dropdown-menu.dropdown-menu {
  max-width: 300px;
  min-width: 178px;
  width: 100%;
}

.mln-dropdown[data-toggle="dropdown"] {
  position: relative;
  display: inline-block;
  border: 1px solid $form_brd_color;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 35px 4px 9px;
  text-align: left;
  color: $color_dark;
  background-color: $form_bg_color;
  &:hover {
    text-decoration: none;
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 15px;
    color: $form_brd_color;
    content: '\e927';
    font-size: 8px;
    font-family: 'icomoon';
    transform: translateY(-50%);
  }
}

.mln-dropdown-menu.dropdown-menu {
  width: 100%;
  border-radius: 0;
  padding: 0;
  margin-top: -1px;
  border-top: 0;
  border-color: $color3;
  a {
    display: block;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 24px;
    color: $color_dark;
  }
  a:hover {
    text-decoration: none;
    background-color: #f9f9f9;
  }
  li.active a {
    background-color: #f9f9f9;
    cursor: auto;
    pointer-events: none;
  }
  &[x-placement="top-start"] {
    border-top: 1px solid $color3;
  }
}

.product-item,
.modal {
  .product-item-options [data-toggle="dropdown"],
  .product-item-options .dropdown-menu a {
    span {
      display: block;
      float: left;
      width: 24px;
      height: 24px;
      margin-right: 6px;
      overflow: hidden;
      position: relative;
      top: 1px;
      left: -3px;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .options-list {
    @include listreset;
    margin-left: -2px;
    margin-right: -2px;
    width: calc(100% + 4px);
    li {
      display: inline-block;
      margin: 0 2px 8px;
    }
  }
  .options--gallery {
    text-align: left;
    a {
      position: relative;
      display: block;
      overflow: hidden;
      width: 43px;
      height: 43px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      width: 100%;
    }
  }
  .options--size a {
    $opt_size_bg: transparent;
    $opt_size_color: $color_dark;
    color: $opt_size_color;
    background-color: $opt_size_bg;
    display: block;
    padding: 5px;
    min-width: 28px;
    height: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
  }
  .options--size li.active a {
    color: $opt_size_active_color;
    background-color: $opt_size_active_bg;
  }
  .options--size li a:hover {
    color: $opt_size_hover_color;
    background-color: $opt_size_hover_bg;
  }
}

.product-item-options .options--gallery {
  li:hover:not(.active) a {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  }
  li:hover:not(.active) a:after {
    @include fullAbsolute;
    content: '';
    border: 2px solid #fff;
  }
  li.active a:before {
    @include fullAbsolute;
    content: '';
    border: 1px solid #d5d5da;
    z-index: 1;
  }
  li.active a:after {
    @include fullAbsolute;
    content: '';
    border: 3px solid #fff;
  }
}

.product-item-scroll {
  height: 272px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 15px 0 0;
}

.product-item.product-item-hor {
  display: flex;
  margin-top: 7px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
  .product-item-photo-wrap {
    @include flexWidth(103px)
  }
  .product-item-info {
    margin-top: 18px;
    padding: 0 0 0 15px;
  }
}

@media (max-width: $screen-md-max) {
  .product-item.product-item-hor .product-item-info {
    margin-top: 8px;
  }
}

// product small
.product-sm-vertical {
  overflow-y: auto;
  overflow-x: hidden;
}

.product-sm-vertical::-webkit-scrollbar {
  width: 10px
}

.product-sm-vertical::-webkit-scrollbar-thumb,
.product-sm-vertical::-webkit-scrollbar-thumb:window-inactive {
  background: $color3;
}

.product-sm {
  display: flex;
  align-items: center;
  margin-left: -9px;
  margin-right: -9px;
}

.product-sm-title {
  font-size: 15px;
  line-height: 1.333em;
  font-weight: 400;
}

.product-sm-title a {
  display: inline-block;
}

.product-sm-title a:hover {
  text-decoration: none;
}

.product-sm > * {
  padding: 0 9px;
}

.product-sm-photo {
  @include flexWidth(40%);
}

.product-sm-info {
  @include flexWidth(60%);
}

.product-sm + .product-sm {
  margin-top: 10px;
}

.product-sm-info {
  padding-right: 20px;
}

.product-sm-info > *:not(:first-child) {
  margin-top: 7px;
}

.product-sm-info > * {
  margin-bottom: 0;
}

.product-sm-price {
  font-size: 15px;
  line-height: 1em;
  color: $color4;
  span {
    white-space: nowrap;
    display: inline-block;
  }
  .price-old {
    padding: 0 5px 0 0;
    font-size: 12px;
    font-weight: bold;
    text-decoration: line-through;
  }
  .price-new {
    color: $theme_color;
  }
}

.product-sm-rating {
  font-size: 15px;
  line-height: 1em;
  [class*='icn-'] {
    color: $rating_color;
    font-size: 13px;
  }
}

// Slider Shifts
.product-carousel {
  &.shift-left .slick-list {
    margin-left: -50px;
    padding-left: 50px;
  }

  &.shift-bot .slick-list {
    margin-bottom: -500px;
    padding-bottom: 500px;
    margin-left: -15px;
    padding-left: 15px;
    box-sizing: content-box;
  }

  &.shift-left {
    .slick-slide:not(.slick-active) {
      opacity: 0 !important;
      pointer-events: none;
    }
  }
}

// Product style 2
@media (min-width: $screen-lg-min) {
  .product-item-style2 {
    .product-item-info {
      position: absolute;
      bottom: 20px;
      left: 35px;
      right: 35px;
      transition: transform .2s;
    }
    .product-item-photo-wrap.expand + .product-item-info {
      bottom: 30px;
    }
    .product-item-info-box {
      background: #fff;
      padding: 10px 15px 5px;
    }
    .product-item-meta {
      display: none;
    }
    .product-item-meta + * {
      margin-top: 0;
    }
    .product-label-gallery {
      position: relative;
    }
    .product-item-oneclk {
      left: 20px;
      right: 20px;
      bottom: 20px !important;
    }
    .product-item-qw {
      transform: translateY(-50px);
    }
    &:not(.product-no-oneclk):hover {
      .product-item-info {
        pointer-events: none;
        transform: translateY(-46px);
        a {
          pointer-events: auto;
        }
      }
    }
    &:not(.is-options-open):hover .product-item-oneclk,
    &:not(.is-options-open):hover .product-item-qw {
      opacity: 1;
      visibility: visible;
    }
  }
}

.product-grid-hor-scroll {
  position: relative;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 50px;
  &:not(.has-xscroll) .row {
    justify-content: center;
  }
}

.product-grid-hor-scroll .row {
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}

.product-item .btn-one-click, .product-item-options .btn-one-click {
  @if $product_btn_oneclick_gradient {
    @include gradient($product_btn_oneclick_bg, $product_btn_oneclick_bg_end, horizontal);
    background-size: 200% auto;
  }
  @if $product_btn_oneclick_simple {
    background: $product_btn_oneclick_bg;
  }
  color: $product_btn_oneclick_color;
  border-color: $product_btn_oneclick_border;
  &:hover {
    @if $product_btn_oneclick_gradient {
      @include gradient($product_btn_oneclick_hover_bg_end, $product_btn_oneclick_hover_bg, horizontal);
      background-position: right center;
      background-size: 200% auto;
    }
    @if $product_btn_oneclick_simple {
      background: $product_btn_oneclick_hover_bg;
    }
    color: $product_btn_oneclick_hover_color;
    border-color: $product_btn_oneclick_hover_border;
  }
}

.product-item .btn-addtocart, .product-item-options .btn-addtocart {
  @if $product_btn_addtocart_gradient {
    @include gradient($product_btn_addtocart_bg, $product_btn_addtocart_bg_end, horizontal);
    background-size: 200% auto;
  }
  @if $product_btn_addtocart_simple {
    background: $product_btn_addtocart_bg;
  }
  color: $product_btn_addtocart_color;
  border-color: $product_btn_addtocart_border;
  &:hover {
    @if $product_btn_addtocart_gradient {
      @include gradient($product_btn_addtocart_hover_bg_end, $product_btn_addtocart_hover_bg, horizontal);
      background-position: right center;
      background-size: 200% auto;
    }
    @if $product_btn_addtocart_simple {
      background: $product_btn_addtocart_hover_bg;
    }
    color: $product_btn_addtocart_hover_color;
    border-color: $product_btn_addtocart_hover_border;
  }
}

.product-item .btn-options {
  @if $product_btn_options_gradient {
    @include gradient($product_btn_options_bg, $product_btn_options_bg_end, horizontal);
    background-size: 200% auto;
  }
  @if $product_btn_options_simple {
    background: $product_btn_options_bg;
  }
  color: $product_btn_options_color;
  border-color: $product_btn_options_border;
  &:hover {
    @if $product_btn_options_gradient {
      @include gradient($product_btn_options_hover_bg_end, $product_btn_options_hover_bg, horizontal);
      background-position: right center;
      background-size: 200% auto;
    }
    @if $product_btn_options_simple {
      background: $product_btn_options_hover_bg;
    }
    color: $product_btn_options_hover_color;
    border-color: $product_btn_options_hover_border;
  }
}

// product with dark background
.product-grid-darkbg {
  .product-item-title,
  .product-item-title a {
    color: $product_darkbg_card_title_color;
  }
  .product-item-title:hover,
  .product-item-title:hover a {
    color: $product_darkbg_card_title_hover_color;
  }
  .product-item-meta {
    &,
    a {
      color: $product_darkbg_card_options_color;
    }
    b {
      color: $product_darkbg_card_options_name_color;
    }
  }
  .product-item-price {
    color: $product_darkbg_card_price_color;
    .price-new {
      color: $product_darkbg_card_price_new_color;
    }
  }
  .product-item-action {
    color: $product_darkbg_card_cart_color;
  }

  .product-item-action:hover {
    color: $product_darkbg_card_cart_hover_color;
  }
  .product-item-rating {
    color: $product_darkbg_rating_color;
  }
  &.slick-slider .slick-dots li button,
  &.slick-slider .slick-dots li.slick-active button {
    background-color: #fff;
  }
  &.slick-slider .slick-dots li button:after {
    border-color: #fff;
  }
  .product-item .btn-one-click {
    @if $product_darkbg_btn_oneclick_gradient {
      @include gradient($product_darkbg_btn_oneclick_bg, $product_darkbg_btn_oneclick_bg_end, horizontal);
      background-size: 200% auto;
    }
    @if $product_darkbg_btn_oneclick_simple {
      background: $product_darkbg_btn_oneclick_bg;
    }
    color: $product_darkbg_btn_oneclick_color;
    border-color: $product_darkbg_btn_oneclick_border;
    &:hover {
      @if $product_darkbg_btn_oneclick_gradient {
        @include gradient($product_darkbg_btn_oneclick_hover_bg_end, $product_darkbg_btn_oneclick_hover_bg, horizontal);
        background-position: right center;
        background-size: 200% auto;
      }
      @if $product_darkbg_btn_oneclick_simple {
        background: $product_darkbg_btn_oneclick_hover_bg;
      }
      color: $product_darkbg_btn_oneclick_hover_color;
      border-color: $product_darkbg_btn_oneclick_hover_border;
    }
  }

  .product-item .btn-addtocart {
    @if $product_darkbg_btn_addtocart_gradient {
      @include gradient($product_darkbg_btn_addtocart_bg, $product_darkbg_btn_addtocart_bg_end, horizontal);
      background-size: 200% auto;
    }
    @if $product_darkbg_btn_addtocart_simple {
      background: $product_darkbg_btn_addtocart_bg;
    }
    color: $product_darkbg_btn_addtocart_color;
    border-color: $product_darkbg_btn_addtocart_border;
    &:hover {
      @if $product_darkbg_btn_addtocart_gradient {
        @include gradient($product_darkbg_btn_addtocart_hover_bg_end, $product_darkbg_btn_addtocart_hover_bg, horizontal);
        background-position: right center;
        background-size: 200% auto;
      }
      @if $product_darkbg_btn_addtocart_simple {
        background: $product_darkbg_btn_addtocart_hover_bg;
      }
      color: $product_darkbg_btn_addtocart_hover_color;
      border-color: $product_darkbg_btn_addtocart_hover_border;
    }
  }

  .product-item .btn-options {
    @if $product_darkbg_btn_options_gradient {
      @include gradient($product_darkbg_btn_options_bg, $product_darkbg_btn_options_bg_end, horizontal);
      background-size: 200% auto;
    }
    @if $product_darkbg_btn_options_simple {
      background: $product_darkbg_btn_options_bg;
    }
    color: $product_darkbg_btn_options_color;
    border-color: $product_darkbg_btn_options_border;
    &:hover {
      @if $product_darkbg_btn_options_gradient {
        @include gradient($product_darkbg_btn_options_hover_bg_end, $product_darkbg_btn_options_hover_bg, horizontal);
        background-position: right center;
        background-size: 200% auto;
      }
      @if $product_darkbg_btn_options_simple {
        background: $product_darkbg_btn_options_hover_bg;
      }
      color: $product_darkbg_btn_options_hover_color;
      border-color: $product_darkbg_btn_options_hover_border;
    }
  }
}

// product with color background
.product-grid-colorbg {
  .product-item-title,
  .product-item-title a {
    color: $product_colorbg_card_title_color;
  }
  .product-item-title:hover,
  .product-item-title:hover a {
    color: $product_colorbg_card_title_hover_color;
  }
  .product-item-meta {
    &,
    a {
      color: $product_colorbg_card_options_color;
    }
    b {
      color: $product_colorbg_card_options_name_color;
    }
  }
  .product-item-price {
    color: $product_colorbg_card_price_color;
    .price-new {
      color: $product_colorbg_card_price_new_color;
    }
  }
  .product-item-action {
    color: $product_colorbg_card_cart_color;
  }

  .product-item-action:hover {
    color: $product_colorbg_card_cart_hover_color;
  }
  .product-item-rating {
    color: $product_colorbg_rating_color;
  }
  &.slick-slider .slick-dots li button {
    background-color: $product_colorbg_slick_dot_color;
  }
  &.slick-slider .slick-dots li.slick-active button {
    background-color: $product_colorbg_slick_dot_color;
  }
  &.slick-slider .slick-dots li button:after {
    border-color: $product_colorbg_slick_dot_color;
  }
  &.slick-slider .slick-dots li button:after {
    border-color: $product_colorbg_slick_dot_color;
  }
  .product-item .btn-one-click {
    @if $product_colorbg_btn_oneclick_gradient {
      @include gradient($product_colorbg_btn_oneclick_bg, $product_colorbg_btn_oneclick_bg_end, horizontal);
      background-size: 200% auto;
    }
    @if $product_colorbg_btn_oneclick_simple {
      background: $product_colorbg_btn_oneclick_bg;
    }
    color: $product_colorbg_btn_oneclick_color;
    border-color: $product_colorbg_btn_oneclick_border;
    &:hover {
      @if $product_colorbg_btn_oneclick_gradient {
        @include gradient($product_colorbg_btn_oneclick_hover_bg_end, $product_colorbg_btn_oneclick_hover_bg, horizontal);
        background-position: right center;
        background-size: 200% auto;
      }
      @if $product_colorbg_btn_oneclick_simple {
        background: $product_colorbg_btn_oneclick_hover_bg;
      }
      color: $product_colorbg_btn_oneclick_hover_color;
      border-color: $product_colorbg_btn_oneclick_hover_border;
    }
  }

  .product-item .btn-addtocart {
    @if $product_colorbg_btn_addtocart_gradient {
      @include gradient($product_colorbg_btn_addtocart_bg, $product_colorbg_btn_addtocart_bg_end, horizontal);
      background-size: 200% auto;
    }
    @if $product_colorbg_btn_addtocart_simple {
      background: $product_colorbg_btn_addtocart_bg;
    }
    color: $product_colorbg_btn_addtocart_color;
    border-color: $product_colorbg_btn_addtocart_border;
    &:hover {
      @if $product_colorbg_btn_addtocart_gradient {
        @include gradient($product_colorbg_btn_addtocart_hover_bg_end, $product_colorbg_btn_addtocart_hover_bg, horizontal);
        background-position: right center;
        background-size: 200% auto;
      }
      @if $product_colorbg_btn_addtocart_simple {
        background: $product_colorbg_btn_addtocart_hover_bg;
      }
      color: $product_colorbg_btn_addtocart_hover_color;
      border-color: $product_colorbg_btn_addtocart_hover_border;
    }
  }

  .product-item .btn-options {
    @if $product_colorbg_btn_options_gradient {
      @include gradient($product_colorbg_btn_options_bg, $product_colorbg_btn_options_bg_end, horizontal);
      background-size: 200% auto;
    }
    @if $product_colorbg_btn_options_simple {
      background: $product_colorbg_btn_options_bg;
    }
    color: $product_colorbg_btn_options_color;
    border-color: $product_colorbg_btn_options_border;
    &:hover {
      @if $product_colorbg_btn_options_gradient {
        @include gradient($product_colorbg_btn_options_hover_bg_end, $product_colorbg_btn_options_hover_bg, horizontal);
        background-position: right center;
        background-size: 200% auto;
      }
      @if $product_colorbg_btn_options_simple {
        background: $product_colorbg_btn_options_hover_bg;
      }
      color: $product_colorbg_btn_options_hover_color;
      border-color: $product_colorbg_btn_options_hover_border;
    }
  }
}