.post-sm + .post-sm {
  margin-top: 20px;
}

.post-sm {
  display: flex;
  align-items: center;
  margin-left: -9px;
  margin-right: -9px;
}

.post-sm-info > * + * {
  margin-top: 5px;
}

.post-sm-title {
  font-size: 15px;
  line-height: 1.333em;
  font-weight: 600;
  margin-bottom: 0;
}

.post-sm-title a {
  display: inline-block;
}

.post-sm-title a:hover {
  text-decoration: none;
}

.post-sm-date {
  font-size: 13px;
  line-height: 18px;
  color: $color4;
}

.post-sm > * {
  padding: 0 9px;
}

.post-sm-photo {
  @include flexWidth(40%);
}

.post-sm-photo img {
  width: 100%;
}