.review-rating {
  font-size: 12px;
  color: $product_card_rating_color;
}

.review-rating > * {
  margin-right: 2px;
}

.product-reviews:not(:first-child) {
  margin-top: 30px;
}

.product-review {
  position: relative;
  padding: 0 0 30px;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  & + * {
    margin-top: 30px;
  }
}

.product-review-photo {
  img {
    border-radius: 50%;
    width: 70px;
  }
}

.product-review-name {
  color: #2b2b2b;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}

.product-review-date {
  color: $from_blog_date_color;
  font-size: 13px;
  line-height: 18px;
  @media (min-width: $screen-sm-min) {
    margin-left: auto;
  }
}

.product-review-content {
  & > * + * {
    margin-top: 10px;
  }
}

.product-review-text,
.product-review-text p {
  font-size: 15px;
  line-height: 22px;
}

.product-review:not(:last-child):after {
  border-bottom: 1px solid #e9e9e9;
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 15px;
  right: 15px;
}
