.searchbox:not(.searchbox-collapsed) {
  display: inline-block;
  .searchbox-input {
    padding: 0 80px 0 15px;
    height: 45px;
    width: 300px;
    outline: 0;
    border: 1px solid $color3;
    background: #fff;
  }

  .searchbox-input {
    transition: width 0.3s;
    @include placeholder {
      color: $color_dark;
    }
  }

  .searchbox-icon,
  .searchbox-submit {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 45px;
    outline: 0;
    border: 0;
    background: transparent;
    color: $header_link_color;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: $header_link_hover_color;
    }
  }

  .searchbox-drop {
    position: relative;
  }
}

.searchbox-collapsed {
  position: relative;
  min-width: 50px;
  height: 45px;

  .searchbox-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 80px 0 15px;
    width: 0;
    height: 46px;
    outline: 0;
    border: 1px solid transparent;
    background: transparent;
  }

  .searchbox-input {
    transition: width 0.3s;
    @include placeholder {
      color: $color_dark;
    }
  }

  .searchbox-icon,
  .searchbox-submit {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 50px;
    outline: 0;
    border: 0;
    background: transparent;
    color: $header_link_color;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    cursor: pointer;
    transition: color 0.2s;
  }

  @media (min-width: ($mobile-menu-breikpoint-max + 1)) {
    @media (hover: hover) {
      .searchbox-icon:hover,
      .searchbox-submit:hover {
        color: $header_link_hover_color;
      }
    }
    .searchbox-submit {
      right: 35px;
    }
  }

  @media (max-width: $mobile-menu-breikpoint-max) {
    .searchbox-icon {
      color: $header_mobile_link_color;
    }
  }

  .searchbox-submit {
    opacity: 0;
  }

  &.is-open {
    .searchbox-input {
      border-color: $color3;
      width: 300px;
      background: #fff;
    }
    .searchbox-submit {
      opacity: 1;
    }
    .searchbox-icon {
      font-size: 14px;
      [class*='icn-']:before {
        content: "\e913";
      }
    }
  }
}

@media (min-width: ($mobile-menu-breikpoint-max + 1)) {
  header > .searchbox-drop {
    display: none;
  }
}

@media (max-width: $mobile-menu-breikpoint-max) {
  header > [class*='container'] {
    z-index: 102;
    position: relative;
  }
  .searchbox {
    position: static;
    min-width: 0;
  }
  .searchbox-input,
  .is-open .searchbox-input {
    width: 100%;
    position: relative;
    border-left: 0;
    border-right: 0;
  }
  .searchbox-icon {
    position: relative;
    width: auto;
  }
  .searchbox-drop {
    position: absolute;
    padding: 0;
    z-index: -1;
    height: 50px;
    width: 100%;
    transition: .2s;
    opacity: 0;
    pointer-events: none;
    &:after {
      content: '';
      border-top: 1px solid $color3;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @media (max-width: $screen-sm-max) {
        left: 7.5px;
        right: 7.5px;
      }
    }
  }
  .searchbox-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 80px 0 15px;
    height: 46px;
    outline: 0;
    border: 1px solid transparent;
    background: #fff;
    transition: width 0.3s;
    @include placeholder {
      color: $color_dark;
    }
  }
  .searchbox-icon,
  .searchbox-submit {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 46px;
    outline: 0;
    border: 0;
    background: #fff;
    color: $color_dark;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.2s;
  }

  .searchbox-drop.is-open {
    transform: translateY(0);
    opacity: 1;
    z-index: 98;
  }
  .is-open .searchbox-input,
  .is-open .searchbox-submit {
    pointer-events: auto;
  }
  .is-open .searchbox-icon {
    position: relative;
    font-size: 16px;
    top: -2px;
    color: $color_dark;
  }
  .is-open .searchbox-icon [class*='icn']:before {
    content: '\e913';
  }
}
