.sidecart {
  height: 100%;
  width: 387px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 60px;
  list-style: none;
  background-color: #fff;
  overflow-y: auto;
  z-index: 1000;
  transform: translateX(100%);
  transition: .4s ease;
}

.sidecart.is-open {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, .15);
}

.sidecart-top {
  margin-bottom: 25px;
}

.sidecart-table {
  margin-bottom: 25px;
}

.sidecart-bot {
  font-size: 15px;
  font-weight: 600;
  color: $color1;
  margin-bottom: 15px;
}

.sidecart-close {
  font-size: 14px;
  font-weight: bold;
  color: $color1;
  cursor: pointer;
  [class*='icn-'] {
    position: relative;
    top: 2px;
    font-size: 16px;
    margin-right: 5px;
  }
}

.sidecart-close:hover {
  color: $theme_color;
}

.sidecart-icon {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: $color1;
}

.sidecart-prd {
  display: flex;
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $color3;
}

.sidecart-prd-photo-wrap {
  position: relative;
  @include flexWidth(75px);
  margin-right: 15px;
  min-height: 75px;
}

.sidecart-prd-delete {
  position: absolute;
  left: 3px;
  top: 0;
  width: 16px;
  height: 16px;
  background: $color4;
  color: #fff;
  border-radius: 50%;
  font-size: 9px;
  line-height: 18px;
  text-align: center;
}

.sidecart-prd-delete:hover {
  background: $theme_color;
  color: #fff;
  text-decoration: none;
}

.sidecart-prd-photo {
  position: absolute;
  width: 75px;
  height: 0;
  padding-bottom: 75px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.sidecart-prd-title {
  display: block;
  width: 160px;
  font-size: 15px;
  color: $color_dark;
}

.sidecart-prd-title:hover {
  color: $theme_color;
}

.sidecart-prd-action a {
  color: $color1;
  font-size: 13px;
  font-weight: bold;
}

.sidecart-prd-price {
  span + span {
    margin-left: 10px;
  }
}

.sidecart-prd-action a:hover {
  color: $theme_color;
  text-decoration: none;
}

.sidecart-prd-info > * + * {
  margin-top: 2px;
}

.dark-overlay {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #000;
  transition: .2s ease;
}

.sidecart.is-open + .dark-overlay {
  display: block;
  opacity: 0.4;
  z-index: 99;
}

.sidecart .btn-viewcart {
  @if $viewcart_btn_gradient {
    @include gradient($viewcart_btn_bg, $viewcart_btn_bg_end, horizontal);
    background-size: 200% auto;
  }
  @if $viewcart_btn_simple {
    background-color: $viewcart_btn_bg;
  }
  color: $viewcart_btn_color;
  border-color: $viewcart_btn_border;
  &:hover {
    @if $viewcart_btn_gradient {
      @include gradient($viewcart_btn_hover_bg_end, $viewcart_btn_hover_bg, horizontal);
      background-position: right center;
      background-size: 200% auto;
    }
    @if $viewcart_btn_simple {
      background-color: $viewcart_btn_hover_bg;
    }
    color: $viewcart_btn_hover_color;
    border-color: $viewcart_btn_hover_border;
  }
}