.mln-slider-wrap {
  position: relative;
  & > * {
    padding: 0;
  }
}

.mln-slider {
  width: 100%;
  overflow: hidden;
  transition: opacity 2s;
  opacity: 0;
  &:not(.slick-initialized) {
    height: 100vh;
  }
  &.slick-initialized {
    opacity: 1;
  }
  &:hover {
    .slick-prev,
    .slick-next {
      opacity: 1;
    }
  }
  &.slick-slider .slick-prev,
  &.slick-slider .slick-next {
    width: 49px;
    height: 49px;
    opacity: 0;
    background-color: rgba(#2b2b2b, .1);
  }
  &.slick-slider:hover .slick-prev,
  &.slick-slider:hover .slick-next {
    opacity: 1;
  }
  &.slick-slider .slick-prev {
    left: 30px;
    @media (max-width: 1599px) {
      left: 15px;
    }
    @media (max-width: $screen-lg-max) {
      left: 15px;
    }
    @media (max-width: $screen-md-max) {
      left: 15px;
    }
  }
  &.slick-slider .slick-next {
    right: 30px;
    @media (max-width: 1599px) {
      right: 15px;
    }
    @media (max-width: $screen-lg-max) {
      right: 15px;
    }
    @media (max-width: $screen-md-max) {
      right: 15px;
    }
  }
  &.slick-slider .slick-list,
  &.slick-slider .slick-track {
    height: 100%;
  }
  .slick-track {
    display: flex;
  }
  &.slick-slider .slick-dots {
    position: absolute;
    left: 50px;
    right: 50px;
    width: auto;
    margin: 0 0 15px;
    @media (max-width: $screen-sm-max) {
      margin: 0;
    }
  }
  .mln-slide-img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
}

.mln-slider .mln-slide {
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  height: auto;
  background-color: #fff;
  position: relative;
  & > .container {
    display: flex;
    align-items: center;
    @media (min-width: $screen-lg-min) {
      padding: 0;
    }
  }
  .mln-slide-media {
    position: absolute;
  }
}

.mln-slide-caption {
  z-index: 1;
  padding: 50px 0;
  @media (max-width: $screen-sm-max) {
    padding: 45px 0;
  }
  @include fullAbsolute;
  display: flex;
  align-items: center;
  &.to-bottom {
    align-items: flex-end;
  }
  &.to-top {
    align-items: flex-start;
  }
  &.to-center {
    justify-content: center;
    text-align: center;
  }
  &.to-right {
    justify-content: flex-end;
    text-align: right;
  }
  &.to-left {
    justify-content: flex-start;
    text-align: left;
  }
  & > .container {
    @media (min-width: $screen-md-min) and (max-width: 1499px) {
      max-width: calc(100% - 130px);
    }
  }
}

.mln-slide-text1 {
  font-size: 144px;
  line-height: 1em;
  font-weight: 700;
  color: $color_dark;
  &:not(:first-child) {
    margin-top: .2em;
  }
  @media (max-width: $screen-lg-max) {
    font-size: 114px
  }
  @media (max-width: $screen-md-max) {
    font-size: 84px
  }
  @media (max-width: $screen-sm-max) {
    font-size: 64px
  }
  @media (max-width: $screen-xs-max) {
    font-size: 44px
  }
}

.mln-slide-text2 {
  font-size: 72px;
  line-height: 1em;
  font-weight: 200;
  color: $color_dark;
  &:not(:first-child) {
    margin-top: .2em;
  }
  @media (max-width: $screen-lg-max) {
    font-size: 62px
  }
  @media (max-width: $screen-md-max) {
    font-size: 42px
  }
  @media (max-width: $screen-sm-max) {
    font-size: 32px
  }
  @media (max-width: $screen-xs-max) {
    font-size: 24px;
  }
}

.mln-slide-text1 + .mln-slide-text2 {
  margin-top: 0;
}

.mln-slide-text3 {
  font-size: 19px;
  line-height: 1.2em;
  color: $color_dark;
  &:not(:first-child) {
    margin-top: 2em;
  }
  @media (max-width: $screen-lg-max) {
    font-size: 17px
  }
  @media (max-width: $screen-md-max) {
    font-size: 16px
  }
  @media (max-width: $screen-sm-max) {
    font-size: 15px
  }
  @media (max-width: $screen-xs-max) {
    font-size: 13px;
  }
}

.mln-slide-button {
  &:not(:first-child) {
    margin-top: 3em;
    @media (max-width: $screen-xs-max) {
      margin-top: 30px;
    }
  }
  .mln-btn,
  .mln-btn-promo {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.video-control {
  position: absolute;
  z-index: 3;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 50px;
  font-size: 40px;
  line-height: 50px;
  //opacity: 0;
  //visibility: hidden;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  text-align: center;
}

@media (max-width: $screen-md-max) {
  .video-control {
    bottom: 30px;
  }
}

@media (max-width: $screen-sm-max) {
  .video-control {
    bottom: 0;
    right: 0;
    font-size: 30px;
  }
}

.video-control > * {
  cursor: pointer;
  color: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.video-control > *:hover {
  opacity: .7;
}

.video-control.visible {
  opacity: 1;
  visibility: visible;
}

.video-stop {
  display: none;
}

.is-playing .video-play {
  display: none;
}

.is-playing .video-stop {
  display: block;
}

//slider thumbnail
.mln-slider-thumbs {
  position: absolute;
  bottom: 30px;
  left: 15px;
  right: 15px;
  display: flex;
  max-height: 20%;
  height: 155px;
  @media (max-width: $screen-md-max) {
    display: none;
  }
}

.mln-slider-thumb {
  position: relative;
  margin: 0 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  transition: .2s;
  img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-backface-visibility: hidden;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid $slider_thumbnails_hover_border;
    opacity: 0;
    transition: .2s;
  }
  &:hover {
    text-decoration: none;
    box-shadow: 0 20px 27px rgba(0, 0, 0, .15);
    &:after {
      opacity: 1;
    }
  }
}

.mln-slider-thumb-caption {
  position: relative;
  z-index: 2;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
  color: #29292b;
  opacity: 1;
  transition: .35s;
}

.mln-slider-thumbs.hover-scale .mln-slider-thumb:hover {
  .mln-slider-thumb-caption {
    color: #ffffff;
    opacity: .25;
    transform: scale(2.5);
  }
}