[class*='-carousel'] {
  opacity: 0;
  transition: opacity .5s;
}

[class*='-carousel'].slick-initialized {
  opacity: 1;
}

.slick-slider:not(.slick-initialized) {
  opacity: 0;
  transition: opacity .2s;
}

.slick-slider.slick-initialized {
  visibility: visible !important
}

.slick-slider img {
  max-width: 100%;
}

.slick-slider.product-carousel .slick-slide {
  padding-right: 15px;
  padding-left: 15px;
  @media (max-width: $screen-sm-max) {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
  position: absolute;
  z-index: 1;
  top: calc(50% - 25px);
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $slick-circle_bg;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  line-height: 1em;
  border: 0;
  font-size: 0;
  outline: 0;
  cursor: pointer;
  transition: .2s;
  &:before {
    font-family: 'icomoon';
    position: relative;
    font-size: 14px;
    line-height: 1em;
    color: $slick-circle_color;
  }
  @media (hover: hover) {
    &:hover {
      opacity: .5;
    }
  }
}

.slick-slider .slick-prev {
  left: -90px;
  &:before {
    content: '\e906'
  }
}

.slick-slider .slick-next {
  right: -90px;
  &:before {
    content: '\e909'
  }
}

@media (max-width: 1460px) {
  .slick-slider .slick-prev {
    left: calc(-38vw + 38.5%);
  }
  .slick-slider .slick-next {
    right: calc(-38vw + 38.5%);
  }
}

.slick-slider.slick-squared-arrow {
  .slick-prev,
  .slick-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: $slick-squared_bg;
    color: $slick-squared_color;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: $slick-squared_border;
    &:hover {
      opacity: 1;
      background: $slick-squared-hover_bg;
      color: $slick-squared-hover_color;
      border-color: $slick-squared-hover_border;
    }
    &.slick-disabled {
      background: $slick-squared-disable_bg;
      color: $slick-squared-disable_color;
      border-color: $slick-squared-disable_border;
    }
  }
  .slick-prev {
    left: 0;
    top: 0;
  }
  .slick-prev:before {
    content: '\e906'
  }
  .slick-next {
    right: 0;
    top: 0;
  }
  .slick-next:before {
    content: '\e909'
  }
}

.slick-slider.slick-vertical.slick-squared-arrow {
  .slick-prev {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 10px;
  }
  .slick-prev:before {
    content: '\e938';
  }
  .slick-next {
    bottom: 0;
    left: 0;
  }
  .slick-next:before {
    content: '\e939';
  }
}

.slick-slider .slick-dots {
  position: relative;
  bottom: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 25px 0 25px;
  width: 100%;
  li {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    width: 44px;
    height: 24px;
    cursor: pointer;
    @media (max-width: $screen-sm-max) {
      width: auto;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  li button {
    border: 0;
    font-size: 0;
    padding: 0;
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 50%;
    background-color: $slick_dot_color;
    outline: 0;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      top: 50%;
      margin: -9px 0 0 -9px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid $slick_dot_active_color;
      opacity: 0;
      transform: scale(0);
      transition: .2s;
    }
  }
  li.slick-active button {
    background-color: $slick_dot_active_color;
    &:after {
      opacity: .6;
      transform: scale(1);
    }
  }
}

.slick-dots-white .slick-dots {
  li button {
    background-color: #fff;
    &:after {
      border-color: #fff;
    }
  }
  li.slick-active button {
    background-color: #fff;
  }
}

.slick-slide.z-high {
  z-index: 1;
}
