.container-wrap {
  margin-top: $section-v-space;
  @media (max-width: $screen-md-max) {
    margin-top: $section-v-space-md;
  }
  @media (max-width: $screen-sm-max) {
    margin-top: $section-v-space-sm;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: $section-v-space-xs;
  }
  &:not(.breadcrumb-wrap) > .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
}

@media (min-width: 1281px) {
  .container-wrap.breadcrumb-wrap > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.row.row-v-space {
  position: relative;
  margin-bottom: -30px;
  transform: translateY(-30px);
  @media (max-width: $screen-sm-max) {
    margin-bottom: -15px;
    transform: translateY(-15px);
  }
}

.row.row-v-space > [class*="col"] {
  margin-top: 30px;
  @media (max-width: $screen-sm-max) {
    margin-top: 15px;
  }
}

.row.row-v-space-sm {
  position: relative;
  margin-bottom: -10px;
  transform: translateY(-10px);
}

.row.row-v-space-sm > [class*="col"] {
  margin-top: 10px;
}

[class*='col'].order-2 {
  position: relative;
  z-index: 1;
}

@media (min-width: $screen-md-min) {
  .aside-sticky {
    position: sticky;
    top: 0;
    padding-top: 0;
    transition: padding .5s;
  }
  .has-sticky .aside-sticky {
    padding-top: 80px;
  }
  .aside-sticky-scroll {
    width: calc(100% + 17px);
    padding-right: 17px;
    position: relative;
  }
  .has-sticky .aside-sticky-scroll {
    max-height: calc(100vh - 80px);
  }
}

.ps {
  .ps__thumb-y {
    width: 8px !important;
  }
  .ps__thumb-x {
    height: 8px !important;
  }
  .ps__thumb-x, .ps__thumb-y {
    border-radius: 0;
    opacity: 1 !important;
    background-color: $color3 !important;
  }
  .ps__rail-y, .ps__rail-x {
    opacity: 1 !important;
    background-color: transparent !important;
  }
}