.banner-subscribe-style1 {
  position: relative;
  overflow: hidden;
  padding-top: 85px;
  padding-bottom: 85px;
  color: #fff;
  @media (max-width: $screen-sm-max) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .title-sub,
  h1,
  h2,
  h3 {
    color: #fff;
  }
  input.form-control {
    background: transparent;
    border-color: #5e5e60;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    @include placeholder {
      color: #fff;
    }
  }
  .btn {
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn:hover {
    color: $theme_color;
  }
}

.banner-subscribe-style1 > .container {
  position: relative;
  z-index: 1;
}

.banner-subscribe-style1 [class*='banner-subscribe-img-'] {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  img {
    height: 100%;
  }
}

.banner-subscribe-img-l {
  left: 0;
}

.banner-subscribe-img-r {
  right: 0;
}

.banner-subscribe-style1 .banner-subscribe-form {
  margin-top: 60px;
}

.banner-subscribe-style1 .banner-subscribe-form form {
  width: 485px;
  max-width: 100%;
  .btn {
    margin-left: 7px !important;
  }
}

@media (max-width: $screen-sm-max) {
  .banner-subscribe-style1 {
    input.form-control {
      width: 290px;
    }
  }
  .banner-subscribe-style1 .banner-subscribe-form {
    margin-top: 20px;
    form .btn {
      margin-left: 0 !important;
      margin-top: 15px;
    }
  }
}

// subscribe section style 2
.banner-subscribe-style2 {
  position: relative;
  padding-top: 85px;
  padding-bottom: 85px;
  color: $subscribe2_color;
  @media (max-width: $screen-sm-max) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .title-sub,
  h1,
  h2,
  h3 {
    color: $subscribe2_title_color;
  }
  input.form-control {
    margin-right: 10px;
    background: transparent;
    border-color: $subscribe2_input_border;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    color: $subscribe2_input_color;
    @include placeholder {
      color: $subscribe2_input_color;
    }
    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .btn {
    border-color: $subscribe2_button_border;
    background: $subscribe2_button_bg;
    color: $subscribe2_button_color;
    font-size: 19px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn:hover {
    border-color: $subscribe2_button_hover_border;
    background: $subscribe2_button_hover_bg;
    color: $subscribe2_button_hover_color;
  }
  .banner-subscribe-text {
    p:last-child {
      margin-bottom: 0;
    }
  }
  .banner-subscribe-form > * {
    width: 100%;
  }
  .banner-subscribe-form:not(:first-child) {
    margin-top: 40px;
  }
}

.banner-subscribe-style2 > .container {
  overflow: visible;
  position: relative;
}

.banner-subscribe-style2 > [class*='col']:first-child {
  position: static;
}

.banner-subscribe-style2 .banner-subscribe-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  margin-top: -50px;
  margin-left: -80px;
  z-index: 0;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  @media (max-width: $screen-lg-max) {
    height: 100%;
  }
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

// subscribe under footer
.subscribe-wrap {
  background-color: $footer_subscribe_bg;
}

.subscribe-row-image {
  position: relative;
  height: 100%;
  img {
    position: absolute;
    left: 0;
    top: 0;
    //max-width: 100%;
  }
}

@media (max-width: $screen-sm-max) {
  .subscribe-row-image-col {
    display: none;
  }
}

.subscribe-row {
  padding: 86px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $screen-lg-max) {
    background-position: 100% center;
  }
  @media (max-width: $screen-md-max) {
    flex-direction: column;
    padding: 50px 15px;
    background-position: 20% center;
  }
  &-title {
    color: #292929;
    font-size: 28px;
    line-height: 1em;
    font-weight: bold;
    @media (min-width: $screen-lg-min) {
      & + * {
        margin-top: 0;
        margin-left: 40px;
      }
    }
    @media (max-width: $screen-md-max) {
      font-size: 24px;
      text-align: center;
      & + * {
        margin-top: 20px;
      }
    }
  }
  & + * {
    padding-top: 50px;
    @media (max-width: $screen-sm-max) {
      padding-top: 30px;
    }
  }
  .form-group {
    display: flex;
    @media (max-width: $screen-md-max) {
      flex-direction: column;
      & > *:not(:first-child) {
        margin-top: 10px;
      }
    }
    @media (min-width: $screen-lg-min) {
      & > *:not(:first-child) {
        margin-left: 22px;
      }
    }
    .form-control {
      background-color: transparent;
      border-color: #d5d5da;
      color: #29292b;
      min-width: 270px;
      height: auto;
      flex: 1;
      @media (max-width: $screen-md-max) {
        min-width: 250px;
      }
      @include placeholder {
        color: #29292b;
      }
    }
    .btn {
      flex: 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.block-subscribe {
  & > .row {
    align-items: center;
  }
  &-form {
    border: 2px solid #2b2b2b;
    max-width: 370px;
    padding: 35px 50px 50px;
    margin: 0 auto;
    @media (max-width: $screen-sm-max) {
      padding: 25px 35px 35px;
    }
    .btn {
      width: 100%;
    }
    .btn,
    input[type="text"] {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
}
