@media (min-width: $screen-md-min) {
  .nav-tabs-mob {
    display: none;
  }
  .nav-tabs {
    display: flex;
    border: 0;
    a {
      display: block;
      color: $nav_tab_color;
      background: $nav_tab_bg;
      font-size: 13px;
      line-height: 23px;
      font-weight: 600;
      padding: 2px 15px;
    }
    a:hover {
      color: $nav_tab_hover_color;
      background: $nav_tab_hover_bg;
      text-decoration: none;
    }
    a.active {
      color: $nav_tab_active_color;
      background: $nav_tab_active_bg;
    }
  }
  .nav-tabs.justify-content-center a {
    margin: 0 10px;
  }
  .nav-tabs.justify-content-start a {
    margin-right: 20px;
  }
  .nav-tabs.justify-content-end a {
    margin-left: 20px;
  }
  .nav-tabs-dsk {
    margin-bottom: 50px;
  }
  .rounded-btns .nav-tabs a {
    border-radius: 13px;
  }
}

@media (max-width: $screen-sm-max) {
  .nav-tabs-dsk {
    display: none;
  }
  .nav-tabs-dsk + * {
    margin-top: 30px;
  }
  .nav-tabs-mob {
    position: relative;
    text-align: center;
  }
  .nav-tabs-mob + * {
    margin-top: 30px;
  }
  .nav-tabs-mob .nav {
    display: none;
  }
  .nav-tabs-mob.show .nav {
    display: block;
  }
}

.product-tabs,
.mln-tabs {
  .nav-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 27px;
    border: 0;
    a {
      display: block;
      color: $nav_tab_color;
      background: $nav_tab_bg;
      font-size: 13px;
      line-height: 23px;
      font-weight: 600;
      padding: 2px 15px;
    }
    a:hover {
      color: $nav_tab_hover_color;
      background: $nav_tab_hover_bg;
      text-decoration: none;
    }
    a.active {
      color: $nav_tab_active_color;
      background: $nav_tab_active_bg;
    }
    li {
      flex: 1;
      text-align: center;
      padding-left: 2px;
      @media (max-width: $screen-sm-max) {
        @include flexWidth(100%);
        padding: 2px 0 0;
      }
    }
    li:first-child {
      padding: 0;
    }
    li a {
      border: 1px solid $color3;
    }
  }
}

.mln-tabs .tab-content {
  padding: 30px 0 0;
  @media (max-width: $screen-sm-max) {
    padding: 15px 0 0;
  }
}

.product-tabs .tab-content {
  padding: 40px 100px 0;
  @media (max-width: $screen-lg-max) {
    padding: 30px 50px 0;
  }
  @media (max-width: $screen-sm-max) {
    padding: 15px 15px 0;
  }
}