.tags-list {
  @include listreset;
  li {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
  }
  li, li a {
    color: $color_dark;
  }
  li a {
    transition: all .15s
  }
  li a:hover {
    color: $theme_color;
    text-decoration: none;
  }
}