// main variables
$custom-font: 'Work Sans',sans-serif !default;
$section-v-space: 85px !default;
$section-v-space-md: 65px !default;
$section-v-space-sm: 50px !default;
$section-v-space-xs: 40px !default;
$color1: #3f3e3e !default; // menu link
$color2: #b5b5b5 !default;
$color3: #d5d5da !default;
$color4: #999a9b !default;
$color5: #e9e9e9 !default;
$body_color: $color4 !default;
$theme_color: #f2475f !default;
$color_dark: #2b2b2b !default;
$color_light: $color4 !default;
$container_full_pad: 60px !default;
$h_color: $color_dark !default;

// bg
$bg1: #f4e6de !default;
$bg2: #2b2b2b !default;
$bg3: #f3f3f3 !default;

// button
$btn_gradient: false !default;
$btn_simple: true !default;
$btn_bg: #2b2b2b !default;
$btn_bg_end: null !default;
$btn_color: #fff !default;
$btn_border: transparent !default;
$btn_border_width: 1px !default;
$btn_hover_bg: $theme_color !default;
$btn_hover_bg_end: null !default;
$btn_hover_color: #fff !default;
$btn_hover_border: transparent !default;

$btn-border_gradient: false !default;
$btn-border_simple: true !default;
$btn-border_bg: transparent !default;
$btn-border_bg_end: null !default;
$btn-border_color: $color4 !default;
$btn-border_border: $color4 !default;
$btn-border_border_width: 1px !default;
$btn-border_hover_bg: $theme_color !default;
$btn-border_hover_bg_end: null !default;
$btn-border_hover_color: #fff !default;
$btn-border_hover_border: $theme_color !default;

$btn_link_color: $color4 !default;
$btn_link_hover_color: #2d2d2d !default;

$btn_promo_bg: transparent !default;
$btn_promo_color: #79ca19 !default;
$btn_promo_hover_bg: #79ca19 !default;
$btn_promo_hover_color: #fff !default;

// labels
$label_sale_bg: $theme_color !default;
$label_sale_color: #fff !default;
$label_new_bg: #79ca19 !default;
$label_new_color: #fff !default;
$label_hot_bg: #fbaf0b !default;
$label_hot_color: #fff !default;


$title-sub_color: $color_light !default;
$title_decor_bg: $theme_color !default;
$dropdown_bg: #fff !default;
$dropdown_link_color: $color_dark !default;
$dropdown_link_active_color: $theme_color !default;
$dropdown_link_active_bg: transparent !default;
$dropdown_link_hover_color: #fff !default;
$dropdown_link_hover_bg: $color_dark !default;

// mini cart
$viewcart_btn_gradient: false !default;
$viewcart_btn_simple: true !default;
$viewcart_btn_bg: transparent !default;
$viewcart_btn_bg_end: transparent !default;
$viewcart_btn_color: #999a9b !default;
$viewcart_btn_border: #999a9b !default;
$viewcart_btn_hover_bg: $btn_hover_bg !default;
$viewcart_btn_hover_bg_end: $btn_hover_bg_end !default;
$viewcart_btn_hover_color: $btn_hover_color !default;
$viewcart_btn_hover_border: $btn_hover_border !default;

// rating
$rating_color: #f2d36a !default;

// forms
$form_bg_color: #fff !default;
$form_brd_color: $color3 !default;

// breakpoints
$screen-xs-min: 375px !default;
$screen-xxs-max: ($screen-xs-min - 1) !default;
$screen-sm-min: 576px !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-md-min: 768px !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-lg-min: 1025px !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-xlg-min: 1200px !default;
$screen-lg-max: ($screen-xlg-min - 1) !default;
$mobile-menu-breikpoint-min: $screen-lg-min !default;
$mobile-menu-breikpoint-max: ($mobile-menu-breikpoint-min - 1) !default;

// header
$header_bg: #fff !default;

$menu_link_color: $color_dark !default;
$menu_link_hover_color: #fff !default;
$menu_link_hover_bg: $color_dark !default;
$menu_link_arrow_color: $color2 !default;

$submenu_bg: #fff !default;
$submenu_border_top_color: $color_dark !default;

$submenu_title_color: $color_dark !default;
$submenu_link_color: $color_dark !default;
$submenu_link_hover_color: $theme_color !default;
$submenu_link_brd_color: $color5 !default;

$header_vertical_divider_bg: $color5 !default;

$header_link_color: $color1 !default;
$header_link_hover_color: $theme_color !default;
$header_link_arrow_color: $color2 !default;

$header_cart_icon_color: $header_link_color !default;
$header_cart_badge_color: #fff !default;
$header_cart_badge_bg: $theme_color !default;
$header_cart_bg: #f2f2f5 !default;

$header_row_custom_link_color: #9d9da5 !default;
$header_row_custom_link_hover_color: #9d9da5 !default;
$header_row_custom_link_bold_color: #2b2b2b !default;

$header_nav_custom_link_color: #9d9da5 !default;
$header_nav_custom_link_hover_color: #9d9da5 !default;
$header_nav_custom_link_bold_color: #2b2b2b !default;

$header_custom_link_color: #9d9da5 !default;
$header_custom_link_hover_color: #9d9da5 !default;
$header_custom_link_bold_color: #2b2b2b !default;

// header topline
$header_topline_bg: #29292b !default;
$header_topline_color: #9d9da5 !default;
$header_topline_link_color: #9d9da5 !default;
$header_topline_link_hover_color: #fff !default;
$header_topline_bold_color: #fff !default;
$header_topline_icon_color: #fff !default;
$header_topline_icon_hover_color: #fff !default;

// header mobile
$header_mobile_bg: #fff !default;
$header_mobile_divider_color: #d5d5da !default;
$header_mobile_link_color: $color1 !default;
$header_mobile_link_arrow_color: $color2 !default;
$header_mobile_cart_badge_color: #fff !default;
$header_mobile_cart_badge_bg: $theme_color !default;

// header sticky
$header-sticky_bg: #fff !default;

// mobile push menu
$pushmenu-max-width: 387px !default;

// pushmenu first level
$pushmenu_nav_color: $color1 !default;
$pushmenu_bg_color: #fff !default;
$pushmenu_brd_color: $color3 !default;
$pushmenu_nav_hover_color: $theme_color !default;
$pushmenu_nav_hover_bg: transparent !default;
$pushmenu_nav_active_color: $theme_color !default;
$pushmenu_nav_active_bg: transparent !default;

// pushmenu close/back button
$pushclose_color: #fff !default;
$pushclose_bg: transparent !default;

// pushmenu level label
$pushmenu_label_color: $theme_color !default;
$pushmenu_label_bg: transparent !default;

// pushmenu sublevel
$pushmenu_sub_nav_color: $color1 !default;
$pushmenu_sub_bg_color: $pushmenu_bg_color !default;
$pushmenu_sub_brd_color: $pushmenu_brd_color !default;
$pushmenu_sub_nav_hover_color: $theme_color !default;
$pushmenu_sub_nav_hover_bg: transparent !default;
$pushmenu_sub_nav_active_color: $theme_color !default;
$pushmenu_sub_nav_active_bg: transparent !default;

// pushmenu other links
$pushmenu_link_title_color: $h_color !default;
$pushmenu_link_color: $color1 !default;
$pushmenu_link_hover_color: $theme_color !default;
$pushmenu_link_active_color: $theme_color !default;

// modal
$modal_bg: #fff !default;
$modal_backdrop_bg: #000 !default;

// footer
$footer_bg: #fff !default;
$footer_topline_border: #d5d5da !default;
$footer_bot_bg: #2b2b2b !default;
$footer_bot_color: #999a9b !default;
$footer_bot_link_color: #999a9b !default;
$footer_bot_link_hover_color: #fff !default;
$footer_center_row2_color: #29292b !default;
$footer_center_row2_link_color: $theme_color !default;
$footer_center_row2_link_hover_color: $theme_color !default;
$footer_socials_color: #999a9b !default;
$footer_socials_hover_color: $theme_color !default;
$footer_list_title_color: $h_color !default;
$footer_list_link_color: $body_color !default;
$footer_list_link_hover_color: $body_color !default;
$footer_list_icons_color: $color_dark !default;
$footer_list_icons_icon_color: $color_dark !default;
$footer_list_icons_link_color: $theme_color !default;
$footer_list_icons_link_hover_color: $theme_color !default;
$footer_menu_link_color: #2b2b2b !default;
$footer_menu_link_hover_color: $theme_color !default;

$footer_blog_color: $body_color !default;
$footer_blog_title_color: $h_color !default;
$footer_blog_title_hover_color: $theme_color !default;

$footer_subscribe_input_bg: transparent !default;
$footer_subscribe_input_color: #2b2b2b !default;
$footer_subscribe_input_border: #ced4da !default;
$footer_subscribe_btn_gradient: false !default;
$footer_subscribe_btn_simple: true !default;
$footer_subscribe_btn_bg: transparent !default;
$footer_subscribe_btn_bg_end: null !default;
$footer_subscribe_btn_color: #2b2b2b !default;
$footer_subscribe_btn_border: #2b2b2b !default;
$footer_subscribe_btn_hover_bg: #2b2b2b !default;
$footer_subscribe_btn_hover_bg_end: null !default;
$footer_subscribe_btn_hover_color: #fff !default;
$footer_subscribe_btn_hover_border: transparent !default;

$footer_subscribe_bg: #f2f2f5;

// back to top button
$back-to-top_color: #fff !default;
$back-to-top_bg: $theme_color !default;
$back-to-top-hover_bg: $theme_color !default;

// slick
$slick_dot_color: $color_light !default;
$slick_dot_active_color: $theme_color !default;

$slick-circle_bg: #e9e9e9 !default
$slick-circle_color: $color_dark !default;

$slick-squared_bg: transparent !default;
$slick-squared_color: $color_dark !default;
$slick-squared_border: #d5d5da !default;
$slick-squared-disable_bg: transparent !default;
$slick-squared-disable_color: #d5d5da !default;
$slick-squared-disable_border: #d5d5da !default;
$slick-squared-hover_bg: transparent !default;
$slick-squared-hover_color: $color_dark !default;
$slick-squared-hover_border: $color_dark !default;

$opt_size_active_bg: #cacaca !default;
$opt_size_active_color: #fff !default;
$opt_size_hover_bg: #999a9b !default;
$opt_size_hover_color: #fff !default;

// slider
$slider_thumbnails_hover_border: #d9dadb !default;

// category banners
$category_banner2_bg: transparent !default;
$category_banner2_title_light_color: #fff !default;
$category_banner2_title_dark_color: $color_dark !default;
$category_banner2_hover_bg_start: $theme_color !default;
$category_banner2_hover_bg_end: $theme_color !default;

// customer reviews
$customer_review_title_sub_color: $title-sub_color !default;
$customer_review_title_color: $h_color !default;
$customer_review_color: $body_color !default;
$customer_review_rating: #f2d36a !default;

// tabs
$nav_tab_color: $color_dark !default;
$nav_tab_bg: transparent !default;
$nav_tab_hover_color: $color_dark !default;
$nav_tab_hover_bg: $color5 !default;
$nav_tab_active_color: #fff !default;
$nav_tab_active_bg: #cacaca !default;

// product card
$product_card_title_color: $h_color !default;
$product_card_title_hover_color: $theme_color !default;
$product_card_options_color: $body_color !default;
$product_card_options_name_color: $color_dark !default;
$product_card_price_color: $body_color !default;
$product_card_price_new_color: $theme_color !default;
$product_card_cart_color: $body_color !default;
$product_card_cart_hover_color: $theme_color !default;
$product_card_rating_color: #f2d36a !default;


$product_btn_options_gradient: false !default;
$product_btn_options_simple: true !default;
$product_btn_options_bg: transparent !default;
$product_btn_options_bg_end: null !default;
$product_btn_options_color: #999a9b !default;
$product_btn_options_border: #999a9b !default;
$product_btn_options_hover_bg: $btn_hover_bg !default;
$product_btn_options_hover_bg_end: null !default;
$product_btn_options_hover_color: $btn_hover_color !default;
$product_btn_options_hover_border: $btn_hover_border !default;

// desktop button
$product_link_oneclick_gradient: false !default;
$product_link_oneclick_simple: true !default;
$product_link_oneclick_bg: rgba(255, 255, 255, .5) !default;
$product_link_oneclick_bg_end: null !default;
$product_link_oneclick_color: $color_dark !default;
$product_link_oneclick_hover_bg: #fff !default;
$product_link_oneclick_hover_bg_end: null !default;
$product_link_oneclick_hover_color: $color_dark !default;

// mobile
$product_btn_oneclick_gradient: false !default;
$product_btn_oneclick_simple: true !default;
$product_btn_oneclick_bg: $btn_bg !default;
$product_btn_oneclick_bg_end: null !default;
$product_btn_oneclick_color: $btn_color !default;
$product_btn_oneclick_border: $btn_border !default;
$product_btn_oneclick_hover_bg: $btn_hover_bg !default;
$product_btn_oneclick_hover_bg_end: null !default;
$product_btn_oneclick_hover_color: $btn_hover_color !default;
$product_btn_oneclick_hover_border: $btn_hover_border !default;

$product_btn_addtocart_gradient: false !default;
$product_btn_addtocart_simple: true !default;
$product_btn_addtocart_bg: $btn_bg !default;
$product_btn_addtocart_bg_end: null !default;;
$product_btn_addtocart_color: $btn_color !default;
$product_btn_addtocart_border: $btn_border !default;
$product_btn_addtocart_hover_bg: $btn_hover_bg !default;
$product_btn_addtocart_hover_bg_end: null !default;
$product_btn_addtocart_hover_color: $btn_hover_color !default;
$product_btn_addtocart_hover_border: $btn_hover_border !default;

// product with dark bg
$product_darkbg_card_title_color: #fff !default;
$product_darkbg_card_title_hover_color: $theme_color !default;
$product_darkbg_card_options_color: $body_color !default;
$product_darkbg_card_options_name_color: #fff !default;
$product_darkbg_card_price_color: $body_color !default;
$product_darkbg_card_price_new_color: #fff !default;
$product_darkbg_card_cart_color: $body_color !default;
$product_darkbg_card_cart_hover_color: #fff !default;
$product_darkbg_rating_color: #f2d36a !default;

$product_darkbg_btn_options_gradient: false !default;
$product_darkbg_btn_options_simple: true !default;
$product_darkbg_btn_options_bg: transparent !default;
$product_darkbg_btn_options_bg_end: null !default;
$product_darkbg_btn_options_color: #fff !default;
$product_darkbg_btn_options_border: #fff !default;
$product_darkbg_btn_options_hover_bg: $btn_hover_bg !default;
$product_darkbg_btn_options_hover_bg_end: null !default;
$product_darkbg_btn_options_hover_color: $btn_hover_color !default;
$product_darkbg_btn_options_hover_border: $btn_hover_border !default;

$product_darkbg_btn_oneclick_gradient: false !default;
$product_darkbg_btn_oneclick_simple: true !default;
$product_darkbg_btn_oneclick_bg: #fff !default;
$product_darkbg_btn_oneclick_bg_end: null !default;
$product_darkbg_btn_oneclick_color: #2b2b2b !default;
$product_darkbg_btn_oneclick_border: #fff !default;
$product_darkbg_btn_oneclick_hover_bg: $btn_hover_bg !default;
$product_darkbg_btn_oneclick_hover_bg_end: null !default;
$product_darkbg_btn_oneclick_hover_color: $btn_hover_color !default;
$product_darkbg_btn_oneclick_hover_border: $btn_hover_border !default;

$product_darkbg_btn_addtocart_gradient: false !default;
$product_darkbg_btn_addtocart_simple: true !default;
$product_darkbg_btn_addtocart_bg: #fff !default;
$product_darkbg_btn_addtocart_bg_end: null !default;;
$product_darkbg_btn_addtocart_color: #2b2b2b !default;
$product_darkbg_btn_addtocart_border: #fff !default;
$product_darkbg_btn_addtocart_hover_bg: $btn_hover_bg !default;
$product_darkbg_btn_addtocart_hover_bg_end: null !default;
$product_darkbg_btn_addtocart_hover_color: $btn_hover_color !default;
$product_darkbg_btn_addtocart_hover_border: $btn_hover_border !default;

// product with color bg
$product_colorbg_card_title_color: #fff !default;
$product_colorbg_card_title_hover_color: #fff !default;
$product_colorbg_card_options_color: #fff !default;
$product_colorbg_card_options_name_color: #fff !default;
$product_colorbg_card_price_color: #fff !default;
$product_colorbg_card_price_new_color: #fff !default;
$product_colorbg_card_cart_color: #fff !default;
$product_colorbg_card_cart_hover_color: #fff !default;
$product_colorbg_rating_color: #fff !default;
$product_colorbg_slick_dot_color: #fff !default;

$product_colorbg_btn_options_gradient: false !default;
$product_colorbg_btn_options_simple: true !default;
$product_colorbg_btn_options_bg: transparent !default;
$product_colorbg_btn_options_bg_end: null !default;
$product_colorbg_btn_options_color: #fff !default;
$product_colorbg_btn_options_border: #fff !default;
$product_colorbg_btn_options_hover_bg: $btn_hover_bg !default;
$product_colorbg_btn_options_hover_bg_end: null !default;
$product_colorbg_btn_options_hover_color: $btn_hover_color !default;
$product_colorbg_btn_options_hover_border: $btn_hover_border !default;

$product_colorbg_btn_oneclick_gradient: false !default;
$product_colorbg_btn_oneclick_simple: true !default;
$product_colorbg_btn_oneclick_bg: $btn_bg !default;
$product_colorbg_btn_oneclick_bg_end: null !default;
$product_colorbg_btn_oneclick_color: $btn_color !default;
$product_colorbg_btn_oneclick_border: $btn_border !default;
$product_colorbg_btn_oneclick_hover_bg: $btn_hover_bg !default;
$product_colorbg_btn_oneclick_hover_bg_end: null !default;
$product_colorbg_btn_oneclick_hover_color: $btn_hover_color !default;
$product_colorbg_btn_oneclick_hover_border: $btn_hover_border !default;

$product_colorbg_btn_addtocart_gradient: false !default;
$product_colorbg_btn_addtocart_simple: true !default;
$product_colorbg_btn_addtocart_bg: $btn_bg !default;
$product_colorbg_btn_addtocart_bg_end: null !default;;
$product_colorbg_btn_addtocart_color: $btn_color !default;
$product_colorbg_btn_addtocart_border: $btn_border !default;
$product_colorbg_btn_addtocart_hover_bg: $btn_hover_bg !default;
$product_colorbg_btn_addtocart_hover_bg_end: null !default;
$product_colorbg_btn_addtocart_hover_color: $btn_hover_color !default;
$product_colorbg_btn_addtocart_hover_border: $btn_hover_border !default;

// subscribe banner
$subscribe2_color: #fff !default;
$subscribe2_title_color: #fff !default;
$subscribe2_input_color: #fff !default;
$subscribe2_input_border: #5e5e60 !default;
$subscribe2_button_bg: transparent !default;
$subscribe2_button_border: transparent !default
$subscribe2_button_color: #fff !default;
$subscribe2_button_hover_bg: transparent !default;
$subscribe2_button_hover_color: $theme_color !default;
$subscribe2_button_hover_border: transparent !default;

// from blog
$from_blog_title_color: $h-color !default;
$from_blog_title_hover_color: $theme_color !default;
$from_blog_text_color: $body_color !default;
$from_blog_date_color: $body_color !default;
$from_blog3_title_color: $h-color !default;
$from_blog3_title_hover_color: $theme_color !default;
$from_blog3_text_color: $body_color !default;
$from_blog3_date_color: $body_color !default;
$from_blog3_text_bg: #fff !default;
$from_blog3_hover_title_color: #fff !default;
$from_blog3_hover_title_hover_color: $theme_color !default;
$from_blog3_hover_text_color: #999a9b !default;
$from_blog3_hover_date_color: #fff !default;
$from_blog3_hover_text_bg: #292929 !default;

// brands
$brands_carousel_bg: $bg3 !default;

// creative slider
$slider_nav_color: #fff !default;
$slider_nav_hover_color: $theme_color !default;

// counter
$counter_color: $color_dark !default;
$counter_border: $color_dark !default;

// counter banner1
$banner_counter1_title_sub_color: $title-sub_color !default;
$banner_counter1_title_color: $h_color !default;
$banner_counter1_decor_color: $title_decor_bg !default;
$banner_counter1_counter_color: $counter_color !default;
$banner_counter1_counter_border: $counter_border !default;

// text card
$text_card_bg: #fff !default;
$text_card_color: $body_color !default;
$text_card_title_sub_color: $title-sub_color !default;
$text_card_title_color: $h_color !default;
$text_card_decor_color: $title_decor_bg !default;

// gallery
$gallery_caption_text_color: #fff !default;

// options size, etc
$options_border: #d5d5d5 !default;
$options_color: #2b2b2b !default;
$options_bg: #fff !default;
$options-hover_border: #2b2b2b !default;
$options-hover_color: #2b2b2b !default;
$options-hover_bg: #fff !default;
$options-active_border: #2b2b2b !default;
$options-active_color: #d5d5d5 !default;
$options-active_bg: #2b2b2b !default;

// options color
$options-color_border: #5a5a5a !default;
$options-color_bg: #fff !default;
$options-color-hover_border: #2b2b2b !default;
$options-color-hover_bg: #fff !default;
$options-color-active_border: #2b2b2b !default;
$options-color-active_bg: #fff !default;
$options-color-active-hover_bg: #2b2b2b !default;

// instagram
$instagram-hover_bg: #2b2b2b !default;
$instagram-icon_color: #fff !default;