/*----------------------------------------

	Theme Name: Milana HTML5 eCommerce Template
	Author: NikoBand
	Author URI: http://themeforest.net/user/nikoband
	Version: 1.0.0

-----------------------------------------*/
/*----------------------------------------

[Table of contents]

1. Main Structure
2. Typography
  2.1 Main Typography elements
  2.2 Form elements
  2.3 Button
  2.4 Counters
  2.5. Reviews
  2.6. Tags
  2.7. Tabs
  2.8. Map
  2.9 Modals
3. Header
  3.1. Header Structure
  3.2. Header Prebuilt Color Schemes
  3.3. Expand search
  3.4. Sidecart
4. Mobile Menu
5. Footer
6. Slider
7. Product
8. Product Page
9. Filters
10. Category Banners
11. Collection Slider
12. Brands
13. Pages
  13.1 Autorization
  13.2 Account
  13.3 Cart
  13.4 Gallery
  13.5 About
  13.6 Gift
  13.7 404
  13.8 FAQ
  13.9 Coming Soon
  13.10 Lookbook
14. Plugins
  14.1. Magnific popup plugin
  14.2. Instafeed
  14.3. Slick
  14.4. Nicescroll
15. Blog

---------------------------------------*/

$theme_color: #49dfff;
$body_color: #999a9b;
$title_decor_bg: #45e96b;
$btn_bg: #45e96b;
$btn_bg_end: #49dfff;
$label_new_bg: #79ca19;
$label_new_color: #fff;
$header_bg: #49dfff;
$header-sticky_bg: #49dfff;
$menu_link_arrow_color: #29292b;
$menu_link_hover_color: #fff;
$menu_link_hover_bg: #29292b;
$header_vertical_divider_bg: #41b1ca;
$header_link_color: #29292b;
$header_link_hover_color: #fff;
$header_link_arrow_color: #29292b;
$header_cart_badge_color: #29292b;
$header_cart_badge_bg: #fff;
$header_topline_bg: #29292b;
$header_topline_color: #9d9da5;
$header_topline_link_color: #9d9da5;
$header_topline_link_hover_color: #fff;
$header_topline_bold_color: #9d9da5;
$header_topline_icon_color: #9d9da5;
$header_topline_icon_hover_color: #fff;
$btn_gradient: true;
$btn_simple: false;
$btn_bg: #45e96b;
$btn_bg_end: #49dfff;
$btn_color: #fff;
$btn_hover_bg: #49dfff;
$btn_hover_bg_end: #45e96b;
$btn_hover_color: #fff;
$slider_thumbnails_hover_border: #fff;
$category_banner2_hover_bg_start: #45e96b;
$category_banner2_hover_bg_end: #49dfff;
$product_card_price_color: $body_color;
$product_card_price_new_color: $body_color;

@import "mixin";
@import "variables";
/* 1. Main Structure */
@import "loader";
@import "lazy";
@import "structure";
/* 2. Typography */
/* 2.1 Main Typography elements */
@import "typography";
/* 2.2 Form elements */
@import "forms";
@import "input-count";
@import "subscribe";
/* 2.3 Button */
@import "button";
/* 2.4 Counters */
@import "counter";
/* 2.5. Reviews */
@import "reviews";
/* 2.6. Tags */
@import "tags";
/* 2.7. Tabs */
@import "tabs";
/* 2.8. Map */
@import "google-map";
/* 2.9 Modals */
@import "modal";
/* 3. Header */
/* 3.1. Header Structure */
@import "header";
/* 3.2. Header Prebuilt Color Schemes */
@import "header-color-schemes";
/* 3.3. Expand search */
@import "search";
/* 3.4. Sidecart */
@import "sidecart";
/* 4. Mobile Menu */
@import "mobile-menu";
/* 5. Footer */
@import "footer";
/* 6. Slider */
@import "slider";
/* 7. Product */
@import "product";
/* 8. Product Page */
@import "product-page";
/* 9. Filters */
@import "filters";
/* 10. Category Banners */
@import "category-banner";
/* 11. Collection Slider */
@import "collection-slider";
/* 12. Brands */
@import "brands";
/* 13. Pages */
/* 13.1 Autorization */
@import "autorization-page";
/* 13.2 Account */
@import "account";
/* 13.3 Cart */
@import "cart-page";
/* 13.4 Gallery */
@import "gallery";
/* 13.5 About */
@import "about";
/* 13.6 Gift */
@import "gift";
/* 13.7 404 */
@import "page404";
/* 13.8 FAQ */
@import "faq";
/* 13.9 Coming Soon */
@import "coming-soon";
/* 13.10 Lookbook */
@import "lookbook";
/* 14. Plugins */
/* 14.1. Magnific popup plugin */
@import "popup";
/* 14.2. Instafeed */
@import "instafeed";
/* 14.3. Slick */
@import "slick";
/* 14.4. Nicescroll */
@import "nicescroll";
/* 15. Blog */
@import "from-blog";
@import "blog";
@import "recent-post";